@charset "utf-8";

/*
 *
 * ===== テーマCSS [Urban] =====
 *
 */


/* ========================================


    そのほかのコンポーネント


   ======================================== */



/* ========================================


    ページレイアウト


   ======================================== */

/* ----------------------------------------

    全体

   ---------------------------------------- */

body {
  background-color: #F5F5F5;
}

/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */

/*
 * --- ヘッダー ---
 */

#page-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #2F363E;
  z-index: 10;
}

.status-pinch-out #page-header {
  display: none !important;
}


/*
 * --- ヘッダー画像 ---
 */

#header-image {
  margin: 8px 0 0 20px;
}

#header-image img {
  max-height: 32px;
}


/*
 * --- ヘッダータイトル ---
 */

#header-title {
  margin-right: 300px;
  padding: 13px 0 0 15px;
  color: #FFFFFF;
  cursor: default;
}

#header-title.search {
  margin-right: 30px;
}

#header-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFFFFF;
}


/*
 * --- ヘッダーボタン（XS） ---
 */

#header-button {
  position: absolute;
  top: 8px;
  left: 8px;
}

#header-button a {
  display: block;
  width: 31px;
  height: 31px;
  padding-top: 3.3px;
  line-height: 1;
  text-align: center;
  font-size: 26px;
  color: #2F363E;
  background-color: #FFFFFF;
  border-radius: 16px;
}

#header-button a::after {
  content: '\e117';
  font-family: 'Metrize-Icons';
}

.status-menu-closed #header-button a::after {
  content: '\e0f5';
}

#header-button a:hover {
  background-color: #FFFFC0;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #header-title {
    padding-left: 50px;
  }

  #header-image {
    margin-left: 50px;
    padding-top: 5px;
  }

  #header-image img {
    max-height: 22px;
  }

}

/* --- XXSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 480px) {
  #header-title {
    margin-right: 140px;
  }
}


/* ----------------------------------------

    検索

   ---------------------------------------- */

/*
 * --- 検索エリア ---
 */

#page-search {
  position: absolute;
  top: 11px;
  right: 30px;
}


/*
 * --- 検索ボックス ---
 */

#page-search form {
}

#page-search input {
  max-width: 250px;
  min-height: 24px;
  padding: 2px 40px 1px 15px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

#page-search input:focus {
  background-color: #FFFFE6;
}

/* --- プレースフォルダー（[,]で連結すると適用されません） --- */
#page-search input:-ms-input-placeholder { color: #B0B0B0; }
#page-search input::-webkit-input-placeholder { color: #B0B0B0; }
#page-search input::-moz-placeholder { color: #B0B0B0; }



/*
 * --- 検索ボタン ---
 */

#page-search button {
  position: absolute;
  top: -1px;
  right: -5px;
  padding: 1px 8px;
  font-size: 22px;
  border: none;
  background: none;
  color: #2F363E;
}

#page-search button:hover {
  color: #FF9100;
}

/* --- XXSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 480px) {

  #page-search {
    right: 10px;
  }

  #page-search input {
    max-width: 120px;
  }

}


/* ----------------------------------------

    メニュー

   ---------------------------------------- */

#page-menu {
  position: fixed;
  left: 0;
  top: 50px;
  width: 280px;
  max-width: 95vw;
  height: 100vh;
  background-color: #E9E9E9;
  z-index: 10;
  transition: left 0.5s;
}

.status-menu-closed #page-menu {
  left: -280px;
}


/*
 * --- メニューヘッダー ---
 */

#nav-menu-header {
  position: absolute;
  top: 5px;
  right: 10px;
  transition: right 0.5s;
}

.status-menu-closed #nav-menu-header  {
  right: -30px;
}

#nav-menu-header a {
  margin-left: 5px;
  font-size: 24px;
  color: #2F363E;
}

#nav-menu-header a:hover {
  color: #FF9100;
}

#nav-menu-header a:active {
  color: #E08000;
}

/* --- パネルの開閉 --- */

#nav-menu-header .btn-view-switch {
}

/* --- すべてを開く --- */

#nav-menu-header .btn-expand-menu {
}

#nav-menu-header .btn-expand-menu.expanded .icon-top-bottom::before {
  content: '\e0d3';
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #nav-menu-header {
    display: none;
  }

}


/*
 * --- メニューコンテンツ ---
 */

#page-menu nav {
}

#page-menu .nav-menu-container {
  margin-top: 40px;
}

#page-menu .nav-menu-content {
}

#page-menu .nav-menu-content ul {
  padding: 0 8px;
}

/* --- メニューリスト --- */

#page-menu .nav-menu-list {
}

#page-menu .nav-menu-list li {
  position: relative;
  list-style: none;
  margin-bottom: 2px;
  padding: 2px 2px 0 0;
}

#page-menu .nav-menu-list a {
  display: block;
  margin-left: 25px;
  padding: 3px 5px 3px 5px;
  line-height: 1.3;
  color: #404040;
}

#page-menu .nav-menu-list li ul {
  margin-left: 10px;
  padding: 0 3px 0 0;
  font-size: 13px;
}

#page-menu .nav-menu-list a:hover {
  background-color: #D0D9E0;
  border-radius: 5px;
}

#page-menu .nav-menu-list li.active > a {
  color: #FFFFFF !important;
  background-color: #FF9100 !important;
  border-radius: 4px;
}

#page-menu .nav-menu-list li.expanded {
  padding-bottom: 3px;
  background-color: #546E7A;
  border-radius: 5px;
}

#page-menu .nav-menu-list li.expanded a {
  color: #FFFFFF;
}

#page-menu .nav-menu-list li.expanded a:hover {
  color: #FFFF90;
  background-color: #546E7A;
}

#page-menu .nav-menu-list > li > ul {
  display: none;
}



/* --- アイコン ---  */
#page-menu .nav-menu-list .icon {
  position: absolute;
  display: inline-block;
}

#page-menu .nav-menu-list .group > .icon {
  cursor: pointer;
}

#page-menu .nav-menu-list .group > .icon::before {
  content: '\e250';
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 3px 5px;
  font-size: 12px;
  color: #546E7A;
}

#page-menu .nav-menu-list .group.expanded > .icon::before {
  content: '\e252';
  color: #FFFFFF;
}

#page-menu .nav-menu-list .group > .icon:hover::before {
  color: #FF9100;
}




/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu .nav-menu-container {
    margin-top: 10px;
  }

}


/* ----------------------------------------

    ページの移動ナビゲーション

   ---------------------------------------- */

#page-relation {
  margin-left: 280px;
  padding-top: 50px;
  transition: margin-left 0.5s;
}

.status-menu-closed #page-relation {
  margin-left: 20px;
}


/*
 * --- パンくずリスト ---
 */

.nav-breadcrumb {
  margin: 5px 0 5px 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.nav-breadcrumb > ol {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb > ol li {
  float: left;
  font-size: 12px;
  line-height: 1;
}

.nav-breadcrumb > ol li a {
  display: inline-block;
  padding: 1px 5px;
  color: #2F363E;
  border-radius: 10px;
}

.nav-breadcrumb > ol li a:hover {
  color: #FF9100;
}

.nav-breadcrumb > ol li a:active {
  color: #E08000;
}

/* --- やじるし --- */

.nav-breadcrumb > ol li::after {
  content: '/';
  color: #C0C0C0;
}

.nav-breadcrumb > ol li:last-child::after {
  display: none;
}


/* --- ホーム --- */

.nav-breadcrumb > ol li:first-child a::before {
  font-family: 'Glyphicons Halflings';
  content: '\e021';
  padding-right: 5px;
  vertical-align: top;
}

/* --- 現在地 --- */

.nav-breadcrumb > ol li:last-child {
  margin-left: 10px;
  padding: 1px 0;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

   #page-relation,
  .status-menu-closed #page-relation {
    margin-left: 0;
  }

}



/*
 * --- ページシーケンス ---
 */

.nav-sequence {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 40px;
  background-color: #546E7A;
}

.nav-sequence a {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 40px;
  padding-top: 14px;
  padding-bottom: 9px;
  line-height: 1;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

.nav-sequence a.available:hover {
  background-color: #FF9100;
}

.nav-sequence a.available:active {
  background-color: #E08000;
}

.nav-sequence a:first-child {
  left: 0;
  padding-left: 40px;
  padding-right: 15px;
}

.nav-sequence a:last-child {
  right: 0;
  padding-left: 15px;
  padding-right: 40px;
  text-align: right;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::after {
  position: absolute;
  font-family: 'Metrize-Icons';
  font-size: 21px;
  top: 10px;
}

.nav-sequence a:first-child::before {
  content: '\e112';
  left: 10px;
}

.nav-sequence a:last-child::after {
  content: '\e104';
  right: 10px;
}

.nav-sequence a.unavailable {
  background-color: #E0E0E0;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  .nav-sequence a span {
    display: none;
  }

}


/* ----------------------------------------

    フッター

   ---------------------------------------- */

/*
 * --- フッター ---
 */

#page-footer {
  width: 100%;
}


/*
 * --- ページの先頭へ ---
 */

#page-footer .to-page-top {
  margin-top: 20px;
  text-align: right;
}

#page-footer .to-page-top a {
  padding: 3px 10px 3px 4px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #546E7A;
  border-radius: 20px;
}

#page-footer .to-page-top a::before {
  content: '\e0fe';
  font-family: 'Metrize-Icons';
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

#page-footer .to-page-top a:hover {
  background-color: #FF9100;
}

#page-footer .to-page-top a:active {
  background-color: #E08000;
}

/*
 * --- コピーライト ---
 */

#page-footer-copyright .copyright {
  margin: 5px 30px 15px 300px;
  transition: margin-left 0.5s;
}

#page-footer-copyright .copyright p {
  text-align: center;
  line-height: 1.3;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #909090;
}

.status-menu-closed #page-footer-copyright .copyright {
  margin-left: 40px;
}


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- 本文 ---
 */

#page-content {
  position: relative;
  overflow: hidden;
  margin: 0 30px 20px 300px;
  padding: 70px 40px 20px 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: margin-left 0.5s;
}

#page-content.search {
  padding: 20px 40px 20px 40px;
}

.status-menu-closed #page-content {
  margin-left: 40px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .status-menu-closed #page-content {
    margin-left: 10px;
  }

}


/*
 * --- 見出し ---
 */

#page-content h2 {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: bold;
}



/* ========================================


    汎用コンポーネント


   ======================================== */

/* ----------------------------------------

    箇条書き

   ---------------------------------------- */

ol.option01 > li:before {
  background-color: #2F363E;
}

/* ----------------------------------------

    メニューリスト（子ページへのリンク）

   ---------------------------------------- */

.childpages-macro {
  padding-left: 15px;
  margin-top: 5px;
}

.childpages-macro li {
}

.childpages-macro li a {
  display: block;
  position: relative;
  padding: 6px 35px 5px 15px;
  color: #FFFFFF;
  background-color: #546E7A;
  border-radius: 15px;
  vertical-align: middle;
}
.childpages-macro li a:hover { background-color: #FF9100; }
.childpages-macro li a:active { background-color: #E08000; }

.childpages-macro li a::after {
  content: '\e104';
  font-family: 'Metrize-Icons';
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -8px;
}



/* - eof. */
