/*  */
/* --------------------- */
/******************************************************
	ja-jp
*******************************************************/

* {
	font-family: Meiryo, "メイリオ", "MS UI Gothic" , Verdana, Arial, Helvetica, sans-serif;
}

/* header */

#searchBtn,
#sSearchBtn {
	background: url(../img/btn_search.png) no-repeat 0 0;
}
#searchBtn:hover {
	background-position: 0 0;
}



/* Navi */

#Navi > ul a {
	background-image: url(../img/menu_tab.png);
	width: 113px;
}
#Navi > ul li.tab1 a { background-position: 0 0; }
#Navi > ul li.tab2 a { background-position: -120px 0; }
#Navi > ul li.tab1 a:hover { background-position: 0 -25px; }
#Navi > ul li.tab2 a:hover { background-position: -120px -25px; }
#Navi > ul li.tab1.ui-state-active a { background-position: 0 -25px; }
#Navi > ul li.tab2.ui-state-active a { background-position: -120px -25px; }

#categoryNavi.hide {
	background-image: url(../img/menu_slider_hide_bg.png);
}

/*
#header #globalNav li.naviTop,
#header #globalNav li.naviPrintout {
	border-width: 0 1px;
}
#header #globalNav li.navi1 {
	border-left-width: 1px;
}
#header #globalNav li.naviSitemap {
	border-right-width: 1px;
}

#header #globalNav li span {
	line-height: inherit;
}
*/







/*
	Top page
*/

#moreRec a {
	background-image: url(../img/btn_more_recommend.png);
}
#moreRec a:hover {
	background-position: 0 -30px;
}



#mainNavi .navLeft a {
	background-image: url(../img/btn_function.png);
}


#mainNavi .navLeft #navCenterItems a,
#mainNavi .navCenter a {
	background-image: url(../img/btn_maintenance.png);
}























