@charset "utf-8";

/* --------------------------------
デザイン設定
-------------------------------- */

body {
    background-color: #fff0f5;
    text-align: left;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 119px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 2;
}

header #logo {
    position: absolute;
    top: 8px;
    left: 8px;
}

header #head_number {
    color: #033;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

header #nav {
    width: 400px;
    text-align: right;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

header #nav img {
    padding-left: 8px;
}

nav {
    width: 100%;
    background-color: #fff0f5;
    position: fixed;
    left: 0;
    top: 120px;
    z-index: 9;
}

nav li {
    float: left;
    height: 36px;
    line-height: 2.7em;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

nav li:nth-child(n + 1) {
    width: 16%;
    text-align: center;
}

nav li a {
    padding: 0 0.2em;
    display: block;
}

nav li:nth-child(n + 1):hover {
    background-color: #efd3da;
}

nav ul input[type=checkbox] {
    position: absolute;
    opacity: 0;
    display: none;
}

nav li:first-child {
    width: 20%;
    text-align: left;
    background-color: #eee;
    padding: 0 0.4em;
}

nav li p#menu_toggle {
    display: block;
}

nav li:first-child:hover {
    background-color: #ccc;
}


/*		nav li p#menu_toggle::after {
	content: "▽";
	position: absolute;
	right: 1.2em; top: 0.2em;
}*/

article {
    margin: 156px 0 120px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #ffffe0;
    border-top: 1px solid #ccc;
    z-index: 2;
}

footer address {
    width: 360px;
    text-align: center;
    font-size: 0.9em;
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin-left: -180px;
}


/* フッター内の両端に戻る、ページトップに戻る各リンクを配置 */

footer p#prev_link {
    text-align: left;
    width: 135px;
    position: absolute;
    left: 16px;
    bottom: 24px;
}

footer p#prev_link a {
    background-image: url("../images_common/arrow_03.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
    display: block;
}

footer p#next_link {
    text-align: right;
    width: 135px;
    position: absolute;
    right: 16px;
    bottom: 24px;
}

footer p#next_link::after {
    content: " >> ";
    color: #00F;
}

footer p#top_link {
    text-align: left;
    width: 150px;
    position: absolute;
    right: 16px;
    bottom: 24px;
}

footer p#top_link a {
    background-image: url("../images_common/arrow_04.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
    display: block;
}

#index_foot {
    height: 60px;
}

.anchor {
    display: block;
    padding-top: 172px;
    margin-top: -172px;
}

a.up_link {
    display: block;
    background-color: navy;
    border-radius: 6px;
    width: 27px;
    height: 27px;
    color: white;
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 32px;
}

#container {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #fff;
}

#index_container {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #fff;
}

#main {
    margin: 0 2% 120px 22%;
    padding: 0.8em 0 1.2em 0;
}

#side_menu {
    width: 20%;
    float: left;
    position: fixed;
    top: 157px;
    bottom: 60px;
    overflow-y: auto;
    background-color: #eee;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    /*			z-index: 9;*/
}

.accordion,
.accordion_none {
    width: 100%;
    line-height: 1.6em;
}

.accordion p,
.accordion_none p {
    cursor: pointer;
    padding: 0.8em 1.6em 0.8em 0.4em;
    background: #eee;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.accordion a .accordion_none a {
    display: block;
}

p.has_child::after {
    content: "";
    width: 14px;
    height: 9px;
    background-image: url("../images_common/arrow_05.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 0.2em;
}

.accordion .inner {
    display: none;
}

.accordion .inner li {
    padding: 0.8em 0.2em 0.8em 0.8em;
    background-color: #fff;
    border-left: 6px solid #8f2e14;
    border-bottom: 2px solid #ccc;
}


/* ページング */

#nav_wrap {
    width: 96%;
    margin: 0 auto;
}

#nav_wrap ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 84px;
    padding: 0;
}

#nav_wrap li#nav_box1,
#nav_wrap li#nav_box2,
#nav_wrap li#nav_box3,
#nav_wrap li#nav_box4,
#nav_wrap li#nav_box5 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    list-style-type: none;
    margin: 0;
}

#nav_wrap li#nav_box1,
#nav_wrap li#nav_box2 {
    text-align: left;
}

#nav_wrap li#nav_box1 span,
#nav_wrap li#nav_box2 span {
    vertical-align: middle;
    margin-left: 2em;
    display: block;
    position: relative;
}

#nav_wrap li#nav_box4,
#nav_wrap li#nav_box5 {
    text-align: right;
}

#nav_wrap li#nav_box4 span,
#nav_wrap li#nav_box5 span {
    vertical-align: middle;
    margin-right: 2em;
    display: block;
    position: relative;
}

#nav_wrap li#nav_box1,
#nav_wrap li#nav_box5 {
    /*	width: 18%; */
}

#nav_wrap li#nav_box2,
#nav_wrap li#nav_box4 {
    width: 44%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#nav_wrap li#nav_box3 {
    text-align: center;
    width: 12%;
}

#nav_wrap li#nav_box1 span::before {
    content: "";
    width: 17px;
    height: 13px;
    background-image: url("../images_common/icon_prev_2.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: -1.4em;
    margin-top: -6px;
}

#nav_wrap li#nav_box2 span::before {
    content: "";
    width: 9px;
    height: 13px;
    background-image: url("../images_common/icon_prev_1.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: -0.8em;
    margin-top: -6px;
}

#nav_wrap li#nav_box3 span::before {
    content: "| ";
}

#nav_wrap li#nav_box3 span::after {
    content: " |";
}

#nav_wrap li#nav_box4 span::after {
    content: "";
    width: 9px;
    height: 13px;
    background-image: url("../images_common/icon_next_1.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: -0.8em;
    margin-top: -6px;
}

#nav_wrap li#nav_box5 span::after {
    content: "";
    width: 17px;
    height: 13px;
    background-image: url("../images_common/icon_next_2.gif");
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: -1.4em;
    margin-top: -6px;
}

#nav_wrap li#nav_box1 a,
#nav_wrap li#nav_box2 a,
#nav_wrap li#nav_box3 a,
#nav_wrap li#nav_box4 a,
#nav_wrap li#nav_box5 a {
    display: block;
}


/* ページング終了 */


/* ぱんくずリスト */

#topicpath {
    margin-top: 8px;
    margin-bottom: 16px;
}

#topicpath ol li {
    display: inline;
    /* liを横並び＆ブレットを消す */
}

#topicpath ol li::before {
    content: " > ";
    /* liの前に記号追加 */
}

#topicpath ol li:first-child::before {
    content: none;
    /* 最初のliだけcontentを消す */
}


/* ぱんくずリスト終了 */


/* --------------------------------
表紙スタイル
-------------------------------- */

.cover1 {
    font-size: 3.2em;
    color: #033;
    text-align: right;
    font-weight: 800;
    line-height: 1em;
    padding-right: 0;
    padding-top: 16px;
}

.cover1 img {
    max-width: 100%;
}

.cover2 {
    font-size: 1.9em;
    color: #033;
    text-align: right;
    font-weight: bold;
    line-height: 1.7em;
    padding-right: 0;
    padding-top: 32px;
}

.cover3 {
    font-size: 3.0em;
    color: #033;
    text-align: right;
    font-weight: bold;
    line-height: 1.5em;
    padding-right: 0;
    padding-top: 32px;
}

.cover5 {
    font-size: 1.3em;
    text-align: right;
    color: #033;
    line-height: 1.1em;
    padding-top: 72px;
    padding-right: 0;
}

#cover_contents_list {
    font-size: 1.7em;
    font-weight: bold;
    line-height: 1.4em;
    padding-top: 128px;
    padding-left: 0;
    padding-bottom: 128px;
    padding-right: 0;
}

.coverbox {
    border: 1px solid #999;
    width: 100%;
    height: auto;
    padding: 1px 8px;
    margin: 2px auto 1em;
}

ul.coverlist {
    margin: 8px 4px 8px 24px;
}

ul.coverlist li {
    list-style-position: outside;
    list-style-type: disc;
    /* リストマーカー：decimal->算用数字（ex. disc->黒丸、upper-roman->大文字のローマ数字） */
    padding-left: 0.2em;
}

.covertxt {
    margin: 8px 4px;
    /* 両端揃えにする（ <- できてない） */
    /*	text-align-last: justify;	*/
    /* chrome、firefox */
    /*  text-justify: inter-ideograph;	*/
    /* IE、edge */
}

.head_0 {
    font-size: 3.2em;
    color: #033;
    text-align: center;
    font-weight: bold;
    line-height: 3em;
    margin-top: 128px;
}


/* --------------------------------
タイトルスタイル設定
-------------------------------- */

.head_5 dl {
    width: 100%;
    color: #ff7f50;
    line-height: 1.4em;
    margin-bottom: 8px;
}

.head_5 dl dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
    font-size: 1.6em;
}

.head_5 dl dd {
    font-size: 1.4em;
    padding: 0 0 4px 150px;
    border-bottom: 1px solid #ff7f50;
}

.head_1 dl,
.head_a1 dl {
    width: 100%;
    color: #8b4513;
    line-height: 1.9em;
    margin-bottom: 8px;
}

.head_2 dl,
.head_a2 dl {
    width: 100%;
    color: #8b4513;
    line-height: 1.6em;
    margin-bottom: 8px;
}

.head_3 dl,
.head_a3 dl {
    width: 100%;
    color: #8b4513;
    line-height: 1.3em;
    margin-bottom: 8px;
}

.head_4 dl,
.head_a4 dl {
    width: 100%;
    color: #8b4513;
    line-height: 1.3em;
    margin-bottom: 8px;
}

.head_1 dl dt,
.head_2 dl dt,
.head_3 dl dt,
.head_4 dl dt,
.head_a1 dl dt,
.head_a2 dl dt,
.head_a3 dl dt,
.head_a4 dl dt {
    float: left;
    font-weight: bold;
    padding: 0 0 4px 0;
    clear: both;
}

.head_1 dl dt,
.head_a1 dl dt {
    font-size: 2.4em;
}

.head_2 dl dt,
.head_a2 dl dt {
    font-size: 2.2em;
}

.head_3 dl dt,
.head_a3 dl dt {
    font-size: 2em;
}

.head_4 dl dt,
.head_a4 dl dt {
    font-size: 1.8em;
}

.head_1 dl dd,
.head_2 dl dd,
.head_3 dl dd,
.head_4 dl dd,
.head_a1 dl dd,
.head_a2 dl dd,
.head_a3 dl dd,
.head_a4 dl dd {
    padding: 0 0 8px 0px;
    font-weight: bold;
}

.head_1 dl dd,
.head_a1 dl dd {
    font-size: 1.9em;
    border-bottom: 3px solid #8b4513;
}

.head_2 dl dd,
.head_a2 dl dd {
    font-size: 1.7em;
    border-bottom: 3px double #8b4513;
}

.head_3 dl dd,
.head_a3 dl dd {
    font-size: 1.5em;
    border-bottom: 2px solid #8b4513;
}

.head_4 dl dd,
.head_a4 dl dd {
    font-size: 1.3em;
    border-bottom: 1px solid #8b4513;
}


/*.head_5 {
font-size: 1.6em;
color: #ff7f50;
margin-bottom: 8px;
padding-bottom: 4px;
border-bottom: 1px solid #ff7f50;
}*/

.head_n1 {
    font-size: 1.9em;
    line-height: 1.6em;
    font-weight: bold;
    color: #ff7f50;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 2px solid #ff7f50;
}

.head_n2 {
    font-size: 1.7em;
    line-height: 1.3em;
    font-weight: bold;
    color: #8b4513;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 2px solid #8b4513;
}

.head_n3 {
    font-size: 1.5em;
    line-height: 1.0em;
    font-weight: bold;
    color: #8b4513;
    margin-bottom: 8px;
    padding-bottom: 4px;
    border-bottom: 2px solid #8b4513;
}


/* --------------------------------
段落スタイル設定
-------------------------------- */


/* 上下に1本線 */

.sub_a {
    font-size: 1.2em;
    font-weight: bold;
    color: #008b8b;
    border-top: 1px solid #008b8b;
    border-bottom: 1px solid #008b8b;
    padding: 0.1em 0.4em 0;
    margin: 1.5em 0 0.5em;
}


/* 左側に2本線下に1本線 */

.sub_b {
    position: relative;
    /* margin-top: 24px; */
    padding: 0.1em 0.4em 0;
    margin: 1.5em 0 0.5em;
    border-left: 6px solid #008b8b;
    border-bottom: 1px solid #008b8b;
    font-size: 1.2em;
    font-weight: bold;
    color: #008b8b;
}

.sub_b::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    margin-top: 0;
    height: 25px;
    border-left: 1px solid #008b8b;
}


/* ラインなし */

.sub_c {
    font-size: 1.2em;
    font-weight: bold;
    color: #008b8b;
    padding: 0.1em 0.1em 0;
    margin: 1.5em 0 0.5em;
}

.lead_01 {
    margin: 0 0 0.1em 0;
}

.lead_02 {
    margin: 0 0 0.1em 1.8em;
}

.lead_03 {
    margin: 0 0 0.1em 3.6em;
}

.lead_04 {
    margin: 0 0 0.1em 5.4em;
}

.lead_05 {
    margin: 0 0 0.1em 7.2em;
}

.lead_06 {
    margin: 0 0 0.1em 9.0em;
}

.lead_07 {
    margin: 0 0 0.1em 10.8em;
}

ul.sub02_a {
    margin: 1.5em 0 0.2em 2em;
    /*	margin-bottom: 8px;
	margin-left: 2em;	*/
    /* マーカーを2文字寄せた分、ULにマージンを設定*/
}

ul.sub02_a li::before {
    content: none;
    content: "■";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    line-height: 0.6em;
    margin-left: -2em;
    /* 2文字分、左に寄せる */
    padding-right: 1.1em;
}

ul.sub02_a li p:first-child {
    font-size: 1.1em;
    margin-top: -1.1em;
}

ul.sub02_a li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.3em;
    /* 2行目微調整 */
}

ul.sub02bold_a {
    margin: 1.5em 0 0.2em 2em;
    /*	margin-bottom: 8px;
	margin-left: 2em;	*/
    /* マーカーを2文字寄せた分、ULにマージンを設定*/
}

ul.sub02bold_a li::before {
    content: none;
    content: "■";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    line-height: 0.6em;
    margin-left: -2em;
    /* 2文字分、左に寄せる */
    padding-right: 1.1em;
}

ul.sub02bold_a li p:first-child {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: -1.1em;
}

ul.sub02bold_a li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.3em;
    /* 2行目微調整 */
}

ul.sub02_b {
    margin: 1.1em 0 0 2em;
    /*		margin-bottom: 8px;
	margin-left: 2em;	*/
    /* マーカーを2文字寄せた分、ULにマージンを設定*/
}

ul.sub02_b li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    line-height: 0.6em;
    margin-left: -2em;
    /* 2文字分、左に寄せる */
    padding-right: 1.1em;
}

ul.sub02_b li p:first-child {
    font-size: 1.1em;
    margin-top: -1.1em;
}

ul.sub02_b li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.4em;
    /* 2行目微調整 */
}

ul.sub02bold_b {
    margin: 1.1em 0 0 2em;
    /*	margin-bottom: 8px;
	margin-left: 2em;	*/
    /* マーカーを2文字寄せた分、ULにマージンを設定*/
}

ul.sub02bold_b li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    line-height: 0.6em;
    margin-left: -2em;
    /* 2文字分、左に寄せる */
    padding-right: 1.1em;
}

ul.sub02bold_b li p:first-child {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: -1.5em;
}

ul.sub02bold_b li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.4em;
    /* 2行目微調整 */
}

ul.sub02_c {
    margin: 1.5em 0 0.2em 0;
    /*	margin-bottom: 8px;
	margin-left: 0;	*/
    /* マーカーを0文字寄せた分、ULにマージンを設定*/
}

ul.sub02_c li p:first-child {
    font-size: 1.1em;
}

ul.sub02_c li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.4em;
    /* 2行目微調整 */
}

ul.sub02bold_c {
    margin: 1.5em 0 0.2em 0.4em;
    /*	margin-bottom: 8px;
	margin-left: 0;	*/
    /* マーカーを0文字寄せた分、ULにマージンを設定*/
}

ul.sub02bold_c li p:first-child {
    font-size: 1.1em;
    font-weight: bold;
}

ul.sub02bold_c li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.4em;
    /* 2行目微調整 */
}

ul.sub03 {
    margin-bottom: 8px;
    margin-left: 2em;
    /* マーカーを2文字寄せた分、ULにマージンを設定*/
}

ul.sub03 li p:first-child {
    font-size: 1.1em;
}

ul.sub03 li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.4em;
    /* 2行目微調整 */
}

ul.sub03bold {
    margin-bottom: 8px;
    margin-left: 2em;
    /* マーカーを2文字寄せた分、ULにマージンを設定*/
}

ul.sub03bold li p:first-child {
    font-size: 1.1em;
    font-weight: bold;
}

ul.sub03bold li p {
    font-size: 1em;
    font-weight: normal;
    margin-left: -0.4em;
    /* 2行目微調整 */
}

ul.list_01 {
    margin: 0.1em 0 0.2em 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 2.1em;	*/
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
}

ul.list_01 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_01 {
    margin: -0.2em 0 0.2em 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 1.7em;	*/
    /* マーカーを1.7文字寄せた分、ULにマージンを設定*/
}

ul.list_02 {
    margin: 0.1em 0 0.2em 3.9em;
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 3.9em;	*/
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
}

ul.list_02 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_02 {
    margin: -0.2em 0 0.2em 3.9em;
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 3.5em;	*/
    /* マーカーを3.5文字寄せた分、ULにマージンを設定*/
}

ul.list_03 {
    margin: -0.2em 0 0.2em 5.7em;
    /* マーカーを5.7文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 5.7em;	*/
    /* マーカーを5.7文字寄せた分、ULにマージンを設定*/
}

ul.list_03 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_03 {
    margin: -0.2em 0 0.2em 5.7em;
    /* マーカーを5.7文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 5.3em;	*/
    /* マーカーを5.3文字寄せた分、ULにマージンを設定*/
}

ul.list_04 {
    margin: -0.2em 0 0.2em 7.5em;
    /* マーカーを7.5文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 7.5em;	*/
    /* マーカーを7.5文字寄せた分、ULにマージンを設定*/
}

ul.list_04 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_04 {
    margin: -0.2em 0 0.2em 7.5em;
    /* マーカーを7.5文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 7.1em;	*/
    /* マーカーを7.1文字寄せた分、ULにマージンを設定*/
}

ul.list_05 {
    margin: -0.2em 0 0.2em 9.3em;
    /* マーカーを9.3文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 9.3em;	*/
    /* マーカーを9.3文字寄せた分、ULにマージンを設定*/
}

ul.list_05 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_05 {
    margin: -0.2em 0 0.2em 9.3em;
    /* マーカーを9.3文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 8.9em;	*/
    /* マーカーを8.9文字寄せた分、ULにマージンを設定*/
}

ul.list_06 {
    margin: -0.2em 0 0.2em 11.1em;
    /* マーカーを11.1文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 11.1em;	*/
    /* マーカーを11.1文字寄せた分、ULにマージンを設定*/
}

ul.list_06 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_06 {
    margin: -0.2em 0 0.2em 11.1em;
    /* マーカーを11.1文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 10.7em;	*/
    /* マーカーを10.7文字寄せた分、ULにマージンを設定*/
}

ul.list_07 {
    margin: -0.2em 0 0.2em 12.9em;
    /* マーカーを12.9文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 12.9em;	*/
    /* マーカーを12.9文字寄せた分、ULにマージンを設定*/
}

ul.list_07 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.listl2_07 {
    margin: -0.2em 0 0.2em 12.9em;
    /* マーカーを12.9文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 8px;
	margin-left: 12.5em;	*/
    /* マーカーを12.5文字寄せた分、ULにマージンを設定*/
}

ul.list_-01 {
    margin: -0.2em 0 0.2em 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 2.1em;	*/
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
}

ul.list_-01 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

ul.list_-02 {
    margin: -0.2em 0 0.2em 3.9em;
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 3.9em;	*/
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
}

ul.list_-02 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

ul.list_-03 {
    margin: -0.2em 0 0.2em 5.7em;
    /* マーカーを5.7文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 5.7em;	*/
    /* マーカーを5.7文字寄せた分、ULにマージンを設定*/
}

ul.list_-03 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

ul.list_-04 {
    margin: -0.2em 0 0.2em 7.5em;
    /* マーカーを7.5文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 7.5em;	*/
    /* マーカーを7.5文字寄せた分、ULにマージンを設定*/
}

ul.list_-04 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

ul.list_-05 {
    margin: -0.2em 0 0.2em 9.3em;
    /* マーカーを9.3文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 9.3em;	*/
    /* マーカーを9.3文字寄せた分、ULにマージンを設定*/
}

ul.list_-05 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

ul.list_-06 {
    margin: -0.2em 0 0.2em 11.1em;
    /* マーカーを11.1文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 11.1em;	*/
    /* マーカーを11.1文字寄せた分、ULにマージンを設定*/
}

ul.list_-06 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

ul.list_-07 {
    margin: -0.2em 0 0.2em 12.9em;
    /* マーカーを12.9文字寄せた分、ULにマージンを設定*/
    /*	margin-bottom: 4px;
	margin-left: 12.9em;	*/
    /* マーカーを12.9文字寄せた分、ULにマージンを設定*/
}

ul.list_-07 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}

dl.list_n01 {
    margin-bottom: 4px;
    margin-left: 0;
}

dl.list_n01 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n01 dd {
    padding: 0 0 4px 2.4em;
}

dl.listl2_n01 {
    margin-bottom: 4px;
    margin-left: 1.7em;
    /* マーカーを1.7文字寄せた分、ULにマージンを設定*/
}

dl.list_n02 {
    margin-bottom: 4px;
    margin-left: 1.8em;
}

dl.list_n02 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n02 dd {
    padding: 0 0 4px 2.4em;
}

dl.list_n03 {
    margin-bottom: 4px;
    margin-left: 3.6em;
}

dl.list_n03 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n03 dd {
    padding: 0 0 4px 2.4em;
}

dl.list_n04 {
    margin-bottom: 4px;
    margin-left: 5.4em;
}

dl.list_n04 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n04 dd {
    padding: 0 0 4px 2.4em;
}

dl.list_n05 {
    margin-bottom: 4px;
    margin-left: 7.2em;
}

dl.list_n05 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n05 dd {
    padding: 0 0 4px 2.4em;
}

dl.list_n06 {
    margin-bottom: 4px;
    margin-left: 9.0em;
}

dl.list_n06 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n06 dd {
    padding: 0 0 4px 2.4em;
}

dl.list_n07 {
    margin-bottom: 4px;
    margin-left: 10.8em;
}

dl.list_n07 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
}

dl.list_n07 dd {
    padding: 0 0 4px 2.4em;
}

dl.step_01 {
    margin-bottom: 0;
    margin-left: 0;
}

dl.step_01 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
    font-size: 1.1em;
}

dl.step_01 dd {
    padding: 0 0 4px 2.1em;
    font-size: 1.1em;
}

dl.step_02 {
    margin-bottom: 0;
    margin-left: 1.8em;
}

dl.step_02 dt {
    float: left;
    padding: 0 0 4px 0;
    clear: both;
    font-size: 0.9em;
}

dl.step_02 dd {
    padding: 0 0 4px 2.4em;
    font-size: 0.9em;
}

.step_para01 {
    margin-bottom: 8px;
    margin-left: 2.3em;
}

ul.step_list01 {
    margin-bottom: 8px;
    margin-left: 4.5em;
    /* マーカーを4.5文字寄せた分、ULにマージンを設定*/
}

ul.step_list01 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -2em;
    /* 2文字分、左に寄せる */
    padding-right: 1em;
}

ul.step_arrow01 {
    margin-bottom: 0;
    margin-left: 4.5em;
    /* マーカーを4.5文字寄せた分、ULにマージンを設定*/
}

ul.step_arrow01 li::before {
    content: none;
    content: "→";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    font-size: 1.4em;
    font-weight: bolder;
    margin-left: -2.2em;
    /* 2.4文字分、左に寄せる */
    padding-right: 0.8em;
}

.step_para02 {
    margin-bottom: 8px;
    margin-left: 4.1em;
}

ul.step_list02 {
    margin-bottom: 0px;
    margin-left: 6.4em;
    /* マーカーを4.5文字寄せた分、ULにマージンを設定*/
}

ul.step_list02 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -2em;
    /* 2文字分、左に寄せる */
    padding-right: 1.2em;
}

.step_para03 {
    margin-bottom: 8px;
    margin-left: 6em;
}

ol.lead_list03_L1 {
    margin-left: 1.2em;
    margin-bottom: 8px;
}

ol.lead_list03_L1 li {
    list-style-type: none;
    display: marker;
    list-style-position: outside;
    list-style-type: decimal;
    /* リストマーカー：decimal->算用数字（ex. disc->黒丸、upper-roman->大文字のローマ数字） */
    padding-left: 0.8em;
}

ol.lead_list03_L1 li::before {
    content: none;
}

ol.lead_list04_L1 {
    margin-left: 2em;
    margin-bottom: 8px;
}

ol.lead_list04_L1 li {
    list-style-type: none;
    display: marker;
    list-style-position: outside;
    counter-increment: cnt;
}

ol.lead_list04_L1 li::before {
    content: "（" counter(cnt) "）";
    margin-left: -2.6em;
    /* 2.6文字分、左に寄せる */
    padding-right: 1em;
}

table.index2_example03-3 {
    margin-left: 21px;
    width: 100%;
}

table.index2_example03-3 td:nth-of-type(1) {
    width: 5%;
    text-align: left;
    vertical-align: top;
}

table.index2_example03-3 td:nth-of-type(2) {
    width: 45%;
    text-align: left;
    vertical-align: top;
    position: relative;
}

table.index2_example03-3 td:nth-of-type(2) span {
    position: relative;
    width: auto;
    z-index: 2;
    display: inline-block;
    padding: 0 4px;
    background-color: #fff;
    /* 破線を文字部分のバックグラウンドで隠す*/
}

table.index2_example03-3 td:nth-of-type(2)::before {
    position: absolute;
    top: 0.7em;
    left: 0;
    z-index: 1;
    content: "";
    display: block;
    /* 横幅99％、太さ1pxの破線を描く*/
    width: 99%;
    border-top: 1px dashed #000;
}

table.index2_example03-3 td:nth-of-type(3) {
    width: 50%;
    text-align: left;
    vertical-align: top;
}

.list_table {
    width: 94%;
    margin: 0 auto 36px;
    border-collapse: separate;
    background: #999;
    border-spacing: 1px;
}

.list_table th {
    text-align: center;
    padding: 6px;
    background: #ccc;
}

.list_table td,
.list_table td1,
.list_table td2 {
    padding: 6px 8px;
    background: #fff;
}


/* --------------------------------
段落スタイル（タブ付き）設定
-------------------------------- */

dl.lead01_tab01 dt,
dl.lead01_tab02 dt,
dl.lead01_tab03 dt,
dl.lead01_tab04 dt,
dl.lead01_tab05 dt,
dl.lead01_tab06 dt {
    float: left;
    padding: 0 0 0.1em 0;
    clear: both;
}

dl.lead01_tab01 dd {
    margin-left: 3.6em;
}

dl.lead01_tab02 dd {
    margin-left: 7.2em;
}

dl.lead01_tab03 dd {
    margin-left: 10.8em;
}

dl.lead01_tab04 dd {
    margin-left: 14.4em;
}

dl.lead01_tab05 dd {
    margin-left: 18em;
}


/*dl.lead01_tab06 dd {
margin-left: 21.6em;
}*/

dl.lead01_tab06 dd {
    margin-left: 32.4em;
}

dl.lead02_tab01 dt,
dl.lead02_tab02 dt,
dl.lead02_tab03 dt,
dl.lead02_tab04 dt,
dl.lead02_tab05 dt,
dl.lead02_tab06 dt {
    float: left;
    margin: 0 0 0.1em 1.8em;
    clear: both;
}

dl.lead02_tab01 dd {
    margin-left: 5.4em;
}

dl.lead02_tab02 dd {
    margin-left: 8.4em;
}

dl.lead02_tab03 dd {
    margin-left: 12.6em;
}

dl.lead02_tab04 dd {
    margin-left: 16.2em;
}

dl.lead02_tab05 dd {
    margin-left: 19.8em;
}


/*dl.lead02_tab06 dd {
margin-left: 23.4em;
}*/

dl.lead02_tab06 dd {
    margin-left: 34.2em;
}

dl.lead03_tab01 dt,
dl.lead03_tab02 dt,
dl.lead03_tab03 dt,
dl.lead03_tab04 dt,
dl.lead03_tab05 dt,
dl.lead03_tab06 dt {
    float: left;
    margin: 0 0 0.1em 3.6em;
    clear: both;
}

dl.lead03_tab01 dd {
    margin-left: 7.2em;
}

dl.lead03_tab02 dd {
    margin-left: 10.8em;
}

dl.lead03_tab03 dd {
    margin-left: 14.4em;
}

dl.lead03_tab04 dd {
    margin-left: 18em;
}

dl.lead03_tab05 dd {
    margin-left: 21.6em;
}


/*dl.lead03_tab06 dd {
margin-left: 25.2em;
}*/

dl.lead03_tab06 dd {
    margin-left: 36.0em;
}

.code01largebold {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 0.1em 0;
}

.code01large {
    font-size: 1.2em;
    padding: 0 0 0.1em 0;
}

.code01bold {
    font-weight: bold;
    padding: 0 0 0.1em 0;
}

.code01 {
    padding: 0 0 0.1em 0;
}

.code02largebold {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 0.1em 1.2em;
}

.code02large {
    font-size: 1.2em;
    padding: 0 0 0.1em 1.2em;
}

.code02bold {
    font-weight: bold;
    padding: 0 0 0.1em 1.2em;
}

.code02 {
    padding: 0 0 0.1em 1.2em;
}

.code03largebold {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 0.1em 2.4em;
}

.code03large {
    font-size: 1.2em;
    padding: 0 0 0.1em 2.4em;
}

.code03bold {
    font-weight: bold;
    padding: 0 0 0.1em 2.4em;
}

.code03 {
    padding: 0 0 0.1em 2.4em;
}

dl.code01_tab01 dt,
dl.code01_tab02 dt,
dl.code01_tab03 dt,
dl.code01_tab04 dt,
dl.code01_tab05 dt,
dl.code01_tab06 dt {
    float: left;
    padding: 0 0 0.1em 0;
    clear: both;
}

dl.code01_tab01 dd {
    margin-left: 3.3em;
}

dl.code01_tab02 dd {
    margin-left: 6.6em;
}

dl.code01_tab03 dd {
    margin-left: 9.9em;
}

dl.code01_tab04 dd {
    margin-left: 13.2em;
}

dl.code01_tab05 dd {
    margin-left: 16.5em;
}


/*dl.code01_tab06 dd {
margin-left: 19.8em;
}*/

dl.lead03_tab06 dd {
    margin-left: 30.6em;
}

dl.code02_tab01 dt,
dl.code02_tab02 dt,
dl.code02_tab03 dt,
dl.code02_tab04 dt,
dl.code02_tab05 dt,
dl.code02_tab06 dt {
    float: left;
    padding: 0 0 0.1em 1.2em;
    clear: both;
}

dl.code02_tab01 dd {
    margin-left: 4.5em;
}

dl.code02_tab02 dd {
    margin-left: 7.8em;
}

dl.code02_tab03 dd {
    margin-left: 11.1em;
}

dl.code02_tab04 dd {
    margin-left: 14.4em;
}

dl.code02_tab05 dd {
    margin-left: 17.7em;
}


/*dl.code02_tab06 dd {
margin-left: 21em;
}*/

dl.code02_tab06 dd {
    margin-left: 31.8em;
}

dl.code03_tab01 dt,
dl.code03_tab02 dt,
dl.code03_tab03 dt,
dl.code03_tab04 dt,
dl.code03_tab05 dt,
dl.code03_tab06 dt {
    float: left;
    padding: 0 0 0.1em 2.4em;
    clear: both;
}

dl.code03_tab01 dd {
    margin-left: 5.7em;
}

dl.code03_tab02 dd {
    margin-left: 9em;
}

dl.code03_tab03 dd {
    margin-left: 12.3em;
}

dl.code03_tab04 dd {
    margin-left: 15.6em;
}

dl.code03_tab05 dd {
    margin-left: 18.9em;
}


/*dl.code03_tab06 dd {
margin-left: 22.2em;
}*/

dl.code03_tab06 dd {
    margin-left: 33.0em;
}

dl.lead01_tab01::after,
dl.code01_tab01::after,
dl.lead01_tab02::after,
dl.code01_tab02::after,
dl.lead01_tab03::after,
dl.code01_tab03::after,
dl.lead01_tab04::after,
dl.code01_tab04::after,
dl.lead01_tab05::after,
dl.code01_tab05::after,
dl.lead01_tab06::after,
dl.code01_tab06::after,
dl.lead02_tab01::after,
dl.code02_tab01::after,
dl.lead02_tab02::after,
dl.code02_tab02::after,
dl.lead02_tab03::after,
dl.code02_tab03::after,
dl.lead02_tab04::after,
dl.code02_tab04::after,
dl.lead02_tab05::after,
dl.code02_tab05::after,
dl.lead02_tab06::after,
dl.code02_tab06::after,
dl.lead03_tab01::after,
dl.code03_tab01::after,
dl.lead03_tab02::after,
dl.code03_tab02::after,
dl.lead03_tab03::after,
dl.code03_tab03::after,
dl.lead03_tab04::after,
dl.code03_tab04::after,
dl.lead03_tab05::after,
dl.code03_tab05::after,
dl.lead03_tab06::after,
dl.code03_tab06::after {
    content: "";
    clear: both;
    display: block;
}


/* --------------------------------
MTスタイル設定
-------------------------------- */

.m01 span,
.t01 span,
.m02 span,
.t02 span,
.m03 span,
.t03 span {
    width: 48px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
}

.mt01 span.mt01_m,
.mt01 span.mt01_t,
.mt02 span.mt02_m,
.mt02 span.mt02_t,
.mt03 span.mt03_m,
.mt03 span.mt03_t {
    display: inline-block;
    width: 23px;
    height: 24px;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
}

.m01 span,
.t01 span {
    margin: 2px 0 12px;
}

.mt01 {
    margin: 2px 0 12px;
}

.mtend01 {
    border-top: 1px dotted #000;
    margin: 4px 0 16px 0;
}

.m02 span,
.t02 span {
    margin: 2px 0 12px 1.2em;
}

.mt02 {
    margin: 2px 0 12px 1.7em;
}

.mtend02 {
    border-top: 1px dotted #000;
    margin: 4px 0 16px 1.7em;
}

.m03 span,
.t03 span {
    margin: 2px 0 12px 2.5em;
}

.mt03 {
    margin: 2px 0 12px 3.5em;
}

.mtend03 {
    border-top: 1px dotted #000;
    margin: 4px 0 16px 3.5em;
}

.m01 span,
.mt01 span.mt01_m,
.m02 span,
.mt02 span.mt02_m,
.m03 span,
.mt03 span.mt03_m {
    background-color: #000;
    color: #fff;
}

.m01 span::before,
.mt01 span.mt01_m::before,
.m02 span::before,
.mt02 span.mt02_m::before,
.m03 span::before,
.mt03 span.mt03_m::before {
    content: "M";
}

.t01 span,
.mt01 span.mt01_t,
.t02 span,
.mt02 span.mt02_t,
.t03 span,
.mt03 span.mt03_t {
    background-color: #fff;
    color: #000;
}

.t01 span::before,
.mt01 span.mt01_t::before,
.t02 span::before,
.mt02 span.mt02_t::before,
.t03 span::before,
.mt03 span.mt03_t::before {
    content: "T";
}


/* 文字の横に横線を引く */

.m01,
.t01,
.mt01,
.m02,
.t02,
.mt02,
.m03,
.t03,
.mt03 {
    overflow: hidden;
    text-align: left;
}

.m01 span,
.t01 span,
.mt01 span.mt01_t,
.m02 span,
.t02 span,
.mt02 span.mt02_t,
.m03 span,
.t03 span,
.mt03 span.mt03_t {
    display: inline-block;
    padding: 0;
    position: relative;
}

.m01 span::after,
.t01 span::after,
.mt01 span.mt01_t::after,
.m02 span::after,
.t02 span::after,
.mt02 span.mt02_t::after,
.m03 span::after,
.t03 span::after,
.mt03 span.mt03_t::after {
    border-top: 1px dotted #000;
    content: "";
    position: absolute;
    top: 50%;
    width: 99em;
}

.m01 span::after,
.t01 span::after,
.mt01 span.mt01_t::after,
.m02 span::after,
.t02 span::after,
.mt02 span.mt02_t::after,
.m03 span::after,
.t03 span::after,
.mt03 span.mt03_t::after {
    left: 100%;
}


/* --------------------------------
テーブルスタイル設定
-------------------------------- */

.content_table,
.content_table_noBorder {
    width: 100%;
    margin: 0 auto 16px;
}

.content_table th,
.content_table_noBorder th {
    text-align: center;
    vertical-align: middle;
    padding: 2px 2px;
}

.content_table th {
    background-color: #ccc;
}

.content_table td,
.content_table_noBorder td {
    text-align: left;
    vertical-align: middle;
    padding: 2px 6px;
}

.content_table_flexible {
    margin: 0 auto 16px;
    width: 60%;
}

.content_table_flexible th {
    text-align: center;
    vertical-align: middle;
    padding: 2px 2px;
    background-color: #ccc;
}

.content_table_flexible td {
    text-align: left;
    vertical-align: middle;
    padding: 2px 6px;
}

.content_table,
.content_table th,
.content_table td,
.content_table_flexible,
.content_table_flexible th,
.content_table_flexible td {
    border: 1px solid #999;
}


/* 項目セル内上中揃え配置 */

table.table_item-TC td {
    text-align: center;
    vertical-align: top;
    padding: 2px 2px;
}


/* 項目セル内上左揃え配置 */

table.table_item-TL td {
    text-align: left;
    vertical-align: top;
    padding: 2px 6px;
}


/* 項目セル内中中揃え配置 */

table.table_item-MC td {
    text-align: center;
    vertical-align: middle;
    padding: 2px 2px;
}


/* 項目セル内中左揃え配置 - default */

table.table_item-ML td {
    text-align: left;
    vertical-align: middle;
    padding: 2px 6px;
}


/* 摘要セル内、項目セル内上中揃え配置 */

th.table_title-TC,
td.table_item-TC {
    text-align: center;
    vertical-align: top;
    padding: 2px 2px;
}


/* 摘要セル内、項目セル内上左揃え配置 */

th.table_title-TL,
td.table_item-TL {
    text-align: left;
    vertical-align: top;
    padding: 2px 6px;
}


/* 摘要セル内（default）、項目セル内中中揃え配置 */

th.table_title-MC,
td.table_item-MC {
    text-align: center;
    vertical-align: middle;
    padding: 2px 2px;
}


/* 摘要セル内、項目セル内（default）中左揃え配置 */

th.table_title-ML,
td.table_item-ML {
    text-align: left;
    vertical-align: middle;
    padding: 2px 6px;
}


/* 表の下中央寄せでキャプションを表示 */

.tableCaption-BC {
    caption-side: bottom;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 0;
}


/* 表の下左寄せでキャプションを表示 */

.tableCaption-BL {
    caption-side: bottom;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 0;
}


/* 表の下右寄せでキャプションを表示 */

.tableCaption-BR {
    caption-side: bottom;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 0;
}


/* 表の上中央寄せでキャプションを表示 */

.tableCaption-TC {
    caption-side: top;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 0;
}


/* 表の上左寄せでキャプションを表示 */

.tableCaption-TL {
    caption-side: top;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 0;
}


/* 表の上右寄せでキャプションを表示 */

.tableCaption-TR {
    caption-side: top;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    margin: 2px 0;
}


/* セルのバックグラウンドをグレイにする */

.td_bgGray {
    background-color: #ccc;
}


/* セルのバックグラウンドを白にする */

.th_bgWhite {
    background-color: #fff;
}


/* 表の下部にリード文を表示 */

.table_text01 {
    margin: -12px 0 16px 0;
}

.table_text02 {
    margin: -12px 0 16px 27px;
}

.table_text03 {
    margin: -12px 0 16px 54px;
}

.histry_list_hosoku {
    padding-left: 36px;
}


/* --------------------------------
目次スタイル設定
-------------------------------- */

.contents_list {
    font-size: 1.5em;
    font-weight: bold;
    margin: 24px 16px 8px;
}


/* --------------------------------
索引スタイル設定
-------------------------------- */

.index_list {
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 24px 16px 8px;
}


/* 索引見出し部分 */

.index_list label span {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

.index_list label span::before {
    content: "＜";
}

.index_list label span::after {
    content: "＞";
}


/* --------------------------------
画像スタイル設定
-------------------------------- */


/* 画像の下中央にキャプションを表示 */

figure {
    margin: 0 auto 16px;
    text-align: center;
}

figcaption {
    font-size: 0.9em;
    font-weight: bold;
    margin: -1.2em 0 0.2em;
}

img.drawio-diagram-image {
    max-width: 100%;
    margin: 1em auto;
}

img.fig01_c {
    max-width: 90%;
    margin: 1em auto;
}

img.show_image {
    max-width: 50%;
    margin: 1em auto;
    cursor: pointer;
}


/* 例文画像貼り付け */

img.ex_image {
    max-width: 90%;
    margin: 0.2em auto 1em;
}


/* インライングラフィック */

.inline_graphic {
    max-height: 32px;
    vertical-align: middle;
    margin: 2px 4px;
}


/* 文章の囲み枠を表示 */

.content_box {
    border: 1px solid #999;
    margin: 4px 0 16px 27px;
    padding: 8px 6px 4px 16px;
}

.codebox01 {
    border: 1px solid #999;
    height: auto;
    padding: 1px 8px;
    margin: 2px 0.9em 1em 0.9em;
}

.codebox02 {
    border: 1px solid #999;
    height: auto;
    padding: 1px 8px;
    margin: 2px 0.9em 1em 2.7em;
}

.codebox03 {
    border: 1px solid #999;
    height: auto;
    padding: 1px 8px;
    margin: 2px 0.9em 1em 4.5em;
}


/* --------------------------------
文字スタイル設定
-------------------------------- */


/* ○、□を日本語フォントに設定する */


/* 欧文フォントを最初に指定している場合○、□には欧文フォントが設定される */

.fontJP {
    font-family: "ＭＳ ゴシック", "MS Gothic";
}


/* 文字を太字にする */

.fontBold {
    font-weight: bold;
}


/* 文字を斜体にする */

.fontItalic {
    font-style: italic;
}


/* 文字アンダーラインを引く */

.fontUnderline {
    border-bottom: 1px solid #000;
}

.fontUnderlineBold {
    border-bottom: 2px solid #000;
}


/* 文字を大きくする */

.fontLarge {
    font-size: 1.2em;
}


/* 文字をさらに大きくする */

.fontMoreLarge {
    font-size: 1.4em;
}


/* 文字を小さくする */

.fontSmale {
    font-size: 0.9em;
}


/* 文字をさらに小さくする */

.fontMoreSmale {
    font-size: 0.8em;
}


/* 文字を黄色（FANUCカラー）にする（強調時） */

.fontYellow {
    color: #ECCB00;
    font-size: 1.1em;
    font-weight: bold;
}


/* 文字をオレンジ色にする（強調時） */

.fontOrange {
    color: #ff7f50;
    font-size: 1.1em;
    font-weight: bold;
}


/* 文字を茶色にする（強調時） */

.fontBrown {
    color: #8b4513;
    font-size: 1.1em;
    font-weight: bold;
}


/* 文字を赤くする（強調時） */

.fontRed {
    color: #ba2636;
    font-size: 1.1em;
    font-weight: bold;
}


/* 文字の背景を黄色（FANUCカラー）にする */

.bgYellow {
    background-color: #ECCB00;
    font-weight: bold;
}


/* 分数のスタイル */


/* 分数 */

.fraction {
    margin-left: 0;
    margin-right: auto;
    background-color: transparent;
    /* 分数の背景色をなしにする */
}


/* 分子 */

.molecule {
    text-align: center;
    line-height: 1.2em;
    padding: 0px 5px 0px 5px;
}


/* 分母 */

.denominator {
    text-align: center;
    line-height: 1.2em;
    padding: 0px 5px 2px 5px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #000;
}


/* 整数 */

.integer {
    margin: 0;
    padding-top: 0px;
    vertical-align: middle;
}


/* --------------------------------
インデントありのエリア設定
-------------------------------- */


/* 左インデント2文字分のエリア設定 */

.indent2_area {
    margin: 0 0 16px 27px;
}


/* 左インデント4文字分のエリア設定 */

.indent4_area {
    margin: 0 0 16px 54px;
}


/* 左インデント8文字分のエリア設定 */

.indent8_area {
    margin: 0 0 16px 81px;
}


/* --------------------------------
注釈をつけた文字の設定（用語説明）
-------------------------------- */

a:any-link.noteFont {
    color: #666;
    font-weight: bold;
    border-bottom: 1px dashed #666;
    text-decoration: none;
}


/* --------------------------------
画面サイズが1001px以上の場合
-------------------------------- */

@media screen and (min-width: 1001px) {
    header,
    nav,
    footer,
    #container {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    #container {
        width: 1000px;
        margin: 0 auto;
    }
    header {
        width: 1000px;
        left: 50%;
        margin-left: -500px;
    }
    nav {
        width: 1000px;
        left: 50%;
        margin-left: -500px;
        position: fixed;
    }
    footer {
        width: 1000px;
        left: 50%;
        margin-left: -501px;
    }
    #side_menu {
        width: 200px;
    }
}


/* --------------------------------
	検索用
	-------------------------------- */

.search_box_table {
    overflow: hidden;
    /*margin-top:-17px;*/
}

#searchText {
    /*float: left;*/
    width: 60%;
    height: 25px;
    line-height: 25px;
    color: #808080;
    margin-left: 10px;
    background-color: #EBEBEB;
    padding: 0px 5px 0px 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: none;
}

#searchButton {
    float: right;
    width: 25px;
    height: 25px;
    /*margin-left:0px;*/
    padding: 9px 2px 9px 2px;
    background: url(../images_common/search.gif) no-repeat center center;
    border: none;
    display: block;
}

#searchButton_dummy {
    float: right;
    padding: 3px 2px 2px 2px;
    border: none;
    background-color: white;
    color: blue;
}

#text_hidden {
    display: none;
}

#search_result {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 92px;
    font-size: 14px;
    text-align: left;
}

#result {
    display: block;
    padding-top: 172px;
}

.highlight {
    background-color: lightpink;
    pointer-events: none;
    /* 20181010 ADD */
}


/* --------------------------------
	アラート　サンプル用CSS
	-------------------------------- */


/* アラート色付きスタイル */

.pl_a01,
.pl_b01,
.pl_c01,
.pl_d01 {
    margin: 1.1em 0 2.4em 0;
    display: block;
}

.pl_a02,
.pl_b02,
.pl_c02,
.pl_d02 {
    margin: 1.1em 0 2.4em 1.8em;
    display: block;
}

.pl_a03,
.pl_b03,
.pl_c03,
.pl_d03 {
    margin: 1.1em 0 2.4em 3.6em;
    display: block;
}

.pl_a01,
.pl_a02,
.pl_a03 {
    background-color: #fff4f9;
    border-top: 1px solid #ff7fbf;
    border-bottom: 1px solid #ff7fbf;
}

.pl_b01,
.pl_b02,
.pl_b03 {
    background-color: #fff4f4;
    border-top: 1px solid #ff7fbf;
    border-bottom: 1px solid #ff7fbf;
}

.pl_c01,
.pl_c02,
.pl_c03 {
    background-color: #fff9f4;
    border-top: 1px solid #ffbf7f;
    border-bottom: 1px solid #ffbf7f;
}

.pl_d01,
.pl_d02,
.pl_d03 {
    background-color: #fffff4;
    border-top: 1px solid #ffff7f;
    border-bottom: 1px solid #ffff7f;
}

.pl_a01::before,
.pl_b01::before,
.pl_c01::before,
.pl_d01::before,
.pl_a02::before,
.pl_b02::before,
.pl_c02::before,
.pl_d02::before,
.pl_a03::before,
.pl_b03::before,
.pl_c03::before,
.pl_d03::before {
    padding: 0.2em 0 0 3em;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
}

.pl_a01::before,
.pl_a02::before,
.pl_a03::before {
    display: block;
    content: "危険";
    background-color: #ffb7db;
    background-image: url("../images_common/icon_alert.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0.8em 0.2em;
    border-bottom: 1px solid #ff7fbf;
}

.pl_b01::before,
.pl_b02::before,
.pl_b03::before {
    display: block;
    content: "警告";
    background-color: #ffb7b7;
    background-image: url("../images_common/icon_alert.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0.8em 0.2em;
    border-bottom: 1px solid #ff7fbf;
}

.pl_c01::before,
.pl_c02::before,
.pl_c03::before {
    display: block;
    content: "注意";
    background-color: #ffdbb7;
    background-image: url("../images_common/icon_alert.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0.8em 0.2em;
    border-bottom: 1px solid #ffbf7f;
}

.pl_d01::before,
.pl_d02::before,
.pl_d03::before {
    display: block;
    content: "注";
    background-color: #ffffb7;
    border-bottom: 1px solid #ffff7f;
}

ul.pl_plist_01 {
    margin-top: 0.4em;
    margin-left: 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    margin-bottom: 0.4em;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
}

ul.pl_plist_01 li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.4em;
    /* 1.4文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

ul.pl_plist_01bold {
    margin-top: 0.4em;
    margin-left: 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    margin-bottom: 0.4em;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
    font-weight: bold;
}

ul.pl_plist_01bold li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.4em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.pl_para02 {
    margin: 0 0.4em 0.1em 2.4em;
}

ul.pl_plist_-02 {
    margin-bottom: 0.4em;
    margin-left: 3.9em;
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
    margin-right: 0.4em;
}

ul.pl_plist_-02 li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}


/* --------------------------------
	サンプル用CSS
	-------------------------------- */


/* アラート色付きスタイル */

.pl_a01_c,
.pl_b01_c,
.pl_c01_c,
.pl_d01_c {
    margin: 1.1em 0 2.4em 0;
    display: block;
}

.pl_a02_c,
.pl_b02_c,
.pl_c02_c,
.pl_d02_c {
    margin: 1.1em 0 2.4em 1.8em;
    display: block;
}

.pl_a03_c,
.pl_b03_c,
.pl_c03_c,
.pl_d03_c {
    margin: 1.1em 0 2.4em 3.6em;
    display: block;
}

.pl_a01_c,
.pl_a02_c,
.pl_a03_c {
    background-color: #fff4f9;
    border-top: 1px solid #ff7fbf;
    border-bottom: 1px solid #ff7fbf;
}

.pl_b01_c,
.pl_b02_c,
.pl_b03_c {
    background-color: #fff4f4;
    border-top: 1px solid #ff7fbf;
    border-bottom: 1px solid #ff7fbf;
}

.pl_c01_c,
.pl_c02_c,
.pl_c03_c {
    background-color: #fff9f4;
    border-top: 1px solid #ffbf7f;
    border-bottom: 1px solid #ffbf7f;
}

.pl_d01_c,
.pl_d02_c,
.pl_d03_c {
    background-color: #fffff4;
    border-top: 1px solid #ffff7f;
    border-bottom: 1px solid #ffff7f;
}

.pl_a01_c::before,
.pl_b01_c::before,
.pl_c01_c::before,
.pl_d01_c::before,
.pl_a02_c::before,
.pl_b02_c::before,
.pl_c02_c::before,
.pl_d02_c::before,
.pl_a03_c::before,
.pl_b03_c::before,
.pl_c03_c::before,
.pl_d03_c::before {
    padding: 0.2em 0 0 3em;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
}

.pl_a01_c::before,
.pl_a02_c::before,
.pl_a03_c::before {
    display: block;
    content: "危険";
    background-color: #ffb7db;
    background-image: url("../images_common/icon_alert.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0.8em 0.2em;
    border-bottom: 1px solid #ff7fbf;
}

.pl_b01_c::before,
.pl_b02_c::before,
.pl_b03_c::before {
    display: block;
    content: "警告";
    background-color: #ffb7b7;
    background-image: url("../images_common/icon_alert.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0.8em 0.2em;
    border-bottom: 1px solid #ff7fbf;
}

.pl_c01_c::before,
.pl_c02_c::before,
.pl_c03_c::before {
    display: block;
    content: "注意";
    background-color: #ffdbb7;
    background-image: url("../images_common/icon_alert.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0.8em 0.2em;
    border-bottom: 1px solid #ffbf7f;
}

.pl_d01_c::before,
.pl_d02_c::before,
.pl_d03_c::before {
    display: block;
    content: "注";
    background-color: #ffffb7;
    border-bottom: 1px solid #ffff7f;
}

ul.pl_plist_01_c {
    margin-top: 0.4em;
    margin-left: 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    margin-bottom: 0.4em;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
}

ul.pl_plist_01_c li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.4em;
    /* 1.4文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

ul.pl_plist_01bold_c {
    margin-top: 0.4em;
    margin-left: 2.1em;
    /* マーカーを2.1文字寄せた分、ULにマージンを設定*/
    margin-bottom: 0.4em;
    margin-right: 0.2em;
    padding: 0.2em 0.4em;
    font-weight: bold;
}

ul.pl_plist_01bold_c li::before {
    content: none;
    content: "•";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.4em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1em;
}

.pl_para02_c {
    margin: 0 0.4em 0.1em 2.4em;
}

ul.pl_plist_-02_c {
    margin-bottom: 0.4em;
    margin-left: 3.9em;
    /* マーカーを3.9文字寄せた分、ULにマージンを設定*/
    margin-right: 0.4em;
}

ul.pl_plist_-02_c li::before {
    content: none;
    content: "-";
    /* ←ここにリストマーカーにしたい文字列を設定 */
    margin-left: -1.6em;
    /* 1.6文字分、左に寄せる（微調整） */
    padding-right: 1.1em;
}


/* 用語をマウスオーバーすると用語説明を吹き出しで表示 */

.balloontip {
    position: relative;
    /* 指定した分だけ相対的に移動 */
    color: #666;
    font-weight: bold;
    border-bottom: 1px dashed #666;
    text-decoration: none;
}

.balloontip:hover .balloon {
    display: inline;
    /* インライン要素として表示 */
}

.balloon {
    position: absolute;
    /* 親要素を基準 */
    display: none;
    /* 要素を非表示 */
    padding: 4px;
    /* テキストの前後の余白 */
    /*		background-color: rgba(153, 153, 153, 0.50);*/
    /* 背景色（透明度） */
    background-color: #f9ffff;
    /* 背景色 */
    width: 180px;
    /* 吹き出し全体の幅 */
    left: 0;
    /* 表示位置 */
    top: 100%;
    /* 表示位置 */
    margin-top: 12px;
    /* 表示位置 */
    font-size: 80%;
    /* 文字サイズ */
    font-weight: normal;
    z-index: 9;
}

.balloon:after {
    /*border-bottom: 12px solid rgba(153, 153, 153, 0.50);*/
    /* 吹き出し口の高さ・色 */
    border-bottom: 12px solid #f9ffff;
    /* 吹き出し口の高さ・色 */
    border-left: 10px solid transparent;
    /* 吹き出し口の幅1/2 */
    border-right: 10px solid transparent;
    /* 吹き出し口の幅1/2 */
    top: -12px;
    /* 吹き出し口の位置調整 */
    left: 5%;
    /* 吹き出し口の横位置 */
    content: "";
    /* コンテンツの挿入 */
    position: absolute;
    /* 親要素を基準 */
}