@charset "utf-8";

/*
 *
 * ===== テーマCSS [Classic] =====
 *
 */


/* ========================================


    そのほかのコンポーネント


   ======================================== */

/*
 * --- カスタムスクロールバー ---
 */

.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-left: 15px;
}

.mCS_no_scrollbar .mCSB_container,
.mCS_no_scrollbar_y {
  margin-left: 0 !important;
}

.mCSB_scrollTools {
  right: auto;
  left: 0;
}



/* ========================================


    ページレイアウト


   ======================================== */

/* ----------------------------------------

    全体

   ---------------------------------------- */


/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */

/*
 * --- ヘッダー ---
 */

#page-header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  z-index: 20;
  background-color: #0072BB;
}

.status-pinch-out #page-header {
  display: none !important;
}


/*
 * --- ヘッダー画像 ---
 */

#header-image {
  padding-left: 20px;
  padding-top: 12px;
  min-height: 50px;
}

#header-image img {
  max-height: 26px;
}


/*
 * --- ヘッダータイトル ---
 */

#header-title {
  min-height: 50px;
  margin-right: 300px;
  padding: 13px 0 0 15px;
  color: #FFFFFF;
  cursor: default;
}

#header-title.search {
  margin-right: 10px;
}

#header-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {
  #header-title {
    margin-left: 50px;
  }
  #header-title.search {
    margin-right: 10px;
  }
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 480px) {
  #header-title {
    margin-right: 140px;
  }
  #header-title.search {
    margin-right: 10px;
  }
}



/*
 * --- ヘッダーボタン（XS） ---
 */

#header-button {
  position: absolute;
  top: 8px;
  left: 8px;
}

#header-button a {
  display: block;
  width: 40px;
  height: 32px;
  padding-top: 5px;
  line-height: 1;
  text-align: center;
  font-size: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

#header-button a::after {
  content: '\e64a';
  font-family: 'themify';
}

.status-menu-closed #header-button a::after {
  content: '\e68e';
}

#header-button a:hover {
  background-color: #F6FCFF;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-header {
    min-height: 50px;
  }

  #header-image {
    margin-left: 40px;
    padding-top: 14px;
  }

  #header-image img {
    max-height: 22px;
  }

}



/* ----------------------------------------

    検索

   ---------------------------------------- */

/*
 * --- 検索エリア ---
 */

#page-search {
  position: absolute;
  top: 12px;
  right: 30px;
}


/*
 * --- 検索ボックス ---
 */

#page-search form {
}

#page-search form::before {
}

#page-search input {
  max-width: 250px;
  min-height: 24px;
  padding: 2px 40px 0 15px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s;
}

#page-search input:focus {
  background-color: #FFFFE0;
}

/* --- プレースフォルダー（[,]で連結すると適用されません） --- */
#page-search input:-ms-input-placeholder { color: #B0B0B0; }
#page-search input::-webkit-input-placeholder { color: #B0B0B0; }
#page-search input::-moz-placeholder { color: #B0B0B0; }



/*
 * --- 検索ボタン ---
 */

#page-search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1px 8px;
  font-size: 18px;
  border: none;
  background: none;
  color: #606060;
}

#page-search button:hover {
  color: #42A5F5;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 480px) {

  #page-search {
    right: 10px;
  }

  #page-search input {
    max-width: 120px;
  }

}



/* ----------------------------------------

    メニュー

   ---------------------------------------- */

#page-menu,
#nav-menu-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding-top: 80px;
  transition: left 0.5s;
}

#page-menu {
  width: 280px;
  max-width: 95vw;
  z-index: 10;
}

.status-menu-closed #page-menu {
  left: -280px;
}

#nav-menu-bg {
  width: 271px;
  border-right: 1px solid #D0D0D0;
  background-color: #FCFCFC;
}

.status-menu-closed #nav-menu-bg {
  left: -280px;
}


/*
 * --- メニューヘッダー ---
 */

#nav-menu-header {
  position: relative;
  min-height: 25px;
  margin-right: 10px;
  padding: 3px 8px;
  background-color: #E9E9E9;
}

.status-menu-closed #nav-menu-header {
  margin-right: -60px;
  z-index: 10;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu {
    padding-top: 50px;
  }

  #nav-menu-header {
    display: none;
  }

}


/* --- パネルの開閉 --- */

#nav-menu-header .btn-view-switch {
  display: inline-block;
  position: relative;
  font-size: 11px;
  padding-left: 15px;
  padding-top: 1px;
}

#nav-menu-header .btn-view-switch::before {
  content: '\e65e';
  font-family: 'themify';
  position: absolute;
  left: 0;
  top: 0;
}

#nav-menu-header .btn-view-switch::after {
  /*content: '閉じる';*/
}

.status-menu-closed #nav-menu-header .btn-view-switch {
  position: absolute;
  top: 4px;
  right: 10px;
}

.status-menu-closed #nav-menu-header .btn-view-switch {
  padding-left: 0;
  padding-right: 15px;
}

.status-menu-closed #nav-menu-header .btn-view-switch::before {
  content: '\e65d';
  left: auto;
  right: 0;
}

.status-menu-closed #nav-menu-header .btn-view-switch::after {
  /*content: '開く';*/
}


/* --- すべてを開く --- */

#nav-menu-header .btn-expand-menu {
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 11px;
}

.status-menu-closed #nav-menu-header .btn-expand-menu {
  display: none;
}

#nav-menu-header .btn-expand-menu::after {
  content: '\e663';
  font-family: 'themify';
  margin-left: 3px;
}

#nav-menu-header .btn-expand-menu:hover {
}

#nav-menu-header .btn-expand-menu.expanded::after {
  content: '\e660';
}


/*
 * --- メニューコンテンツ ---
 */

#page-menu nav {
}

#page-menu .nav-menu-container {
}

#page-menu .nav-menu-content {
  overflow-y: auto;
  font-size: 13px;
}

/* --- メニューリスト --- */

#page-menu .nav-menu-list {
  padding: 0 10px 0 0;
  border-left: solid 6px #0072BB;
}

#page-menu .nav-menu-list ul {
  padding: 0;
}

#page-menu .nav-menu-list li {
  position: relative;
  list-style: none;
}

#page-menu .nav-menu-list a {
  display: block;
  padding: 4px 30px 3px 10px;
  color: #606060;
}

#page-menu .nav-menu-list a:hover {
  color: #0072BB;
  background-color: #E0F7FA;
}

#page-menu .nav-menu-list li.expanded {
  border-bottom: 1px solid #D0D0D0;
}

#page-menu .nav-menu-list li.expanded a {
  color: #FFFFFF;
  background-color: #0072BB;
  border: none;
}

#page-menu .nav-menu-list li.expanded a:hover {
  color: #FFFF30;
}

#page-menu .nav-menu-list li.active::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 100%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: #29B6F6;
}


#page-menu .nav-menu-list li.active a {
  color: #FFFFFF;
  background-color: #29B6F6;
}

#page-menu .nav-menu-list > li > a {
  background-color: #F6F6F6;
  border-bottom: 1px solid #D0D0D0;
}

#page-menu .nav-menu-list > li > ul {
  display: none;
}

#page-menu .nav-menu-list > li li a {
  padding-left: 30px;
}


/* --- アイコン ---  */
#page-menu .nav-menu-list .icon {
  position: absolute;
  display: none;
  right: 24px;
  top: 0;
  height: 100%;
  border-bottom: 1px solid transparent;
}

#page-menu .nav-menu-list .group > .icon {
  display: inline-block;
  cursor: pointer;
}

#page-menu .nav-menu-list .group > .icon::before {
  content: '\e649';
  font-family: 'themify';
  display: block;
  position: absolute;
  width: 24px;
  height: 100%;
  padding-top: 3px;
  text-align: center;
  font-size: 14px;
  color: #0072BB;
  transition: color 0.2s, background-color 0.2s;
}

#page-menu .nav-menu-list .group > .icon:hover::before {
  color: #FFFF30 !important;
  background-color: #80DEEA;
}

#page-menu .nav-menu-list .group.expanded > .icon::before {
  content: '\e64b';
  color: #FFFFFF;
}

#page-menu .nav-menu-list .group.active > .icon::before {
  color: #FFFFFF !important;
}

#page-menu .nav-menu-list .group ul .icon {
  display: none;
}




/* ----------------------------------------

    ページの移動ナビゲーション

   ---------------------------------------- */

#page-relation {
}

/*
 * --- パンくずリスト ---
 */

.nav-breadcrumb {
  min-height: 30px;
  margin: 0;
  padding: 6px 10px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #D0D0D0;
}

.nav-breadcrumb > ol {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb > ol li {
  float: left;
  font-size: 12px;
  line-height: 1;
}

.nav-breadcrumb > ol li a {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
}

.nav-breadcrumb > ol li a:hover {
  color: #2196F3;
}

.nav-breadcrumb > ol li a:active {
  color: #03A9F4;
}

/* --- やじるし --- */

.nav-breadcrumb > ol li::before,
.nav-breadcrumb > ol li:first-child a::before {
  font-family: 'themify';
}

.nav-breadcrumb > ol li::before {
  content: '\e649';
  font-size: 9px;
  color: #C0C0C0;
}

/* --- ホーム --- */

.nav-breadcrumb > ol li:first-child::before {
  display: none;
}

.nav-breadcrumb > ol li:first-child a::before {
  content: '\e69b';
  padding-right: 5px;
  vertical-align: top;
}

/* --- 現在地 --- */

.nav-breadcrumb > ol li:last-child {
  padding: 1px 0;
}

.nav-breadcrumb > ol li:last-child::before {
  padding-right: 10px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-relation {
    display: none;
  }

}


/*
 * --- ページシーケンス ---
 */

#page-sequence {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 270px;
  text-align: center;
  transition: bottom 0.5s, padding-left 0.5s;
}

.status-menu-closed #page-sequence {
  padding-left: 0;
}

.status-scroll-up #page-sequence {
  bottom: -60px;
}

.nav-sequence {
  padding: 15px 0 10px 0;
  background-color: rgba(0,0,0,0.05);
  opacity: 0.7;
  transition: opacity 0.3s;
}

.nav-sequence:hover {
  opacity: 1;
}

.nav-sequence a {
  position: relative;
  display: inline-block;
  max-width: 40%;
  margin-bottom: 5px;
  padding-top: 7px;
  padding-bottom: 6px;
  line-height: 1;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFFFFF;
  background-color: #42A5F5;
  border-radius: 20px;
}

.nav-sequence a.available:hover {
  background-color: #2196F3;
}

.nav-sequence a.available:active {
  background-color: #03A9F4;
}

.nav-sequence a:first-child {
  margin-right: 5px;
  padding-left: 30px;
  padding-right: 15px;
}

.nav-sequence a:last-child {
  margin-left: 5px;
  padding-left: 15px;
  padding-right: 30px;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::after {
  position: absolute;
  font-family: 'themify';
  font-size: 12px;
  vertical-align: -1px;
}

.nav-sequence a:first-child::before {
  content: '\e64a';
  left: 10px;
}

.nav-sequence a:first-child::after {
  content: '\00a0';
}

.nav-sequence a:last-child::after {
  content: '\e649';
  right: 10px;
}

.nav-sequence a.unavailable {
  background-color: #E0E0E0;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-sequence {
    top: 50px;
    bottom: auto;
    padding-left: 0;
    transition: top 0.5s;
  }

  .status-scroll-down #page-sequence {
    top: -20px;
  }

  .nav-sequence {
    padding: 10px 0 5px 0;
    opacity: 1;
    background-color: #F0F0F0;
  }

  .nav-sequence a {
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 11px;
  }

  .nav-sequence a:first-child {
    max-width: none;
    padding-right: 0;
  }

  .nav-sequence a:first-child span {
    display: none;
  }

  .nav-sequence a:last-child {
    max-width: 75%;
  }

}



/* ----------------------------------------

    フッター

   ---------------------------------------- */

/*
 * --- フッター ---
 */

#page-footer {
  width: 100%;
  padding-bottom: 20px;
}


/*
 * --- ページの先頭へ ---
 */

#page-footer .to-page-top {
  margin-top: 20px;
  text-align: right;
}

#page-footer .to-page-top a {
  padding: 3px 10px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #42A5F5;
  border-radius: 20px;
}

#page-footer .to-page-top a::before {
  content: '\e660';
  font-family: 'themify';
  margin-right: 5px;
  font-size: 12px;
  vertical-align: bottom;
}

#page-footer .to-page-top a:hover {
  background-color: #2196F3;
}

#page-footer .to-page-top a:active {
  background-color: #03A9F4;
}


/*
 * --- コピーライト ---
 */

#page-footer .copyright {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #E0E0E0;
}

#page-footer .copyright p {
  text-align: center;
  line-height: 1.3;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #909090;
}


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- 本文 ---
 */

#page-content {
  position: relative;
  margin-left: 280px;
  padding: 110px 60px 80px 60px;
  transition: margin-left 0.5s;
}

.status-menu-closed #page-content {
  margin-left: 0;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content {
    margin-left: 0;
    padding: 130px 20px 20px 20px;
  }

}


/*
 * --- 見出し ---
 */

#page-content h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}


/* ========================================


    汎用コンポーネント


   ======================================== */

/* ----------------------------------------

    箇条書き

   ---------------------------------------- */

ol.option01 > li:before {
  background-color: #0072BB;
  border-radius: 0;
}

/* ----------------------------------------

    メニューリスト（子ページへのリンク）

   ---------------------------------------- */

.childpages-macro {
  padding-left: 15px;
  margin-top: 5px;
}

.childpages-macro li {
}

.childpages-macro li a {
  display: block;
  position: relative;
  padding: 5px 35px 5px 15px;
  color: #FFFFFF;
  background-color: #42A5F5;
  border-radius: 15px;
  vertical-align: middle;
}
.childpages-macro li a:hover { background-color: #2196F3; }
.childpages-macro li a:active { background-color: #03A9F4; }

.childpages-macro li a::after {
  content: '\e649';
  font-family: 'themify';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
}


/* - eof. */
