@charset "utf-8";

/* ----------------------- Browser Default Initialization */

html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h2,
h3,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    Zoom: 1;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th {
    text-align: left;
}

q::before,
q::after {
    content: "";
}

object,
embed {
    vertical-align: top;
}

hr,
legend {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1em;
    font-weight: normal;
}

img,
abbr,
acronym,
fieldset {
    border: 0;
}

ul,
ol,
li {
    zoom: normal;
}

li {
    list-style-type: none;
}

ul.option01,
ol.option02 {
    margin: 20px;
}

ul.option01 li {
    list-style-type: disc;
}

ol.option02 li {
    counter-reset: li;
    list-style-type: decimal;
}


/* ----------------------- Basic Style */


/* ------------ Font Style */

body {
    font-family: Arial, "ＭＳ ゴシック", "MS Gothic", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, Sans-Serif;
    background-color: #FFF;
    color: #333;
    font-size: 14px;
    line-height: 1.5em;
    text-align: center;
}

h5.option01 {
    position: relative;
    /* margin-top: 24px; */
    padding: 0.1em 0.4em 0;
    margin: 1.5em 0 0.5em;
    border-left: 6px solid #008b8b;
    border-bottom: 1px solid #008b8b;
    font-size: 1.2em;
    font-weight: bold;
    color: #008b8b;
}

h5.option01::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1px;
    margin-top: 0;
    height: 25px;
    border-left: 1px solid #008b8b;
}

h5.option02,
h5.option03 {
    font-size: 0.9em;
    font-weight: bold;
    /*margin: -1.2em 0 0.2em;*/
}

h5.option03 {
    text-align: center;
}

/*
h5.option02:before,
h5.option03:before {
    content: ' (図)';
}
*/

h5.option04:before {
    content: '■';
}

h5.option06 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 1.5em 0 1em 0;
}


/* ------------ A Style */

a:link {
    text-decoration: none;
    color: #00F;
}

a:visited {
    text-decoration: none;
    color: #00F;
}

a:hover {
    text-decoration: underline;
    color: #00F;
}

a:active {
    text-decoration: none;
    color: #00F;
}


/* ------------ table Style */

table {
    background-color: #FFF;
    color: #333;
    font-size: 14px;
    line-height: 1.5em;
}

table,
th,
td {
    border: 1px solid black;
}


/* テーブル内で改行しない */

.noWrap {
    white-space: nowrap;
}


/* 表示しない */

.noDisp {
    display: none;
}


/*floatの解除*/

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    min-height: 1px;
    /*IE6、7対策*/
}

html .clearfix {
    height: 1px;
    /*¥*/
    /*/ /*MAC IE5.x対策*/
    height: auto;
    overflow: hidden;
}


/* 画面サイズが680px以下の場合 */

@media screen and (max-width: 680px) {
    font-size: 16px;
}

h6.option02 {
    text-align: center !important;
    font-size: 14px !important;
    margin: 0;
    color: #333 !important;
    font-weight: normal !important;
}

h6.option04 {
    text-align: right !important;
    font-size: 14px !important;
    margin: 0;
    color: #333 !important;
    font-weight: normal !important;
}