
/* last update 2015.10.30 */

/*=====================================================
    device
=======================================================*/

/*
    TAB
*/
@media screen and (max-width: 991px) {
    #nav{
        width:25%;
    }
     div#main{
         margin-left:25%;
     }
    div.navInner{
         padding:5px;
     }
}


/*
    SPHONE
*/
@media screen and (max-width: 479px) {
    a{
        text-decoration:none;
    }
    #nav{
        width:100%;
        display:none;
        display:block;
        position:absolute;
        top:0 !important;
        border:none;
    }
    div.navInner{
         padding:0px;
     }
    div#main{
         margin-left:0;
     }
     img.confluence-embedded-image{
        width:100%;
        height:auto;
     }
     div#main div.inner{
        padding:3%;
     }
     #footer{
        position: static;
         background-color:#efefef;
     }
}


