/* last update 2015.11.10 */


/*=====================================================
    screen
=======================================================*/

* html div#screen {
    height: 100%;
}

div#screen {
    width: 100%;
    margin: 0px auto;
    position: relative;
    min-height: 100%;
}

body>#screen {
    height: auto;
}

body {
    background-color: #fff;
}


/*=====================================================
    section
=======================================================*/

section {
    margin: 0 0 20px 0;
}

section:last-child {
    margin-bottom: 0;
}


/*=====================================================
    header
=======================================================*/

#header {
    background: #000000;
    background-image: url("../images/common/icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    min-height: 65px;
}

#header div.headerInner {
    padding: 10px;
}

span#mainLogo {
    /*
    position:absolute;
    left:18px;
    top: 8px;
    width: 200px;
    height:25px;
    padding: 0px;
    */
}

span#mainLogo img {
    display: block;
    width: 142px;
}

span#SPburger {
    display: none;
}


/*=====================================================
    container
=======================================================*/

#container {
    padding: 0 0 0px 0;
    position: relative;
}


/*=====================================================
    content header
=======================================================*/

div#main-header {
    margin: 0;
}

#breadcrumb-section {
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#breadcrumb-section-bottom {
    margin: 0px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

ol#breadcrumbs {
    padding: 0;
    margin: 0;
    width: auto;
    font-size: 90%;
}

ol#breadcrumbs li {
    list-style-type: none;
    display: inline;
    padding: 0 5px 0 0;
    margin: 0;
}

ol#breadcrumbs li:after {
    content: '>';
    color: #999;
    font-size: 80%;
    padding: 0 3px;
    font-weight: bold;
}

ol#breadcrumbs li.first,
ol#breadcrumbs li#ellipsis {
    display: none;
}

ol#breadcrumbs li.hidden-crumb {
    display: inline;
}

ol#breadcrumbs li:last-child:after {
    content: none;
}

#title-heading h1 {
    padding: 20px 20px 0 20px;
    font-weight: bold;
    margin: 0;
}


/*=====================================================
    main
=======================================================*/

#main {
    margin: 0 0 0 301px;
    background: #fff;
    width: auto;
    padding: 0;
    min-height: auto;
    clear: none;
    border: none;
}

body.is_full #main {
    margin-left: 0;
}

div#navCloseIcon {
    position: fixed;
    left: 300px;
    top: 0;
    width: 11px;
    height: 58px;
    margin-top: -29px;
    margin-left: -11px;
    cursor: pointer;
    z-index: 5000;
    background: url(../images/common/icon_nav_close.png) no-repeat 50% 50%;
    display: none\9;
}

body.is_full div#navCloseIcon {
    left: 0;
    margin-left: 0;
    background-image: url(../images/common/icon_nav_open.png);
}


/*=====================================================
    content
=======================================================*/

#content {
    padding: 3% 3% 60px 3%;
    /*2015/07/13*/
}


/*=====================================================
    content
=======================================================*/

#content ol li {
    margin-bottom: 3px;
}

#content ul li {
    margin-bottom: 0.3em;
}

#content .confluence-information-macro-note ol li,
#content .confluence-information-macro-note ul li {
    margin: 2px 0;
}


/*=====================================================
    pager
=======================================================*/

div#pager {
    position: fixed;
    bottom: 30px;
    right: 20px;
    line-height: 1;
    opacity: 0.9;
}

div#pager ul,
div#pager li {
    display: inline;
}

div#pager li.is_disable a {
    opacity: 0.5;
    cursor: default;
    background: #ddd;
    color: #999;
}

div#pager li.is_disable:hover a {
    background: #ddd;
    color: #999;
}

div#pager ul li a {
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    padding: 7px 20px;
    background: #999;
    font-size: 90%;
    font-weight: bold;
    color: #fff;
}

div#pager ul li:first-child a {
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    margin-right: 1px;
}

div#pager ul li a:hover {
    background-color: #205081;
    color: #fff;
}


/*=====================================================
    paragraph style
=======================================================*/

div#mainTitle {
    margin: 0 0 20px 0;
}

div#mainTitle h1 {}


/*=====================================================
    nav
=======================================================*/

#nav {
    background: #efefef url(../images/common/nav_bg.png) repeat-y right 0;
    width: 300px;
    position: fixed;
    z-index: 4000;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#search,
#opener {
    display: block;
}

div.navInner {
    padding: 0px;
}

#nav {
    opacity: 1;
    line-height: 140%;
}

#nav.show {
    z-index: 1;
}

#nav ul {
    list-style: none;
}

#nav ul>li>ul>li {
    background-color: #ededed;
    border-top: solid 1px #f7f7f7;
    border-bottom: solid 1px #d4d4d4;
}

#nav ul li ul li:hover {
    background-color: #D7E1EB !important;
    border-top: solid 2px #117BE1 !important;
    border-bottom: solid 2px #117BE1 !important;
    border-right: solid 2px #117BE1 !important;
}

#nav ul a {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: inherit;
}

/* #nav ul li.current a.current {
   color: orangered;;
} */
#nav ul li.current {
    background-color: #ffffff;
}

 #nav span.icon{
    width:15px;
    height:15px;
    float:left;
    padding-top:8px;
} 

#nav ul ul {
    padding: 5px 15px;
    margin: 0px;
}

#nav span.has_child{
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAABnRSTlMAZoiZzN091q78AAAAH0lEQVQIW2NgIA44wxhqAlAGcyJMKAxdBK7GCUoTDwCd9gIQsibF/QAAAABJRU5ErkJggg==");
    background-position: 0px 10px;
    cursor: pointer;
    height: 22px;
}
#nav span.open{
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAABnRSTlMAZoiZzN091q78AAAAIUlEQVQImWNgIBOwKDCogBlMyczJECGxMAEIgzGRXFMZAItzAfJQpekuAAAAAElFTkSuQmCC");
    cursor: pointer;
}
#nav span.bullet{
    background-image: url(../images/common/icon_bullet.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 37px;
} 


/*opener*/

#nav div#opener {
    padding: 3px 10px;
    margin: 0 0 10px 0;
    color: #666;
    cursor: pointer;
    background: #fff;
    border-radius: 30px;
    width: 85%;
    margin: 10px auto 0 auto;
    border: 1px solid #ccc;
}

#nav div#opener:hover {}

#nav div#opener span.icon {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAABnRSTlMAZoiZzN091q78AAAAH0lEQVQIW2NgIA44wxhqAlAGcyJMKAxdBK7GCUoTDwCd9gIQsibF/QAAAABJRU5ErkJggg==") no-repeat 0 50%;
}

#nav div#opener.active span.icon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAABnRSTlMAZoiZzN091q78AAAAIUlEQVQImWNgIBOwKDCogBlMyczJECGxMAEIgzGRXFMZAItzAfJQpekuAAAAAElFTkSuQmCC");
}


/*=====================================================
    search
=======================================================*/

#search {
    background: #ddd;
    position: relative;
}

#search input#searchWord {
    background: transparent;
    padding: 12px 2% 12px 2%;
    width: 82%;
    margin: 0;
    vertical-align: middle;
    border: none;
    color: #999;
}

input#searchButton {
    margin: 0;
    width: 14%;
    padding: 10px 0;
    background: none;
    border: none;
    vertical-align: middle;
    background: transparent url(../images/common/icon_search_b.png) no-repeat 50% 50%;
    cursor: pointer;
}

#search input#seek {
    background: transparent;
    padding: 12px 2% 12px 2%;
    width: 82%;
    margin: 0;
    vertical-align: middle;
    border: none;
    color: #999;
}

a#searchButton1 {
    margin: 0;
    width: 14%;
    padding: 10px 0;
    background: none;
    border: none;
    vertical-align: middle;
    background: transparent url(../images/common/icon_search_b.png) no-repeat 50% 50%;
    cursor: pointer;
}

#search.active {
    background: #fff;
}

#search.active input#searchWord {
    color: #333;
}


/*=====================================================
    footer
=======================================================*/

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #000;
    text-align: right;
}

#footer div.footerInner {
    padding: 5px;
}


/*=====================================================
    br
=======================================================*/

br.sp {
    display: none;
}


/*=====================================================
    searchList
=======================================================*/

div.searchList {
    border-bottom: 1px dotted #ccc;
    padding: 10px 5px;
}

div.searchList a {
    display: block;
    font-size: 100%;
    padding: 3px 0px;
    font-size: 105%;
}

div.searchList div.summary {
    padding: 0 0 0 20px;
}

#main em.highlight,
div.searchList div.summary em.highlight {
    background-color: #ffff00;
}

#searchBoard {}

#searchBoard div#searchResult {
    padding: 2%;
    word-wrap: break-word;
}

#searchBoard div#searchResult.loading {
    background: url(../images/common/loading.gif) no-repeat 50% 50%;
    min-height: 400px;
}

#searchBoard div#searchResult a:hover {}

#searchBoard div#more {
    padding: 20px 0;
}

#searchBoard div#more div.pagerMore {
    width: 50%;
    border-radius: 20px;
    padding: 6px 15px;
    background-color: #999;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    cursor: pointer;
    font-size: 120%;
}

#searchBoard div#more div.pagerMore:hover {
    background-color: #ffcc00;
}

#searchBoard div#more div.nonActive,
#searchBoard div#more div.nonActive:hover {
    background-color: #efefef;
    color: #fff;
    cursor: default;
    display: none;
}

#searchBoard div#more div.loading {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: none;
    position: relative;
}

#searchBoard div#more.connecting div.loading {
    display: block;
}

#searchBoard div#more.nonActive div.loading {
    display: none;
}

#searchBoard div#more.connecting div.pagerMore {
    display: none;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffcc00;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 0.8s infinite ease-in-out;
    animation: sk-bounce 0.8s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*=====================================================
    main
=======================================================*/

#main {
    border-bottom: none;
}


/*=====================================================
    img
=======================================================*/

.wiki-content .confluence-embedded-file-wrapper.confluence-embedded-manual-size {
    max-width: 100%;
}

#content .wiki-content img.confluence-embedded-image {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: auto;
    /*border:1px solid #aaa;*/
    margin: 0px 0;
    vertical-align: middle;
}

.wiki-content .confluence-embedded-image {
    cursor: default;
}


/*=====================================================
    ol
=======================================================*/

ol.option02 li {
    margin-bottom: 20px;
}

ol.option02 li img {}


/*=====================================================
    table override
=======================================================*/

table.confluenceTable {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 10px 0;
}

table.confluenceTable .confluenceTh,
table.confluenceTable .confluenceTd {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 7px 10px;
}

table.confluenceTable .confluenceTh {
    background-color: #f0f0f0;
}


/*=====================================================
    pre
=======================================================*/

pre {
    display: block;
    white-space: normal;
}


/*=====================================================
    notice
=======================================================*/

.confluence-information-macro-note {
    background: #fffdf6;
    border: 1px solid #ffeaae;
}

.confluence-information-macro-information {
    background-color: #fcfcfc;
    border: 1px solid #aab8c6;
}

.confluence-information-macro {
    padding: 10px 10px 10px 36px;
    position: relative;
}

.confluence-information-macro .confluence-information-macro-icon {
    display: block;
    left: 10px;
    line-height: 20px;
    position: absolute;
    top: 12px;
    vertical-align: text-bottom;
}


/*=====================================================
    for Y 
=======================================================*/

code.option01 {
    font-size: 120%;
    font-weight: bold;
}

code.option02 {
    font-size: 110%;
    font-weight: bold;
}

code.option03 {
    font-size: 105%;
    font-weight: bold;
}

code.option04 {
    font-weight: bold;
}

code.option05 {
    font-weight: bold;
}

code.option06 {
    font-weight: bold;
}

code.option07 {
    font-weight: bold;
}

code.option08 {
    font-weight: bold;
}

code.option09 {
    font-weight: bold;
}

code.option10 {
    font-weight: bold;
}


/*=====================================================
    device
=======================================================*/


/*
    TAB
*/

@media screen and (max-width: 991px) {
    body {
        font-size: 80%;
    }
    #nav {
        width: 30%;
        z-index: 0;
        font-size: 110%;
    }
    div#main {
        margin-left: 30%;
    }
    div.navInner {
        padding: 5px;
    }
}


/*
    7 inch
*/

@media screen and (max-width: 615px) {
    div.navInner {
        padding: 0px;
    }
    span#SPburger {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #000;
        background: url(../images/common/icon_sp.png) no-repeat 50% 50%;
        background-size: 60%;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        border-right: 1px solid #3f6791;
    }
    #header div.headerInner {
        padding: 10px 10px 10px 50px;
    }
    div#container {
        height: 100%;
    }
    span#mainLogo {
        display: block;
        width: 300px;
        margin-left: 50px;
    }
    div#main {
        margin: 0;
        height: 100%;
    }
    div#main div.inner {
        min-height: 400px;
        height: 100%;
    }
    div#main div.inner {
        padding: 3%;
    }
    #footer {
        position: static;
        background: #fff;
    }
    #container {
        padding-bottom: 0;
    }
    div#pager {}
    div#pager ul li a {
        padding: 12px 30px;
    }
    #nav {
        width: 88%;
        /*
        display:none;
        display:block !important;
        */
        display: none;
        transform: translate(0px, 0px) !important;
        position: absolute;
        top: 0px !important;
        border: none;
        position: fixed;
        overflow: auto;
        z-index: -1;
        line-height: 130%;
        background: #333;
        opacity: 1;
        font-size: 92%;
    }
    #nav.visible {
        opacity: 1;
        display: block !important;
    }
    div.navInner {
        padding: 0;
    }
    #nav > ul > li {
        padding: 0;
        border-bottom: 1px solid #ccc;
        border-color: #666;
    }
    #nav > span.icon {
        padding-top: 0;
    }
    #nav > ul > li > span.bullet {
        display: block;
        height: 40px;
        width: 40px;
    }
    #nav > span.has_child {
        width: 40px;
        background-position: 50% 50%;
        height: 40px;
    }
    #nav > ul > li > ul {
        padding: 0 0px 0 0px;
        margin: 0 12px 12px 12px;
        border: 1px solid #ccc;
        border-bottom: none;
        border-color: #666;
    }
    #nav > ul li > ul > a {}
    #nav div.navInner>ul>li {
        padding: 0;
    }
    #nav > div.navInner > span.has_child+a {
        background: none;
    }
    #nav  ul a {
        margin-left: 0px;
        padding: 12px 6px 12px 35px;
        background: #f9f9f9 url(../images/common/icon_bullet.png) no-repeat 15px 20px;
        color: #fff;
        background-color: #333;
        max-height: 100%;
    }
    #nav  ul a.current {
        color: #ffcc00;
    }
    #search {
        background: #222;
        position: relative;
    }
    #search input#searchWord {
        color: #666;
    }
    #searchBoard div#searchResult {
        padding: 0;
    }
    input#searchButton {
        background-image: url(../images/common/icon_search.png)
    }
    #search.active {
        background: #000;
    }
    #search.active input#searchWord {
        color: #fff;
    }
    input[type='search'],
    input[type='text'],
    input[type='number'],
    textarea {
        font-size: 16px!important;
    }
    #navCloseIcon {
        display: none !important;
    }
    #nav div#opener {
        padding: 0px;
        margin: 0;
        width: auto;
        border-radius: 0;
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: 1px solid #666;
        background-color: #333;
    }
    #nav div#opener span.icon {
        height: 40px;
        width: 40px;
        background-position: 50%;
        padding: 0;
        float: left;
    }
    #nav div#opener span.openLabel {
        padding: 12px 6px 12px 35px;
        display: block;
    }
}