﻿.pagenavi li{
	padding: 0px 8px;
	background-color: #e9e4e4;
	margin: 0px 2px;
	color: #9e9d9d;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.pagenavi li.sep{
	display:none;
}
.pagenavi li[onclick] {
	cursor: pointer;
	font-weight: bold;
	/*text-decoration: underline;*/
	color: #000000;
}
.seperatorLine{
	border: 1px solid #BDB4B4;
	margin-bottom: 10px;
}
.numberOfPageDiv {
	padding-left: 40px;
}
.numberOfPageDiv select{
	width: 60px !important;
}