﻿.header {
	position : absolute;
	white-space : nowrap;
}

#jump, #headerend {
	left : 0;
	top : 0;
	visibility : hidden;
}

#logo {
	left : 0;
	top : 0;
	z-index : 7;
}

#site {
	left : 520;
	top : 5;
	width : 230px;
	text-align : right;
	z-index : 8;
}

#tab {
	left : 510;
	top : 29;
	z-index : 9;
}

#navi {
	top : 62;
	left : 12px;
	z-index : 6;
}

div.preference #navi {
	top : 60;
	left : 17px;
	z-index : 4;
}

#search {
	top : 60;
	z-index : 5;
	width : 750px;
	text-align : right;
}

div.search div#headertable div#search div#search2 div#search3 {
	left : 150;
	top : 60;
	z-index : 5;
	width : 600px; 
	text-align : right;
}
/* 20100725 For v1.5 add */

#pref {
	left : 650;
	top : 62;
	z-index : 6;
	width : 100px;
	text-align : right;
}

#search2 {
	top : 60;
	z-index : 5;
	width : 750px;
	text-align : right;
}

#pref2 {
	left : 630;
	top : 62;
	z-index : 6;
	width : 100px;
	text-align : right;
}

#search3 {
	top : 60;
	z-index : 5;
	width : 750px;
	text-align : right;
}

#pref3 {
	left : 620;
	top : 62;
	z-index : 6;
	width : 100px;
	text-align : right;
}

#site img, #navi img, #search img, #search2 img, #search3 img, #pref img, #pref2 img, #pref3 img {
	vertical-align : middle;
	margin-top : 0px;
}

.headernavitext, .footertext  {
	font-size : 12px;
}

.headergraytext, .footergraytext {
	font-size : 12px;
	color : #999999;
}

#navi a:link, #navi a:visited, #pref a:link, #pref a:visited, #pref2 a:link, #pref2 a:visited, #pref3 a:link, #pref3 a:visited, #move a:link, #move a:visited {
	color : #0041FF;
	text-decoration : none;
}

#navi a:hover, #pref a:hover, #pref2 a:hover, #pref3 a:hover, #move a:hover {
	color: #FF9900;
	text-decoration: underline;
}

.headersearchtext {
	font-size : 12px;
	color : black;
	vertical-align : bottom;
}

label.headersearchtext {
	vertical-align : bottom;
}

.headersitetext {
	font-size : 12px;
	text-decoration : underline;
}

#site a:link, #site a:visited {
	color : white;
}

#site a:hover {
	color : #6699FF;
}

#footertable {
	width : 760px;
	margin-top : 30px;
}

.footer {
	margin-left : 110px;
}

address {
	font-size : 11px;
	color : #0041FF;
	font-weight : normal;
	font-style : normal;
}

#move, #copy {
	margin-left : 110px;
	height : 25px;
}

#line {
	margin-left : 0px;
	height : 10px;
}

#move img {
	vertical-align : middle;
}

a img {
	border-style : none;
}

a:link {
	color: #0041FF;
	text-decoration: underline;
}

a:visited {
	color : #0041FF;
	text-decoration : underline;
}

a:hover {
	color : #FF9900;
	text-decoration : underline;
}

p {
	font-weight : normal;
	margin-top : 3px;
	margin-bottom : 5px;
	margin-left : 0;
}

ul {
	list-style-type : disc;
}

ol {
	list-style-type : decimal;
}

form {
	margin-top : 0px;
}

.breadcrumbs {
	font-size : 0.8em ;
	background-color : #FFFFFF;
	margin : 20px 0px 0px 17px;
	padding : 0px 0px 10px 0px;
        width : 720px;
}

.namemanual, .namereference {
	font-style : italic;
}

#headertable {
	width : 760px;
	height : 86px;
	background-image : url(../int/bar.gif);
	background-repeat : no-repeat;
	background-position : 0px 0px;
	z-index : 2;
}

div.bodypage, div.preference, div.search, div.ixpage {
	padding : 0 0 10px 0;
}

body {
	font-weight : normal;
	font-size : 1em;
	background-color : white;
	background-repeat : repeat-y;
	margin : 0px 20px 0px 0px;
	padding : 0px;
}

h1 {
	font-weight : bold;
	font-size : 1em;
	background-image : url(../gen/titlebar_body.gif);
	background-position : bottom left;
	background-repeat : no-repeat;
	background-color : #FFFFFF;
	margin: 0px 0px 15px -12px;
	padding : 15px 0px 5px 6px;
}

.moduleh1, .mh1synonym {
	margin-left : 0px;
	padding-bottom : 20px;
	padding-left : 0px;
    width :auto;
}

.moduleh1 ol {
	margin-top : 0px;
}

.moduleh1 ul {
	margin-top : 0px;
}

em {
/*	text-decoration : none; */ /* 20100725 For v1.5 delete */
	font-style : normal;
	font-weight : bold;
}

div.screen td {
	letter-spacing : 0.33em;
}

body.preference div.moduleh1,
body.search div.moduleh1 {
	padding-top : 33px;
}

.moduleh2 {
	margin-bottom : 30px;
	padding-bottom : 5px;
	background-image : url(../gen/prefbar_m2.gif);
	background-position : bottom left;
	background-repeat : no-repeat;
}

.moduleh3,.moduleh4 {
	margin-top : 10px;
	margin-bottom : 30px;
	padding-top : 5px;
	background-image : url(../gen/prefbar_m3.gif);
	background-position : top left;
	background-repeat : no-repeat;
}

.revision {
	margin-left : 16px;
}

.setupitem .state {
	margin-top : 10px;
	margin-left : 16px;
}

.setupitem .title {
	margin-top : 15px;
	font-weight : bold;
}

.stitle, .synonymtitle {
	font-weight : normal;
}

.sword {
	color: #333366;
	margin-left: 1em;
	margin-right: 3em;
}

.sresults {
	color : #333366;
	margin-left: 1em;
}

div.hint, div.matchfile {
	background-color : #E5E5E5;
	padding : 15px 15px 10px 15px;
	width : 620px;
	margin-top : 25px;
}

.bookname {
	font-weight : bold;
	margin-top : 0.5em;
}

.topic {
	margin-left : 22px;
	margin-bottom : 0.1em;
}

div.matchfile .title {
	font-weight : normal;
	margin-bottom : 15px;
}

div.mh1synonym p.term {
	font-size: 0.9em;
	margin-top : -10px;
	margin-left : -10px;
	margin-bottom : 15px;
}

.directions {
	margin-top: 10px;
}

div.heading {
	background-image: url(../gen/titlebarix.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: 24px;
	width: 442px;
	padding-bottom: 5px;
	padding-left: 6px;
	font-weight: bold;
}

div.heading td {
	font-weight: bold;
	vertical-align: top;
}

div.heading .iicon {
	width: 22px;
	vertical-align: top;
}

div.heading .ititle {
	width: 381px;
	font-size: 1em;
}

div.heading .itop {
	width: 28px;
	text-align: right;
	padding-right: 5px;
	vertical-align: top;
}

.headline {
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: -5px;
}

.headline p a, .headline p span.nonest {
	padding-right: 5px;
	padding-left: 5px;
}

.capital {
	font-size: 0.9em; 
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 52px;
	width: 414px;
}

.ientry {
	font-size: 0.9em; 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 72px;
}

.ientry a, .ientry a:link, .ientry a:visited {
	text-decoration: underline;
	color: Black;
}

.ientry a:hover {
	color: #0041FF;
	text-decoration : underline;
}

/* For v1.5 add */

/* タイトル */
span.ftitle {
	font-weight: normal;
	font-size: 0.8em;
	margin-left: 3em;
}

span.fcount {
	font-weight: normal;
	font-size: 0.8em;
	margin-left: 0em;
	font-family: sans-serif; 
}

/* 類義語・関連語 */
div.banner {
	margin-bottom: 2em;
}

dl {
	margin: 0 0 0.5em 0;
}

dt {
	display: inline;
	font-size: 0.9em;
	font-weight: bold;
}

dd {
	display: inline;
	font-size: 0.8em;
	margin-left: 0.5em;
}

/* 検索結果 */
div.fpage {
	margin-left:0.5em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}
div.fpage a{
	text-decoration: underline;
}

div.fpage h2 {
	font-weight: normal;
	font-size: 16;
	margin: 0;
}

div.fpage ul {
	list-style-type: none!important;
	padding: 0;
	margin: 0;
}
div.fpage ul li{
	list-style-type: none!important;
}

li.book {
	font-size: 0.7em;
	margin-top: 0.2em;
	color : #339966;
}

li.summary {
	font-size: 0.8em;
	margin-top: 0.1em;
}

/* フッターページ表示 */
ul.pagenavi {
	list-style-type: none;
	padding: 0;
	margin: 2em 0 0px 0;
}

ul.pagenavi li {
	display: inline;
}

li.no {
	margin: 0;
	font-family: sans-serif;
}

li.this, li.cont {
	margin: 0 0.3em;
	font-family: sans-serif;
}

li.this {
	font-weight: bold;
}

li.no a {
	padding: 0.2em 0.3em 0.2em;
/*	border: solid 1px #0000ff;*/
}

li.prevoff, li.nextoff {
	color: #999999;
}

/* メッセージ表示 */
div.message {
	background-color : #E5E5E5;
	padding : 15px 15px 10px 15px;
	width : 620px;
	margin-top : 25px;
	margin-bottom : 25px;
}

/* MESSAGE_CONTENTS_BLOCK */
#noscript {
	position: absolute;
	z-index: 10;
	width: 760px;
	background-color: #c0c0c0;
	text-align : center;
	font-size: 16px;
	font-weight: bold;
}

#searchForm a:link {
	color : #333;
}
