@charset "utf-8";


* {
	margin: 0;
	padding: 0;
	line-height: 1.3;
}

html {
	overflow-y: scroll;
}

body {
	color: #000;
	font-style: normal;
	font-weight: normal;
	background: #fff;
}

div[data-role="page"],
#localToc,
#searchResult {
	display: none;
}


p {
	margin-bottom: 1em;
}

strong, b {
	font-weight: bold;
}

img {
	border: 0px none;
	vertical-align: middle;
}

hr {
	display: none;
}

em, i, address {
	font-style: normal;
}

ul li {
	list-style: none;
}




a {
	&:link {
		color: #029;
	}
	&:visited {
		color: #7a1f9f;
	}
	&:link,
	&:visited {
		text-decoration: none;
		
		&:hover,
		&:focus {
			text-decoration: underline;
			color: #f00;
		}
	}
}

#header,
#footer,
#mobileLink,
#upper,
#mainNavi {
	a {
		&:link,
		&:visited {
			//color: #029;
		}
	}
}












/*--------------------------
	JQuery customize
---------------------------*/

.ui {
	&-corner {
		&-all,&-top,&-right,&-bottom,&-left,&-tl,&-tr,&-bl,&-br {
			border-radius: 0;
		}
	}
	
	&-widget {
		font-family: inherit;
		font-size: inherit;
		
		&-header {
			background: none;
			border: 0px none;
			color: inherit;
			font-weight: inherit;
		}
		&-content {
			background: none;
			color: inherit;

			a {
				//color: inherit;
			}
		}
	}
	
	&-tabs {
		padding: 0;
		
		.ui-tabs-nav {
			margin: 0;
			padding: 0;
		}
	}
}



/*--------------------------
	layout
---------------------------*/
#body {
	min-width: 882px;
	
	> div {
		> * {
			margin: 0 auto;
			width: 882px;
		}
	}
}

#contentsInner {
	padding: 20px 0 0;
}

#categoryNavi {
	float: left;
	position: relative;
}

#container {
	float: right;
	position: relative;
}

#c1 #container {
	float: none;
	width: 100%;
	position: static;
}

#header,
#header > div,
#footer,
#footer > *,
#globalNav,
#contentsInner {
	&:after {
		content: "";
		clear: both;
		display: table;
	}
}







/*--------------------------
	modal
---------------------------*/

.modalWin {
	background: #e5e5e5;

	.ui {
		&-dialog {
			&-titlebar {
				padding: 0.1em 0.6em;
				background-color: #efccd5;
				background-image: url(../css/images/highlight-soft_75_e5ccd5.png);
				border: none;
				min-height: 18px;

				span.ui-dialog-title {
					margin: 0;
				}
			}

			&-content {
				margin: 0;
				padding: 10px 15px 15px;
				border: 1px solid #aaa;
				background: #fff;
				line-height: 1.6; /**/
			}
		}

		&-state-focus {
			background: #d3d3d3 url(../css/images/glass_75_e6e6e6.png) repeat-x 50% 50%;
			border-color: #d3d3d3;
		}
	}

	.btn {
		margin: 20px 0 0;
		text-align: center;
	}

	div.ope {
		padding: 2px 3px 2px 6px;
		background: #cececc;
		border: 1px solid #aaa;
		text-align: left;

		button {
			margin: 0 5px 0 0;
		}

		.ui-button-text {
			padding: 2px 6px;
			width: 60px;
		}
	}

	.description {
		margin: 0;
		padding: 5px 0 0;
		display: block;
		color: #555;
		clear: both;
	}

	.list {
		padding: 10px 0;
		overflow: auto;

		li {
			margin: 5px 0 5px 20px;
			line-height: 20px;
			position: relative;

			input {
				margin: 3px 0 0 -15px;
				display: inline-block;
				vertical-align: top;
				position: absolute;
			}
		}

		label {
			margin: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

/* IE7 */
* html, *:first-child+html {
	.modalWin {
		div.ope {
			.ui-button-text {
				padding: 2px 5px 0;
			}
		}
	}
}






/*--------------------------
	toTop
--------------------------*/
#toTop {
	margin: 0;
	width: inherit;
	display: none;
	position: absolute;
	
	span {
		margin: 0 0 0 860px;
		background: url(../img/to_top.png) no-repeat 0 0;
		display: block;
		width: 22px;
		height: 45px;
		position: fixed;
		bottom: 30px;
		z-index: 15;
		cursor: pointer;
	}
}

#top {
	#toTop {
		span {
			margin-left: 884px;
		}
	}
}

@media screen and (max-width: 898px) {
	#toTop {
		span {
			margin: 0;
			position: absolute;
			right: 0;
		}
	}
}




