@charset "utf-8";

/* *****************************************************
	Contents
****************************************************** */


/*--------------------------
	container
---------------------------*/

#container {
    width: 587px;
    min-height: 100%;
    line-height: 1.3;
    position: relative;
    #page {
        padding: 0 22px 0 0;
        background: #fff;
        #pageInner {
            margin: 0;
            padding: 20px 0 50px;
        }
    }
}


/*
======================================================
*/

.container {
    ////////////////////////////////
    //	inline
    ////////////////////////////////
    img {
        border: 0 none;
        vertical-align: middle;
        height: 1.1em;
    }
    .image,
    .safety {
        img {
            height: auto;
        }
    }
    sup {
        vertical-align: top;
        font-size: 0.8em;
        margin-top: -3px;
    }
    sub {
        vertical-align: bottom;
        font-size: 0.8em;
        margin-bottom: -3px;
    }
    strong {
        font-weight: bold;
    }
    var {
        padding: 0px 3px;
        background-color: #ffecec;
        color: #999;
        font-style: normal;
    }
    code {
        padding: 0px 4px;
        background-color: #fafafa;
        border: 1px dotted #ccc;
        border-radius: 2px;
        color: inherit;
        white-space: normal;
        font-size: inherit;
        font-family: inherit;
    }
    .wbr {
        display: none;
    }
    mark {
        background: #fcf/*#ffb490*/
        ;
    }
    /////////////////////////////////
    //	Block
    //////////////////////////////////
    //==============================
    //	Tag base
    //==============================
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        font-family: inherit;
    }
    
    // edit
    h6.option01{
        text-align:center;
    }

    // edit
    h6.option01 img{
        height: 120px;
    }

    h1 {
        padding: 0 62px;
        min-height: 19px;
        width: auto;
    }
    h2 {
        margin: 30px 0 13px;
        padding: 4px 13px 2px;
        background: #c7d9f0;
        line-height: 1.2;
        min-height: 1em;
    }
    ul,
    ol {
        margin: 0;
        padding: 0;
    }
    ul {
        li {
            margin: 8px 0;
            padding-left: 15px;
            list-style: none;
            background: url(../img/articleStyle/list_1.png) no-repeat 0 3px;
        }
    }
    li,
    dt,
    dd {
        >* {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    p {
        margin: 0 0 8px;
    }
    //==============================
    //	class
    //==============================
    // boxPara --------------------------------
    .boxPara {
        border: 1px solid #000;
    }
    table .boxPara {
        text-align: center;
    }
    // image --------------------------------
    .image {
        padding: 10px 0;
    }
    // referenceMaker --------------------------------
    .referenceMaker {
        padding: 10px 5px;
        background: #ccc;
        display: inline-block;
        &:before {
            font-family: 'Glyphicons Halflings';
            content: "\e146";
        }
    }
    // summary ------------------------------------
    .summary {
        margin: 10px 0;
        li {
            padding-left: 18px;
            background: url(../img/articleStyle/list_9.png) no-repeat 0 2px;
        }
    }
    // pagenavi -----------------------------------
    div.pagenavi {
        margin: 20px 0;
        padding: 0px 5px;
        ul {
            border-left: 6px solid #882537;
            li {
                margin: 6px 0;
                padding: 2px 0 1px 12px;
                background: none;
                p {
                    margin: 0;
                }
            }
        }
    }
    // relation ---------------------------------------
    .relation {
        padding-left: 17px;
        background: url(../img/articleStyle/icon_link.png) no-repeat 0 3px;
    }
    // section ----------------------------------------
    div.section {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    // list ----------------------------------------------
    div.list {
        margin: 10px 0;
        ul.list {
            li {}
        }
    }
    // items --------------------------------------------
    ul.items {
        li {
            background: url(../img/articleStyle/list_2.png) no-repeat 0 3px;
        }
    }
    // subitems -----------------------------------------
    ul.subitems {
        li {
            background: url(../img/articleStyle/list_3.png) no-repeat 0 3px;
        }
    }
    // conditional ---------------------------------------
    ul.conditional {
        li {
            background: url(../img/articleStyle/list_1.png) no-repeat 0 0px;
        }
    }
    .flow {
        .stepItem {
            ul.conditional {
                li {
                    background: url(../img/articleStyle/list_1.png) no-repeat 0 4px;
                }
            }
        }
    }
    // Table --------------------------------------------
    table {
        margin: 10px 0;
        border: 1px solid #666;
        background: #fff;
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        th,
        td {
            border: 1px solid #666;
            border-spacing: 0;
            vertical-align: top;
            >* {
                margin: 5px;
            }
        }
        th {
            background: #acf;
            border: 1px solid #666;
            border-spacing: 0;
        }
    }
    // layout table --------------------------------------
    .layoutTable {
        table {
            margin: 0;
            border: 0px none;
            border-spacing: 0;
            width: 100%;
            th,
            td {
                border: 0px none;
            }
        }
    }
    // blockBox -----------------------------------------------------------------
    @mixin blockBoxCommon($blocBoxCommonPad) {
        margin: 15px 0;
        padding: $blocBoxCommonPad;
        h4 {
            margin: 0 0 8px -2px;
            padding: 2px 0 0 25px;
            min-height: 20px;
        }
        >ul {
            padding: 0 5px;
        }
    }
    //mwmo ------------------------------------------
    .memo {
        @include blockBoxCommon(7px 7px 7px 9px);
        background-color: #eeffff;
        border: 1px solid #c8feff;
        >h4 {
            background: url(../img/articleStyle/icon_memo.png) no-repeat 0 0px;
        }
        >p{ //edit
            >img{
                height: 20px;
            }
        }
    }
    //attention ------------------------------------------
    .attention {
        @include blockBoxCommon(0 0 0 20px);
        >h4 {
            background: url(../img/articleStyle/icon_attention.png) no-repeat 0 0px;
        }
    }
    //caution ------------------------------------------
    .caution {
        @include blockBoxCommon(0 0 0 20px);
        >h4 {
            background: url(../img/articleStyle/icon_caution.png) no-repeat 0 0px;
        }
    }
    //importance ------------------------------------------
    .importance {
        @include blockBoxCommon(7px 7px 7px 9px);
        background-color: #fff0ff;
        border: 1px solid #ffddff;
        >h4 {
            background: url(../img/articleStyle/icon_importance.png) no-repeat 0 0px;
        }
    }
    //recommendation ------------------------------------------
    .recommendation {
        @include blockBoxCommon(0 0 0 20px);
        >h4 {
            margin-top: 30px;
            background: url(../img/articleStyle/icon_setting.png) no-repeat 0 0px;
            background-position: 0 6px;
        }
    }
    //setting ------------------------------------------
    .setting {
        @include blockBoxCommon(0 0 0 20px);
        >h4 {
            background: url(../img/articleStyle/icon_recommendation.png) no-repeat 0 0px;
        }
        .default {
            padding: 0 0 0 15px;
            background: url(../img/articleStyle/list_4.png) no-repeat 0 4px;
        }
    }
    // related -----------------------------------------
    .related {
        margin: 15px 0;
        padding: 5px 0 0;
        background: url(../img/articleStyle/icon_related.png) no-repeat 0px 0px;
        h4 {
            margin: 0 0 7px 30px;
            border-bottom: 2px solid #f6d55e;
            color: #d8aa09;
        }
    }
    // subproperty ------------------------------------
    dl.subproperty {
        margin: 10px 0;
        dt {
            margin: 8px 0;
            padding: 0 0 0 15px;
            background: url(../img/articleStyle/list_5.png) no-repeat 0 3px;
        }
        dd {
            margin: 8px 0 8px 15px;
            padding: 0 0 0 15px;
            background: url(../img/articleStyle/list_4.png) no-repeat 0 4px;
        }
    }
    // safety ----------------------------------------
    .safety {
        padding: 20px 0 10px;
        &:before {
            float: right;
            content: '.';
            visibility: hidden;
            clear: both;
        }
        &::after {
            clear: both;
            content: '';
            display: table;
        }
        .anki_block {
            font-size: inherit;
            font-family: inherit;
            padding-left: 0;
        }
        table {
            border: 1px solid #555;
            th,
            td {
                padding: 5px;
                border: 1px solid #555;
                background: transparent;
                >* {
                    margin: auto;
                }
            }
        }
    }
    // flow --------------------------------------------
    .flow {
        margin: 20px 0;
        >ol {
            padding-left: 40px;
            >li {
                color: #f5ac7d;
                font-weight: bold;
                margin-top: 15px;
                >.stepItem {
                    margin-top: 0;
                    color: #000;
                    font-weight: normal;
                    >h4 {
                        margin: 0 0 5px;
                        font-weight: normal;
                        line-height: 1.5;
                    }
                }
            }
        }
        .presequence {
            padding: 0 0 0 15px;
            background: url(../img/articleStyle/list_6.png) no-repeat 0 2px;
        }
        .reference {
            padding: 0 0 0 18px;
            background: url(../img/articleStyle/list_7.png) no-repeat 0 0px;
        }
    }
    // supplement ------------------------------------
    .supplement {
        margin: 15px 0;
        padding: 0;
        >h5 {
            margin: 0;
            padding: 2px 0 2px 30px;
            background: url(../img/accordion_icon.png) no-repeat -240px -30px;
            border-bottom: 1px solid #c99;
            font-weight: normal;
            color: #a33;
            min-height: 16px;
            cursor: pointer;
            &.open {
                background-position: -210px -60px;
            }
        }
        >.supplementContents {
            margin: 0;
            padding: 10px;
            border: solid #c99;
            border-width: 0 1px 1px;
            display: none;
        }
        &.non_child {
            >h5 {
                a {
                    color: #a33;
                    text-decoration: none;
                }
            }
        }
    }
    #errMsg {
        .supplement {
            >h5 {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    // substep ---------------------------------------
    ol.substep {
        margin: 0 0 0 -8px;
        padding: 0;
        >li {
            margin: 8px 0;
            padding: 0.2em 0 0 45px;
            background: url(../img/articleStyle/list_number.gif) no-repeat;
            font-weight: normal;
            color: #000;
            list-style: none;
            min-height: 13px;
            line-height: 16px;
            @for $i from 1 through 50 {
                &.n#{$i},
                &:nth-child(#{$i}) {
                    background-position: -2000px + 40px * $i 30px - 30px * $i;
                }
            }
        }
    }
    // annotation ----------------------------------------
    ol.annotation {
        padding: 5px 0 10px;
        list-style: none;
        >li {
            padding-left: 33px;
            margin: 3px 0;
            position: relative;
            >p {
                margin-bottom: 2px;
            }
            &:before {
                position: absolute;
                left: 3px;
            }
            @for $i from 1 through 30 {
                &.n#{$i} {
                    &:before {
                        content: "*#{$i}";
                    }
                }
            }
            +li {
                margin-top: 8px;
            }
        }
    }

    // edit
    //ol.option01--------------------------------------------------
    ol.option01{
        >li{
            color: #f5ac7d;
            font-weight: bold;
            margin-top: 15px;
            font-size: 1.58em;
            >p{
                margin-top: 0;
                color: #000;
                font-weight: normal;
            }
        }
    }

    // dl.define ---------------------------------
    dl.define {
        dt {
            float: left;
        }
        dd {
            margin-left: 130px;
            p {
                &:before {
                    content: ':';
                }
            }
        }
    }
    /* tileLayoutA */
    .tileLayoutA {
        margin: -10px;
        &:after {
            content: "";
            clear: both;
            display: table;
        }
        .block {
            margin: 10px;
            padding: 5px;
            background: #fff;
            border: 1px solid #000;
            width: 260px;
            float: left;
            .link {
                padding: 5px;
                cursor: pointer;
                &:hover,
                &:focus {
                    background: #f8c27b;
                }
            }
            h4 {
                margin: 0 0 10px;
                padding: 0;
                background: transparent;
                line-height: 1.5;
                a {
                    text-decoration: none;
                }
            }
            .image {
                margin: 0 -5px;
                text-align: center;
            }
            >p {
                margin: 5px 10px 0 3px;
                padding: 0px 0 0 17px;
            }
        }
    }
}

//ens container
// 1 column layout
#c1 {
    .container {
        h1 {
            padding: 0;
            min-height: auto;
            width: auto;
        }
    }
}

////////////////////////////////////////
//	SITE MAP
////////////////////////////////////////
#sitemap {
    .pagelink {
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        li {
            margin: 0;
            padding: 0 5px 5px;
            background: none;
            float: left;
            list-style: none;
            width: 30%;
            a {
                margin: 0;
                padding: 3px 7px;
                background: #fee;
                border: 1px solid #dcc;
                display: block;
            }
        }
    }
    h2 {
        margin: 30px 0 5px;
        clear: both;
    }
    ul {
        li {
            background: url(../img/list_icon.png) no-repeat -180px -50px;
        }
    }
}