@charset "utf-8";
/*--------------------------
	footer
---------------------------*/


#body #footer {
	padding: 20px 0;
	color: #4d4d4d;
	
	> * {
		margin-top: -1px;
		border: 1px solid #999;
	}
	
	.exlink {
		background: #727171;
		
		li {
			float: left;
			
			a {
				margin-left: -1px;
				padding: 0 15px 0 10px;
				border-left: 1px solid #999;
				width: 195px;
				display: inline-block;
				line-height: 32px;
				color: #fff;
				
				&:hover {
					background: #336ea6;
					text-decoration: none;
				}
			}
		}
	}
	
	.link {
		li {
			float: left;
			
			a {
				margin: 0 30px 0 10px;
				padding: 0 0 0 12px;
				background: url(../img/mark_ancher.png) no-repeat 0 9px;
				display: inline-block;
				line-height: 32px;
			}
		}
	}
	
	#manualID,
	address {
		margin: 0 4px;
		line-height: 32px;
	}
	
	#manualID {
		float: left;
	}
	
	address {
		float: right;
	}
}


#contentsNo {
	display: none;
}

