@charset "utf-8";
/*--------------------------
	header
---------------------------*/

#header {
	padding: 15px 0 0;
	border-bottom: 3px solid #e00001;
	height: 55px;
	color: #727171;
	
	#meta {
		float: left;
		
		* {
			vertical-align: top;
			line-height: 1;
		}
		h1, span {
			margin-left: 35px;
			font-weight: bold;
		}
	}
	
	#dm {
		margin: 0;
		padding: 0;
		width: 0;
		height: 0;
		position: fixed;
		top: -10px;
	}

	/*--------
	copyright
	-----------*/
	#copyright {
		font-size: 0.6em;
		text-align: right;
	}
	
	#copyright {
		address {
			margin-top: -2px;
			float: right;
		}
	}
	
	
	/*--------
	 globalNav
	-----------*/

	#globalNav {
		margin: 0 0 0 110px;
		min-width: 300px;
		float: left;
		
		li {
			margin: 0 -1px 0 0;
			padding: 0 5px;
			border: solid #000;
			border-width: 0 1px;
			display: block;
			font-weight: bold;
			float: left;
			
			&.naviTop,
			&.naviPrintout {
				border-width: 0;
			}
			
			span {
				line-height: 20px;
			}
		}
	}

}













