@charset "utf-8";
/*--------------------------
	categoryNavi
---------------------------*/

#categoryNavi {
	margin: 0;
	
	/* menuShowHide */
	&.hide {
		background-color: #f1f1f1;
		background-repeat: no-repeat;
		overflow: hidden;
	}
	
	#menuShowHide {
		position: absolute;
		right: 0;
		z-index: 1;
		
		&.hide {
			span {
				background-position: -22px 0;
			}
		}
		
		span {
			width: 22px;
			height: 22px;
			display: block;
			background: url(../img/btn_menu_slider.png) no-repeat 0 0;
			cursor: pointer;
		}
	}
}







#Navi {
	border: 0px none;
	width: 255px;
	
	> ul {
		background: #fff;
		
		li {
			padding: 0;
			border: 0px none;
			
			&.tab2.ui-state-active {
				a {
					margin-bottom: -1px;
					height: 23px;
				}
			}
		}
		
		a {
			padding: 0;
			outline: 0px;
			height: 22px;
			
			span {
				display: none;
			}
		}
	}
	
	> div {
		min-height: 100%;;
	}
}


/* #localMenu */
#localMenu {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	
	.ope {
		a {
			width: 50%;
			line-height: 1.8;
			display: inline-block;
			text-align: center;
			color: #029;
			cursor: pointer;
			
			&:hover {
				color: #f00;
				background: #f9f9f9;
			}
			
			&.disabled {
				color: #000;
				cursor: default;
				
				&:hover {
					color: #000;
					background: transparent;
				}
			}
		}
	}
	
	.list {
		h2 {
			padding: 5px;
			background: #4d4d4d;
			color: #fff;
			text-align: center;
			
			a {
				color: #fff;
				
				&:hover {
					color: #f00;
					text-decoration: underline;
				}
			}
		}
		
		> ul {
			background: #b2b2b2;
			
			ul {
				background: #ddd;
				
				ul {
					background: #efefef;
				}
			}
			
			li {
				margin: 0 0 -1px;
				border: solid #fff;
				border-width: 1px 0;
				line-height: 22px;
				clear: left;
				
				.hitarea {
					margin: 4px 3px 0 5px;
					background: url(../img/menu_openclose.png) no-repeat;
					width: 13px;
					height: 13px;
					float: left;
					cursor: pointer;
					
					&.blank-hitarea {
						background-image: none;
					}
					
					&.collapsable-hitarea {
						background-position: -13px 0;
					}
				}
				
				span {
					padding: 3px 5px 3px 20px;
					display: block;
					
					&.selected {
						background: #f5ac7d;
					}
					
					a {
						line-height: 16px;
						color: #000;
						text-decoration: none;
						
						&:hover {
							color: #f00;
							text-decoration: underline;
						}
					}
				}
				
				li {
					.hitarea {
						margin-left: 20px;
					}
					
					span {
						padding-left: 35px;
					}
					
					li {
						.hitarea {
							margin-left: 35px;
						}
						span {
							padding-left: 50px;
						}
					}
				}
			}
			
			.collapsable,
			.expandable {
				> span a {
					cursor: pointer;
				}
			}
			
			.expandable {
				ul {
					display: none;
				}
			}
		}
	}
}








/*--------------------------
	NextPrev
---------------------------*/

#nextPrev {
	/*width: 587px;*/
	> span {
		position: absolute;
		top: 0;
	}
	
	a {
		display: block;
		width: 45px;
		height: 22px;
		background: url(../img/prev_next.png) no-repeat;
		
		&.disabled {
			opacity: 0.3;
			filter/***/: Alpha(opacity=30)\9;
		}
	}
	
	.prev {
		left: 0;
		
		a{
			background-position: 0 0;
		}
	}
	
	.next {
		right: 0;
		
		a{
			background-position: -50px 0;
		}
	}
}





