@charset "utf-8";
/*--------------------------
	search
---------------------------*/

#c1 #search {
	visibility: hidden;
}

#search {
	margin: 0px 0 0 20px;
	width: 330px;
	float: right;
	
	label {
		display: none;
	}
	
	#searchKey {
		padding: 0 3px;
		border: 1px solid #000;
		width: 275px;
		height: 24px;
		line-height: 24px;
		color: #9fa0a0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		
		&.keyIn {
			color: #4d4d4d;
		}
	}
	
	#searchSubmit {
		display: none;
	}
	
	#searchBtn {
		margin: 0;
		display:inline-block;
		width: 55px;
		height: 24px;
		vertical-align: top;
		cursor: pointer;
		
		span {
			display: none;
		}
	}
}

/* IE7 */
* html, *:first-child+html {
	#header {
		> div {
			position: relative;
			
			> * {
				float: none;
			}
		}
	}
	
	#search {
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		
		#searchKey {
			width: 265px;
		}
		
		#searchBtn {
			vertical-align: 0px;
		}
	}
}



#searchOption {
	position: relative;
	color: #000;
	
	> span.label {
		margin: 4px 0 0;
		display: inline-block;
	}
	
	#option {
		padding: 5px 10px;
		background: #fff;
		border: 1px solid #ccc;
		position: absolute;
		top: 4px;
		left: 0;
		z-index: 5;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display: none;
		
		> div {
			margin: 5px 0;
			
			.formItem {
				display: inline-block;
			}
		}
		
		.header {
			&:after {
				clear: both;
				content: '';
				display: table;
			}
			
			> h5 {
				float: left;
			}
			
			> span.close {
				float: right;
				color: #029;
				cursor: pointer;
				
				&:hover {
					color: #f00;
					text-decoration: underline;
				}
			}
		}
	}
	
	label {
		padding: 0 10px 0 4px;
		display: inline-block;
	}
	
	.disabled {
		label {
			color: #ccc;
		}
	}
	
	input {
		vertical-align: -2px;
	}
}






/*--------------------------
	ui-autocomplete
---------------------------*/
.ui-autocomplete {
	background: #fff;
	
	&.moreThan {
		padding-bottom: 0px;
		
		&:after {
			margin: 3px 0;
			content: "\22ee";/*fe19*/
			text-align: center;
			display: block;
			width:35%;
			font-size: 16px;
			font-weight: bold;
		}
	}
	
	&.ui-menu {
		.ui-menu-item {
			padding: 3px;
			list-style: none;
			font-size: 12px;

			&.ui-state-focus {
				margin: 0;
				padding: 3px;
				background: #ffe4b0;
				border: none;
				font-weight: normal;
				color: #000;
			}
		}
	}
}












/*--------------------------
	searchResult
--------------------------*/

#searchResult {
	padding: 0 5px;
	background: #fff;
	border: 1px solid #b5b5b5;

	.navigation {
		padding: 8px 2px 5px;
		border-bottom: 1px solid #909090;

		&:after {
			content: "";
			clear: both;
			display: table;
		}

		.count {
			float: left;
			font-weight: bold;

			span {
				margin-right: 3px;
				line-height: 16px;
				display: inline-block;
			}
		}

		.navi {
			float: right;

			span {
				margin: 0 1px;
				padding: 2px;
				min-height: 14px;
				display: inline-block;
				text-align: center;
				cursor: pointer;
				white-space: nowrap;
				-moz-user-select: none;
				-webkit-user-select: none;
			}

			.marg {
				margin: 0;
				padding: 2px 0;
				background: url(../img/btn_prevnext.png) no-repeat 0 50%;

				&.first {
					background-position: 0 30%;
					width: 15px;
				}

				&.prev {
					background-position: -15px 30%;
					width: 11px;
				}

				&.next {
					background-position: -26px 30%;
					width: 11px;
				}

				&.last {
					background-position: -37px 30%;
					width: 15px;
				}
			}

			.disable {
				opacity: 0.3;
				filter /***/: Alpha(opacity=30)\9;
				cursor: default;
			}

			.selected {
				background: #555;
				color: #fff;
				cursor: default;
			}

			.hide {
				display: none;
			}
		}
	}

	.result {
		//a {
		//	&:link {
		//		-ms-color: #06c;
		//		-moz-color: #00e;
		//		color: -webkit-link;
		//	}
		//	&:visited {
		//		-ms-color: #800080;
		//		-moz-color: #551A8B;
		//		color: -webkit-link;
		//	}
		//
		//	&:hover,
		//	&:focus {
		//		color: #f00;
		//	}
		//}
		
		h2 {
			margin: 0;
			padding: 3px 8px;
			background: #ddd;
			font-size: 1em;

			&:first-child {
				margin-top: 15px;
			}
		}

		.item {
			margin: 15px 7px;
			word-break: break-all;

			h3 {
				margin: 0 0 5px
			}

			p {
				margin: 0;
				line-height: 16px;
			}
		}

		mark {
			background: #fcf /*#ffb490*/;
		}

		.info {
			margin: 10px 5px;
			font-size: 1.2em;
		}
	}

	.termWord {
		margin: 15px 7px;

		p {
			margin: 5px 0;
		}
	}

	#relatedWords {
		margin: 15px 7px;

		.relatedKey {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			a {
				line-height: 16px;
			}
		}
	}
}



