﻿@charset "utf-8";

#top {

    @mixin pullDownNavi($bgpos: 0 0) {
        > ul {
            > li {
                > a {
                    background: url(../img/navi_right_bg.png) no-repeat;
                    background-position: $bgpos;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    span {
                        display: inline;
                    }
                }

                &.open > a,
                > a:hover {
                    background-position: -280px 0;
                    text-decoration: none;
                }
            }

            li {
                a {
                    margin: 0 0 2px;
                    padding: 0px 10px 0 30px;
                    width: 235px;
                    height: 29px;
                    display: block;
                    line-height: 29px;
                    font-weight: bold;
                    color: #4d4d4d;

                    &:focus {
                        text-decoration: none;
                    }
                }

                ul { //2nd~ UL
                    margin: 0 0 0 45px;
                    background: #c9caca;
                    display: none;
                    width: 210px;
                    position: absolute;

                    li {
                        + li {
                            margin-top: -1px;
                        }

                        a {
                            margin: 0;
                            padding: 5px 8px;
                            border: 1px solid #fff;
                            background: none;
                            width: auto;
                            height: auto;
                            line-height: 1;
                            font-weight: normal;

                            &:hover {
                                background: #a7946a;
                                color: #fff;
                            }
                        }
                    }
                }

                &.open {
                    ul {
                        display: block;
                    }
                }
            }
        }
    }




    #header {
        border-bottom: 3px solid #e00001;

        #headerNavi {
            float: right;

            * {
                line-height: 1;
            }

            a {
                &:link {
                    padding-left: 15px;
                    background: url(../img/mark_ancher.png) no-repeat 0 3px;
                }
            }
        }
    }

    h1 {
        display: inline;
    }
    //upper ---------------------------
    #upper {
        background: #c7d9f0;
        width: auto;

        > div {
            margin: 0 auto;
            padding: 15px 0 7px;
            width: 882px;
        }

        .upHead {
            height: 50px;
        }

        #model {
            width: 512px;
            float: left;
            font-weight: bold;
        }

        #search {
            margin-top: 0;

            #searchKey {
                border: 0px none;
                height: 24px;
                line-height: 24px;
            }
        }
    }

    #recommend {
        padding: 0;
        background: none;
        border: 0px none;
        color: inherit;

        ul {
            padding: 0;
            background: none;
            border: 0px none;
            color: inherit;

            li {
                margin: 0;
                padding: 0;
                background: none;
                border: 0px none;

                a {
                    padding: 0;
                    background-repeat: no-repeat;
                    height: 33px;
                    outline: 0px none;
                }
            }
        }

        > div {
            padding: 14px 10px 6px 15px;
            background: #fff;
            display: none;

            &#tab1 {
                display: block;
            }

            > span {
                margin: 0;
                display: inline-block;

                + span {
                    margin-left: 9px;
                }
            }
        }
    }

    #moreRec {
        margin: 0;
        padding: 8px 0 0;
        background: url(../img/recommend_bottom_bg.png) no-repeat 0 0;
        text-align: right;
        height: 30px;

        a {
            width: 195px;
            height: 30px;
            display: inline-block;

            span {
                display: none;
            }
        }
    }
    //mainNavi-----------------------------------------
    #mainNavi {
        padding: 20px 0 0;
        display: table;

        > div {
            display: table-row;

            &#toTop {
                display: none;
            }

            > div {
                vertical-align: top;
                display: table-cell;
            }
        }

        .navLeft {
            width: 295px;

            a {
                margin: 0 0 2px;
                background-repeat: no-repeat;
                width: 295px;
                height: 52px;
                display: block;

                $navLeftClass: copy, print, scan, fax;

                @each $name in $navLeftClass {
                    $i: index($navLeftClass, $name);

                    &.#{$name} {
                        background-position: 0px 60px - 60px * $i;

                        &:hover {
                            background-position: -295px 60px - 60px * $i;
                        }
                    }
                }

                span {
                    display: none;
                }
            }
        }

        .navCenter {
            width: 308px;
            vertical-align: middle;

            li {
                margin: 7px 0;

                a {
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    width: 259px;
                    height: 55px;
                    display: block;

                    $navCenterClass: maint, trouble;

                    @each $name in $navCenterClass {
                        $i: index($navCenterClass, $name);

                        &.#{$name} {
                            background-position: 0px 60px - 60px * $i;

                            &:hover {
                                background-position: -300px 60px - 60px * $i;
                            }
                        }
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        .navRight {
            width: 275px;

            @include pullDownNavi;
        }
    }

    #mobileLink {
        margin: -10px 0 0;
        padding: 0 0 20px;
        font-size: 0.9em;
        color: #999;

        p {
            text-align: right;
        }
    }
    //clearfix ----------------
    #upper .upHead,
    #mainNavi {
        &:after {
            content: "";
            clear: both;
            display: table;
        }
    }
    //SFP =======================================================================
    &.sfp {
        #upper {
            background-color: rgb(195,225,185);
        }

        #mainNavi {
            width: auto;

            .navLeft,
            .navRight {
                padding: 0 50px;
                width: auto;
            }

            .navLeft {
                a {
                    &.print {
                        background-position: 0px -310px;

                        &:hover {
                            background-position: -295px -310px;
                        }
                    }
                }

                #navCenterItems {
                    margin-top: 14px;

                    li {
                        margin: 5px 0;
                    }

                    a {
                        height: 55px;

                        &.maint {
                            background-position: 0px -150px;

                            &:hover {
                                background-position: -300px -150px;
                            }
                        }

                        &.trouble {
                            background-position: 0px -210px;

                            &:hover {
                                background-position: -300px -210px;
                            }
                        }
                    }
                }
            }

            .navRight {
                > ul {
                    > li {
                        > a {
                            background-position: 0 -30px;

                            &:hover {
                                background-position: -280px -30px;
                            }
                        }
                    }
                }
            }
        }

        #footer {
            .exlink {
                li {
                    a {
                        &:hover {
                            background-color: #2A7E55;
                        }
                    }
                }
            }
        }
    }
    //SFP =======================================================================
    &.sfp2 {
        #upper {
            background-color: rgb(195,225,185);
        }

        #mainNavi {
            width: 882px;

            .navLeft,
            .navRight {
                padding: 0;
                width: 275px;
            }

            .navLeft {
                padding: 1px 0;

                > ul {
                    > li {
                        a {
                            margin: 0 0 4px;
                            padding: 0px 10px 0 30px;
                            background: #f8f8f8 url(../img/mark_ancher.png) no-repeat 11px 6px;
                            border: 2px solid #c8e4c0;
                            border-radius: 15px;
                            display: block;
                            width: 275px;
                            height: 27px;
                            line-height: 25px;
                            font-weight: bold;
                            color: #4d4d4d;
                            box-sizing: border-box;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            &:hover {
                                background-color: #c9c9ca;
                                text-decoration: none;
                            }

                            span {
                                display: inline;
                            }
                        }
                    }
                }
            }

            .navCenter {
                width: 332px;

                ul {
                    li {
                        a {
                            &.maint {
                                background-position: 0px -300px;

                                &:hover {
                                    background-position: -300px -300px;
                                }
                            }

                            &.trouble {
                                background-position: 0px -360px;

                                &:hover {
                                    background-position: -300px -360px;
                                }
                            }
                        }
                    }
                }
            }

            .navRight {
                > ul {
                    > li {
                        > a {
                            background-position: 0 -30px;

                            &:hover {
                                background-position: -280px -30px;
                            }
                        }
                    }
                }
            }
        }

        &:not([lang='ja-jp']) {
            #mainNavi {
                .navCenter {
                    ul {
                        li {
                            a {
                                &.maint {
                                    background-position-y: 0px;

                                    &:hover {
                                        background-position-y: 0px;
                                    }
                                }

                                &.trouble {
                                    background-position-y: -60px;

                                    &:hover {
                                        background-position-y: -60px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        #footer {
            .exlink {
                li {
                    a {
                        &:hover {
                            background-color: #2A7E55;
                        }
                    }
                }
            }
        }
    }
}/* end top */




#axAlert {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 101;

	.ui-dialog {
		margin: 10px auto 0;
		width: 910px;
		position: relative;
	}
	h3 {
		margin: 5px 0 15px;
		text-align: center;
		font-size: 18px;
	}
	ol {
		margin-left: 40px;
	}
	.btn {
		.chk {
			margin: 0 0 0 18px;
			float: left;
			position: absolute;

			input {
				margin: 0 5px 0 0;
				vertical-align: -2px;
			}
		}
	}
}