@charset "utf-8";
/* -----------------------------------------------
 * Base
 */

html {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1em;
    font-family: sans-serif;
}


.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: #fff;
	border-color: #fff;
	color: #000;
	text-shadow: none;
}

.ui-page-theme-a .ui-panel-wrapper {
	background-color: #fff;
	border-color: #fff;
	color: #000;
	text-shadow: none;
}


a {
	&:link {
		color: #029;
	}
	&:visited {
		color: #7a1f9f;
	}
}

.ui-page-theme-a,
html .ui-bar-a,
html .ui-body-a,
html body .ui-group-theme-a {
	a {
		font-weight: normal;
		
		&:link {
			color: #029;
		}
		&:visited {
			color: #7a1f9f;
		}
	}
}



#wrapper {
	padding: 10px 0 0;
	position: relative;
	
	#container {
		width: auto;
	}
}



h1 {
	background: #ccc;
	font-size: 1.3rem;
	text-shadow: none;
	font-weight: bold;
}



/*--------------------------
	to top
---------------------------*/
#toTop {
	background: {
		image: url("../img/to_top_m.png");
		repeat: no-repeat;
	}
	border: {
		width: 1px 1px 0;
		style: solid;
		color: #e2e2e2;
	}
	display: none;
	width: 60px;
	height: 60px;
	position: fixed;
	z-index: 150;
	bottom: 51px;
	right: 0;
	cursor: pointer;
}



[lang='ja-jp'] {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, Helvetica, sans-serif;
}

