@charset "utf-8";

/* -----------------------------------------------
 * container
 */

#container {
    position: relative;
    h1 {
        margin: 5px 0px 15px;
        padding: 5px;
    }
    h2 {
        margin: 20px 0 13px;
        padding: 3px 5px;
        background: #c7d9f0;
        line-height: 1.2;
        min-height: 1em;
        font-size: 1.1rem;
        text-shadow: none;
    }
    h5.option01 {
        margin: 20px 0 13px;
        padding: 3px 5px;
        background: #c7d9f0;
        line-height: 1.2;
        min-height: 1em;
        font-size: 1.1rem;
        text-shadow: none;
    }
    mark {
        background: #fcf;
    }
    img {
        height: 1.1rem;
    }
    .image {
        &.chapterLinkMap {
            /* to chaptor index image view hide ****/
            display: none;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
    ul {
        padding-left: 0px;
        li {
            margin: 8px 0;
            padding-left: 15px;
            list-style: none;
            background: url(../img/articleStyle/list_1.png) no-repeat 0 0.35em;
        }
    }
    //* pagenavi */
    .pagenavi {
        margin: 20px 0;
        padding: 0;
        ul {
            border-left: 6px solid #882537;
            li {
                margin: 3px 0;
                padding-left: 10px;
                background: none;
            }
        }
    }
    //* option01 */
    ul.option01 {
        >li {
            background-image: url(../img/articleStyle/list_2.png);
            background-size: auto 10px;
        }
    }
    ul.subitems {
        padding-left: 0px;
        li {
            padding-left: 20px;
            list-style: none;
            background-image: url(../img/articleStyle/list_3.png);
        }
    }
    //* relation */
    .relation {
        padding-left: 17px;
        background: url(../img/articleStyle/icon_link.png) no-repeat 0 3px;
        background-size: auto 13px;
    }
    //* Table */
    div.table {
        /*margin: 10px -1px 30px;
		padding: 0;
		border: solid #000;
		border-width: 0 1px;*/
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    table {
        margin: 10px 0;
        background: #fff;
        border: 1px solid #666;
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        font-size: 0.7rem;
        th,
        td {
            border: 1px solid #666;
            border-spacing: 0;
            vertical-align: top;
            >* {
                margin: 5px;
            }
        }
        th {
            background: #acf;
            border: 1px solid #666;
            border-spacing: 0;
        }
    }
    .layoutTable {
        table {
            border: 0 none;
            font-size: 1rem;
            th,
            td {
                border: 0 none;
            }
        }
    }
    //* flow */
    // .flow {
    //     transform-origin: 50% 50%;
    //     box-shadow: none;
    ol.option01 {
        >li::marker {
            color: #fc9;
            font-weight: bold;
            font-size: 1.3rem;
        }
        >li {
            >* {
                color: #000;
                font-weight: normal;
                font-size: 1rem;
            }
            h4 {
                font-size: 1rem;
            }
        }
    }
    // }
    //* memo, attention, caution, importance, recommendation setting */
    .memo,
    .caution,
    .attention,
    .recommendation,
    .setting {
        margin: 15px 0;
        padding: 0;
        font-size: 1rem;
        h4 {
            margin: 0 0 8px -2px;
            padding: 2px 0 0 25px;
            min-height: 20px;
            font-weight: bold;
        }
        >ul {
            padding: 0 5px;
            >li {
                //padding-left: 0;
            }
        }
    }
    .memo,
    .attention {
        padding: 7px 7px 7px 9px;
    }
    .memo {
        background-color: #eeffff;
        border: 1px solid #c8feff;
        >h4 {
            background: url(../img/articleStyle/icon_memo.png) no-repeat 0 0px;
            font-size: 1rem;
        }
        >p:first-child {
            >img:first-child {
                min-height: 20px;
            }
        }
    }
    .attention {
        background-color: #fff0ff;
        border: 1px solid #ffddff;
        >h4 {
            background: url(../img/articleStyle/icon_importance.png) no-repeat 0 0px;
        }
        >p:first-child {
            >img:first-child {
                min-height: 20px;
            }
        }
    }
    .caution {
        >h4 {
            background: url(../img/articleStyle/icon_caution.png) no-repeat 0 0px;
        }
        >p:first-child {
            >img:first-child {
                min-height: 20px;
            }
        }
    }
    .setting {
        >h4 {
            background: url(../img/articleStyle/icon_recommendation.png) no-repeat 0 0px;
        }
        .default {
            padding: 0 0 0 15px;
            background: url(../img/articleStyle/list_4.png) no-repeat 0 4px;
        }
    }
    .recommendation {
        >h4 {
            margin-top: 30px;
            background: url(../img/articleStyle/icon_setting.png) no-repeat 0 3px;
        }
    }
    //* related */
    .related {
        margin: 15px 0;
        padding: 5px 0 0;
        background: url(../img/articleStyle/icon_related.png) no-repeat 0px 0px;
        font-size: 1rem;
        h4 {
            margin: 0 0 7px 30px;
            border-bottom: 2px solid #f6d55e;
            color: #d8aa09;
            font-size: 1rem;
        }
    }
    //* supplement */
    .supplement {
        margin: 15px 0px;
        padding: 0;
        >h5 {
            margin: 0;
            padding: 2px 0 2px 30px;
            background: url(../img/accordion_icon.png) no-repeat -240px -30px;
            border-bottom: 1px solid #c99;
            font-weight: normal;
            font-size: 1rem;
            color: #a33;
            min-height: 16px;
            cursor: pointer;
            &.open {
                background-position: -210px -60px;
            }
        }
        >.supplementContents {
            margin: 0;
            padding: 10px;
            border: solid #c99;
            border-width: 0 1px 1px;
            display: none;
        }
        &.non_child {
            >h5 {
                a {
                    color: #a33;
                    text-decoration: none;
                }
            }
        }
    }
    #errMsg .supplement>h5:hover {
        text-decoration: underline;
    }
    //* steplist */
    .steplist {
        li {
            margin-left: 30px;
            color: #FFCC99;
            font-weight: bold;
        }
        span {
            color: #000;
            font-weight: normal
        }
    }
    //* substep */
    ol.substep {
        padding-left: 28px;
        counter-reset: substepList;
        li {
            list-style: none;
            counter-increment: substepList;
            position: relative;
            &:before {
                content: "(" counter(substepList) ")";
                color: #3af;
                font-weight: bold;
                font-size: 0.85rem;
                position: absolute;
                left: -35px;
            }
        }
    }
    // annotation ----------------------------------------
    ol.annotation {
        padding: 5px 0 10px;
        list-style: none;
        >li {
            padding-left: 33px;
            margin: 3px 0;
            position: relative;
            >p {
                margin-bottom: 2px;
            }
            &:before {
                position: absolute;
                left: 3px;
            }
            @for $i from 1 through 30 {
                &.n#{$i} {
                    &:before {
                        content: "*#{$i}";
                    }
                }
            }
            +li {
                margin-top: 8px;
            }
        }
    }
    //* tileLayoutA */
    .tileLayoutA {
        .block {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            &:last-child {
                border-bottom: 0 none;
            }
            .link {
                padding: 0 0 15px;
                cursor: pointer;
            }
        }
    }
}

// /#container