@charset "utf-8";
/* -----------------------------------------------
 * footer
 */


footer,
footer.ui-footer.ui-bar-inherit {
	margin: 15px 10px;
	font-size: 0.7rem;
	text-align: center;
	background: #fff;
	border: 0 none;
	font-weight: normal;
}
footer {
	
	#mobileLink {
		color: #999;
	}
	p {
		margin: 0;
		line-height: 1.7em;
	}
	p.copy {
		font-size: 0.6rem;
		white-space: nowrap;
	}
	
}
#contentsNo {
	display: none;
}




