@charset "utf-8";
/* -----------------------------------------------
 * header
 */


header,
header.ui-header.ui-bar-inherit {
	margin: 0;
	padding: 0 6px;
	background: #fff;
	border-bottom: 5px solid #f00;
	height: 58px;
	position: relative;
}

header {
	> div {
		margin: 0 0 10px;
	}
	
	.logo {
		padding: 14px 6px 7px 6px;
		height: 43px;
		float: left;
		
		img {
			height: 21px;
		}
		.usermanual {
			display: none;
		}
	}
	
	.uti {
		position: absolute;
		left: 100px;
		right: 0;
		top: 11px;
	}
	#search {
		height: 30px;
		position: absolute;
		left: 0px;
		right: 50px;
		top: 0px;
		
		#searchKey {
			height: 30px;
			min-height: 30px;
			border-radius: 0;
			font-weight: normal;
		}
		.ui {
			&-input {
				&-text,
				&-search {
					height: 30px;
					margin: 0;
					background: none;
					color: inherit;
					text-shadow: none;
					box-shadow: none;
					border-radius: 0;
					position: absolute;
					left: 0;
					right: 30px;
				}
				&-search {
					&:after {
						display: none;
					}
					input {
						padding-left: 0.4em;
					}
				}
			}
		}
	}

	#searchBtn {
		margin: 0;
		padding: 3px 6px 3px;
		border: 0;
		border-radius: 0;
		background: #000;
		height: 30px;
		width: 30px;
		position: absolute;
		right: 0;
		box-shadow: none;
	}
	#searchBtn img {
		width: 18px;
		display: inline-block;
	}
	.uti #showMenu,
	.uti #toHome,
	.uti #toToc{
		margin: 0;
		padding: 0;
		border: 0 none;
		background: none;
		width: 30px;
		height: 30px;
		outline: 0;
		overflow: visible;
		box-shadow: inherit;
		position: absolute;
		right: 10px;
	}
	.uti #showMenu span {
		
	}
	.uti #showMenu .glyphicon:before {
		font-size: 1.8rem;
		color: #aaa;
	}
	
	.uti .ui-icon-delete:after {
		background-image: url("data:image/svg+xml;charset=US-ASCII,%3c%3fxml%20version%3d%221%2e0%22%20encoding%3d%22iso%2d8859%2d1%22%3f%3e%3c%21DOCTYPE%20svg%20PUBLIC%20%22%2d%2f%2fW3C%2f%2fDTD%20SVG%201%2e1%2f%2fEN%22%20%22http%3a%2f%2fwww%2ew3%2eorg%2fGraphics%2fSVG%2f1%2e1%2fDTD%2fsvg11%2edtd%22%3e%3csvg%20version%3d%221%2e1%22%20id%3d%22Layer_1%22%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20xmlns%3axlink%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f1999%2fxlink%22%20x%3d%220px%22%20y%3d%220px%22%20%20width%3d%2214px%22%20height%3d%2214px%22%20viewBox%3d%220%200%2014%2014%22%20style%3d%22enable%2dbackground%3anew%200%200%2014%2014%3b%22%20xml%3aspace%3d%22preserve%22%3e%3cpolygon%20fill%3d%22%23FFF%22%20points%3d%2213%2c2%2012%2c1%207%2c6%202%2c1%201%2c2%206%2c7%201%2c12%202%2c13%207%2c8%2012%2c13%2013%2c12%208%2c7%20%22%2f%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3c%2fsvg%3e");
	}

}


//autocomplete ----------------------------
header {
	.ui-autocomplete {
		margin: 0 20px;
		padding: 0;
			background: #fff;
		outline: none;
		list-style: none;
		display: block;
		font-weight: normal;
		position: absolute;
		top: 0;
		left: 0;
		cursor: default;
		z-index: 2000;
		box-shadow: 0 5px 15px rgba(0,0,0,.5);
		min-width: 200px;
		max-width: 500px;
		width: 90%;
		
		.ui-menu-item {
			margin: -1px auto 0;
			padding: 7px 15px;
			background: #fff;
			border: 1px solid #ddd;
			min-height: 0;
			list-style: none;
			text-align: left;
			position: relative;
			cursor: pointer;
			
			&:hover,
			&.ui-state-focus {
				background: #f5ac7d;
			}
		}
		
		&.moreThan {
			padding: 0;

			&:after {
				margin: 0px 0;
				padding: 7px 0;
				content: "\22ee";/*fe19*/
				text-align: center;
				border: solid #ddd;
				border-width: 0 1px;
				display: block;
				font-size: 16px;
				font-weight: bold;
			}
		}
	}
}


//lang ------------------------------------
#showMenu {
	display: none;
}
[lang="ja-jp"],[lang^="ja-"] {
	#showMenu {
		display: block;
	}
}
