@charset "utf-8";
/* -----------------------------------------------
 * menu modal (top right button)
 */


#menuModal {
	display: block;
	width: 100%;
	position: absolute;//fixed;
	top: 58px;
	left: 0;
	z-index: 10001;
	
	&.close {
		display: none;
	}
	
	.modal-content {
		margin: 0 5px;
	}
	.modal-body {
		padding: 0;
	}
	
	.modal-body ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.modal-body ul li {
		border-bottom: 1px solid #999;
	}
	.modal-body ul li:last-child {
		border-bottom: 0 none;
	}
	.modal-body ul li a {
		padding: 10px 20px;
		display: block;
		color: #000;
		text-decoration: none;
	}
	.modal-body ul li a .glyphicon {
		margin: 0 10px 0 3px;
	}
	
}

.menuOverlay {
	background: #fff;
	//height: 100%;
	opacity: 0.7;
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
}
.menuOverlay.close {
	display: none;
}
body.showModal {
	overflow: hidden;
}

body.showMenuModal {
	//overflow: hidden;
	//height: 100%;
	//width: 100%;
	//position: fixed;
	
	#searchKey,
	.ui-input-clear,
	#searchBtn {
		pointer-events: none;
	}
}