@charset "utf-8";

$SR_BtnWidth: 25px;
$SR_BtnPadLR: ($SR_BtnWidth - 15 ) / 2;
$SR_Panel_width: 60%;

#searchResult {
    margin: 0;
    //max-height: 100%;
    //min-height: 100%;
    display: none;
    width: 0;
    position: fixed;
    top: 58px;
    right: 0;
    bottom: 0;
    z-index: 1200;
    //overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    //transition: width 300ms ease;
    &.enable {
        display: block;
        width: $SR_BtnWidth;
    }

    .slidePanel {
        width: $SR_Panel_width;
        position: absolute;
        right: -$SR_Panel_width;
        top: 0;
        bottom: 0;
        z-index: 1201;
        //overflow: hidden;
        transition: right 300ms ease;
    }

    .btnArea {
        width: $SR_BtnWidth;
        position: absolute;
        top: 0;
        left: -$SR_BtnWidth;
        //right: 0;
        bottom: 0;
        z-index: 1201;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        .searchResultBtn {
            margin: 0;
            padding: 15px 0px /*$SR_BtnPadLR*/;
            background: #57b0e3;
            width: $SR_BtnWidth;
            height: 100%;
            min-height: 100%;
            //text-align: center;
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            font-size: 1em;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            cursor: pointer;
            box-sizing: border-box;
            border-top-left-radius: 4px;
            letter-spacing: 2px;
            line-height: 25px;

            > .text {
                -webkit-writing-mode: vertical-rl;
            }

            .glyphicon {
                margin: 0 5px;
            }
        }
    }

    .resultArea {
        //margin-left:  $SR_BtnWidth;
        padding: 0 0 30px;
        background-color: #fff;
        border-left: 1px solid #ccc;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; //$SR_BtnWidth;
        right: 0;
        z-index: 1202;
        box-shadow: none;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        #searchResultClose {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: 0 none;
            outline: 0;
            width: 30px;
            height: 30px;
            position: absolute;
            right: 7px;
            top: 3px;
        }
    }


    &.closed {
        width: $SR_BtnWidth;
        transition-delay: 400ms;
    }

    &.opened {
        width: 100%;

        .slidePanel {
            right: 0;
        }

        .btnArea {
            //right: $SR_Panel_width;
        }
        /*.resultArea {
			right: 0;
			//width: 100%;
		}*/
    }






    .navigation {
        padding: 8px 10px 5px;
        border-bottom: 1px solid #909090;
        min-height: 36px;

        &:after {
            content: "";
            clear: both;
            display: table;
        }

        .count {
            float: left;
            font-weight: normal;

            span {
                margin-right: 3px;
                line-height: 16px;
                display: inline-block;
            }
        }

        .navi {
            float: right;
            display: none;

            span {
                margin: 0 1px;
                padding: 2px;
                min-height: 14px;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;
                -moz-user-select: none;
                -webkit-user-select: none;
            }

            .marg {
                margin: 0;
                padding: 2px 0;
                background: url(../img/btn_prevnext.png) no-repeat 0 50%;

                &.first {
                    background-position: 0 30%;
                    width: 15px;
                }

                &.prev {
                    background-position: -15px 30%;
                    width: 11px;
                }

                &.next {
                    background-position: -26px 30%;
                    width: 11px;
                }

                &.last {
                    background-position: -37px 30%;
                    width: 15px;
                }
            }

            .disable {
                opacity: 0.3;
                cursor: default;
            }

            .selected {
                background: #555;
                color: #fff;
                cursor: default;
            }

            .hide {
                display: none;
            }
        }
    }

    .result {
        h2 {
            margin: -1px 0 0;

            a {
                margin: 0;
                padding: 12px 30px 12px 8px;
                background: #eee url(../img/arrow_right.png) no-repeat 100% 50%;
                background-size: auto 25px;
                border: solid #ccc;
                border-width: 1px 0;
                display: block;
                color: #000;
                font-size: 1rem;
                text-shadow: none;
                font-weight: normal;
                text-decoration: none;

                &[aria-expanded="true"] {
                    background-image: url(../img/arrow_bottom.png);
                    background-size: auto 37px;
                }
            }
        }

        .category:first-child {
            margin-top: 15px;
        }

        .item {
            margin: 0pp;
            padding: 10px;
            word-break: break-all;
            border-bottom: 1px solid #eee;
            font-size: 0.8rem;

            h3 {
                margin: 0 0 5px;
                font-size: 1rem;
                text-shadow: none;
            }

            p {
                margin: 0;
                /*line-height: 16px;*/
            }
        }

        mark {
            background: #fcf;
            padding: 0;
        }

        .info {
            margin: 10px 5px;
            font-size: 1.2em;
        }
    }

    .termWord {
        margin: 15px 7px;

        p {
            margin: 5px 0;
        }
    }


    #relatedWords {
        margin: 15px 7px;

        .relatedKey {
            + .relatedKey {
                margin-left: 10px;
            }

            a {
                line-height: 16px;
            }
        }
    }

    #option {
        padding: 0 10px;
        font-size: 0.8rem;

        .optionBtn {
            margin: 5px 0 0;
            padding: 6px 30px 6px 10px;
            border-color: #ccc;
            outline: none;
            background-color: #f5f5f5;
            background-image: url(../img/arrow_right.png);
            background-repeat: no-repeat;
            background-position: 100% 50%;
            background-size: auto 18px;
            font-size: 0.8rem;
            font-weight: normal;

            &.open {
                background-image: url(../img/arrow_bottom.png);
                background-size: auto 28px;
                //border-bottom-width: 0;
            }
        }

        .optionItem {
            //margin: -1px 0 0;
            //padding: 10px 5px 0;
            //background: #f5f5f5;
            //border: 1px solid #ccc;
            padding: 10px 0 0;
            display: none;
        }

        label {
            margin-bottom: 0.7em;
            padding: 0;
            display: inline-block;
            font-size: 0.8rem;
            /*&.btn {
				padding: 5px 10px;
				&.btn-default:hover {
					background-color: #fff;
				}
				&.btn-default.active:hover {
					background-color: #e6e6e6;
				}
				&.disabled {
					pointer-events: none;
				}
			}*/
            + label {
                margin-left: 1em;
            }
        }

        .disabled label {
            color: #ccc;
        }

        input {
            margin: 0 3px 0 0;
            vertical-align: -2px;
        }
    }
}
// /#searchResult

body {
	&[lang="ja-jp"],
	&[lang="zh-cn"],
	&[lang="zh-tw"],
	&[lang="ko-kr"] {
		#searchResult {
			.btnArea {
				.searchResultBtn {
					> .text {
						letter-spacing: 5px;
						//-webkit-writing-mode: horizontal-tb;
					}
				}
			}
		}
	}
}

#wrapper {
	padding-right: $SR_BtnWidth - 10;
}

.top {
	#container.searchResultEnabled {
		margin-right: $SR_BtnWidth;
	}
}


