@charset "utf-8";
/* -----------------------------------------------
 * TOC & searchResult Panels
 */


//overray in active page
.panelBackDrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1250;
	background: #fff;
	opacity: 0.5;
	
	&.searchResultBackDrop {
		top: 58px;
		z-index: 1100;
	}
}





body.tocOpen .ui-page-active.panelOpen,
.ui-page-active.panelOpen .SRFixed {
	width: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 100;
}
.ui-panel-dismiss-open.dfix {
	height: 100%;
	position: fixed;
}


body.searchResultOpen {
	.ui-page {
		padding-top: 58px;
	}
	header {
		position: fixed !important;
		z-index: 1500;
		top: 0;
		left: 0;
		width: 100%;
	}
}


#c1 .tocBtn {
	//display: none;
}





body,html {
	&.tocOpen,
	&.searchResultOpen {
		//overflow: hidden;
		.ui-page {
			overflow: hidden;
			height: 100%;
		}
	}
}

#localToc,
#searchResult {
	.paneltitle {
		display: none;
	}
}

@import "toc";
@import "searchResult";



