@charset "utf-8";

#localToc {
	background-color: #fff;
	border-right: 1px solid #ccc;
	box-shadow: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: none;
	left: 0;
	min-height: 100%;
	position: absolute;
	top: 0px;
	width: 60%;
	z-index: 1301;
	-webkit-overflow-scrolling: touch;
	
	&.closed {
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: hidden;
		visibility: hidden;
		-webkit-transform: translateX(-60vw);
		-moz-transform: translateX(-60vw);
		transform: translateX(-60vw);
		-webkit-transition: -webkit-transform 300ms ease, visibility 1ms ease 300ms;
		-moz-transition: -moz-transform 300ms ease, visibility 1ms ease 300ms;
		transition: transform 300ms ease, visibility 1ms ease 300ms;
	}
	&.opened {
		
		overflow-x: hidden;
		overflow-y: auto;
		visibility: visible;
		max-height: 100%;
		-webkit-transform: translateX(0);
		-moz-transform: none;
		transform: translateX(0);
		-webkit-transition: -webkit-transform 300ms ease;
		-moz-transition: -moz-transform 300ms ease;
		transition: transform 300ms ease;
	}
	
	
	
	
	
	
	
	a {
		text-shadow: none;
	}
	
	
	.ui-panel-inner {
		padding: 0;
	}
	
	.indexLink {
		a {
			padding: 10px 10px 10px 50px;
			background: url(../img/home.png) no-repeat 10px 50%;
			display: block;
			color: #000;
			text-decoration: none;
		}
	}
	
	.toc {
		padding: 0 0 30px;
	}
	
	h2 {
		margin: 0;
		padding: 12px 15px;
		background: #4d4d4d;
		color: #fff;
		text-align: center;
		font-size: 1.2rem;
		font-weight: normal;
		
		a {
			color: #fff;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			> span {
				background: #fff;
				
				&.childOpen {
					background: #ccc;
				}
			}
			
			ul {
				li {
					> span{
						background: #f0f0f0;
						
						&.childOpen {
							background: #ddd;
						}
					}
					
					ul {
						li {
							> span {
								background: #f7f7f7;
								
								&.childOpen {
									background: #eee;
								}
							}
						}
					}
				}
			}
		}
	}
	
	li {
		margin: 0;
		padding: 0;
		border: solid #999;
		border-width: 2px 0 0;
		display: block;
		
		&:last-child {
			border-width: 2px 0;
		}

		a {
			display: block;
			padding: 10px 35px 10px 20px;
			text-decoration: none;
			font-size: 1.0rem;
			font-weight: normal;
			color: #000;

			&.selected {
				background: #f5ac7d;
			}
		}

		> span {
			display: block;
			position: relative;
		}
		
		li {
			margin: 0;
			border-width: 1px 0 0;

			&:last-child {
				margin-bottom: -1px;
				border-width: 1px 0;
			}
			
			a {
				padding-left: 30px;
				font-size: 1.0rem;
			}
			
			li a {
				padding-left: 40px;
			}
		}
		
	}
	
	.doMenu {
		background-image: url(../img/arrow_right.png);
		background-repeat: no-repeat;
		background-position: center right;
		width: 45px;
		height: 45px;
		display: block;
		position: absolute;
		right: 0;
		top: 0px;
		
		&.open {
			background-image: url(../img/arrow_right2.png);
		}
	}
	
	.childMenu {
		display: none;
	}
	
	.childMenu.open {
		display: block;
	}

}
// /#localToc



