@charset "utf-8";

.top {
	
	h1 {
		font-size: 1.2rem;
		background: #fff;
		
		span {
			display: block;
		}
	}
	
	#wrapper {
		padding: 10px 0 0;
	}

	#container {
		nav {
			ul {
				margin: 0 0 -2px;
				padding: 0;
				list-style: none;
				
				li {
					margin: -2px 0 0;
					padding: 0;
					background-image: none;
					border: solid #999;
					border-width: 2px 0 2px 0;
					display: block;
					
					&.hasChild {
						> a {
							padding-left: 37px;
						}
					}
					a {
						padding: 10px 35px 10px 20px;
						display: block;
						line-height: 30px;
						text-decoration: none;
						font-size: 1.0rem;
						font-weight: normal;
						color: #000;
						
						&[href^="#item"] {
							background-image: url(../img/arrow_right.png);
							background-repeat: no-repeat;
							background-position: center right;
						}
						&[target="_blank"] {
							background-image: none;
							background-color: #f0f0f0;
							font-weight: 400;
							
							.glyphicon {
								margin: 0 7px 0 -25px; 
								font-size: 1em;
								color: #5e5e5e;
							}
						}
					}
					img {
						&.bullet,
						&.mainFunc {
							height: 25px;
						}
					}
				}
			}
			> ul {
				margin: 0;
				
				> li {
					> a {
						&[aria-expanded="true"] {
							background-image: url(../img/arrow_bottom.png);
							background-color: #ccc;
						}
					}
					li {
						border-width: 1px;
						
						a {
							padding-left: 60px;
							background-color: #f0f0f0;
							font-weight: 400;
							
							&[aria-expanded="true"] {
								background-image: url(../img/arrow_bottom.png);
								background-color: #ddd;
							}
						}
						img {
							margin: 3px 0 0 -27px;
							display: inline-block;
							position: absolute;
						}
						li {
							a {
								padding-left: 70px;
								background-color: #f7f7f7;
							}
						}
					}
				}
			}
		}
	}


}
