@charset "utf-8";

/*
 *
 * ===== テーマCSS [Almond] =====
 *
 */


/* ========================================


    ページレイアウト


   ======================================== */

/* ----------------------------------------

    全体

   ---------------------------------------- */

body {
  background-color: #EFDECD;
}


/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */

/*
 * --- ヘッダー ---
 */

#page-header {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  background-color: #FFF9F2;
  z-index: 10;
}

.status-pinch-out #page-header {
  display: none !important;
}

/*
 * --- ヘッダータイトル ---
 */

#header-title {
  margin-right: 650px;
  padding: 13px 0 0 15px;
  color: #795548;
  cursor: default;
}

#header-title.search {
  margin-right: 360px;
}

#header-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.status-menu-closed #header-title {
  margin-right: 380px;
}
.status-menu-closed #header-title.search {
  margin-right: 80px;
}
/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {
  #header-title {
    margin-right: 380px ;
  }
  #header-title.search {
    margin-right: 50px;
  }
  .status-menu-closed #header-title.search {
    margin-right: 50px;
  }

}
/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 479px) {
  #header-title {
    margin-right: 200px ;
  }
  #header-title.search {
    margin-right: 50px;
  }
  .status-menu-closed #header-title {
    margin-right: 200px;
  }
  .status-menu-closed #header-title.search {
    margin-right: 50px;
  }}


/*
 * --- ヘッダー画像 ---
 */

#header-image {
  margin: 8px 0 0 20px;
}

#header-image img {
  max-height: 32px;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #header-image {
    margin-left: 10px;
    margin-top: 12px;
  }

  #header-image img {
    max-height: 24px;
  }

}


/* ----------------------------------------

    検索

   ---------------------------------------- */

/*
 * --- 検索エリア ---
 */

#page-search {
  position: absolute;
  top: 11px;
  right: 350px;
  transition: right 0.5s;
}

.status-menu-closed #page-search {
  right: 80px;
}


/*
 * --- 検索ボックス ---
 */

#page-search form {
}

#page-search form::before {
}

#page-search input {
  max-width: 280px;
  min-height: 24px;
  padding: 1px 40px 0 15px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 20px;
  transition: border-color 0.3s, background-color 0.3s;
}

#page-search input:focus {
  background-color: #FFFFF0;
  border-color: #C7A27A;
}

/* --- プレースフォルダー（[,]で連結すると適用されません） --- */
#page-search input:-ms-input-placeholder { color: #B0B0B0; }
#page-search input::-webkit-input-placeholder { color: #B0B0B0; }
#page-search input::-moz-placeholder { color: #B0B0B0; }



/*
 * --- 検索ボタン ---
 */

#page-search button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 8px;
  font-size: 16px;
  border: none;
  background: none;
  color: #795548;
}

#page-search button:hover {
  color: #990000;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-search,
  .status-menu-closed #page-search {
    right: 70px;
  }

}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 480px) {

  #page-search input {
    max-width: 120px;
  }

}


/* ----------------------------------------

    メニューボタン

   ---------------------------------------- */

#header-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 40px;
}

.status-menu-closed #header-button {
  display: block;
}

#btn-menu {
  display: block;
  height: 28px;
  padding-top: 4px;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #795548;
  border: none;
  border-radius: 3px;
}

#btn-menu:hover {
  background-color: #B1380C;
}

#btn-menu:active {
  background-color: #990000;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #header-button {
    right: 20px;
  }

}



/* ----------------------------------------

    メニュー

   ---------------------------------------- */

#page-menu {
  position: fixed;
  width: 280px;
  height: 100vh;
  top: 0;
  right: 40px;
  background-color: #C7A27A;
  z-index: 20;
  transition: right 0.5s;
}

.status-menu-closed #page-menu {
  right: -280px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu {
    right: 0;
  }

}


/*
 * --- メニューヘッダー ---
 */

#nav-menu-header {
  margin-bottom: 20px;
  padding: 2px 10px;
  text-align: right;
  background-color: #795548;
}

#nav-menu-header a {
  color: #FFFFFF;
}

/* --- パネルの開閉 --- */

#nav-menu-header .btn-view-switch {
  display: inline-block;
  font-size: 11px;
}

#nav-menu-header .btn-view-switch::after {
  content: '\f182';
  font-family: 'WebHostingHub-Glyphs';
  font-size: 9px;
  margin-left: 5px;
}

#nav-menu-header .btn-view-switch:hover {
  color: #FFFFA0;
}

#nav-menu-header .btn-view-switch:active {
  color: #F9F990;
}

/* --- すべてを開く --- */

#nav-menu-header .btn-expand-menu {
  position: absolute;
  left: 10px;
  top: 8px;
  padding-top: 30px;
  font-size: 10px;
  color: #795548;
}

#nav-menu-header .btn-expand-menu:hover {
  color: #B1380C;
}

#nav-menu-header .btn-expand-menu::before {
  content: '\f4e5';
  font-family: 'WebHostingHub-Glyphs';
  position: absolute;
  top: 0;
  left: 15px;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #795548;
  border: 2px solid #C7A27A;
  border-radius: 15px;
  transition: background-color 0.2s;
}

#nav-menu-header .btn-expand-menu:hover::before {
  color: #FFFFFF;
  background-color: #B1380C;
}

#nav-menu-header .btn-expand-menu.expanded::before {
  content: '\f578';
  transform: rotate(90deg);
}



/*
 * --- メニューコンテンツ ---
 */

#page-menu nav {
}

#page-menu .nav-menu-container {
  padding: 20px 0;
}

#page-menu .nav-menu-content {
  overflow-y: auto;
  font-size: 13px;
}

/* --- メニューリスト --- */

#page-menu .nav-menu-list {
  padding: 0;
}

#page-menu .nav-menu-list li {
  list-style: none;
}

#page-menu .nav-menu-list a {
  display: block;
  position: relative;
  margin-left: 30px;
  padding: 3px 15px 3px 5px;
  color: #FFFFFF;
}

#page-menu .nav-menu-list a:hover {
  color: #FFFFA0;
}

#page-menu .nav-menu-list li.active > a {
  color: #B0895F;
  background-color: #FFF9C4
}

#page-menu .nav-menu-list li.group {
}

#page-menu .nav-menu-list li.expanded {
  background-color: #B0895F;
}


#page-menu .nav-menu-list > li > ul {
  display: none;
}


/* --- アイコン ---  */
#page-menu .nav-menu-list .icon {
  position: absolute;
  display: inline-block;
}

#page-menu .nav-menu-list .group > .icon {
  cursor: pointer;
}

#page-menu .nav-menu-list .group > .icon::before {
  content: '\002b';
  font-family: 'WebHostingHub-Glyphs';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 3px 10px;
  color: #FFFFFF;
}

#page-menu .nav-menu-list .group.expanded > .icon::before {
  content: '\2212';
}

#page-menu .nav-menu-list .group > .icon:hover::before {
  color: #FFFFA0;
}





/* ----------------------------------------

    ページの移動ナビゲーション

   ---------------------------------------- */

#page-relation {
  position: relative;
  padding: 60px 350px 10px 25px;
  transition: padding-right 0.5s;
}

/* --- XSサイズ --- */
@media screen and (min-width: 768px) {
  .status-menu-closed #page-relation {
    padding-right: 25px;
  }
}

/*
 * --- パンくずリスト ---
 */

.nav-breadcrumb {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-breadcrumb > ol {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb > ol li {
  float: left;
  font-size: 12px;
  color: #606060;
}

.nav-breadcrumb > ol li a {
  display: inline-block;
  padding: 1px 8px;
  color: #606060;
}

.nav-breadcrumb > ol li a:hover,
.nav-breadcrumb > ol li:first-child a:hover::before {
  color: #B1380C;
}

.nav-breadcrumb > ol li a:active,
.nav-breadcrumb > ol li:first-child a:active::before {
  color: #DC143C;
}

/* --- やじるし --- */

.nav-breadcrumb > ol li::after,
.nav-breadcrumb > ol li:first-child a::before {
  font-family: 'WebHostingHub-Glyphs';
}

.nav-breadcrumb > ol li::after {
  content: '\f488';
  font-size: 9px;
  color: #795548;
}

.nav-breadcrumb > ol li:last-child::after {
  display: none;
}

/* --- ホーム --- */

.nav-breadcrumb > ol li:first-child a::before {
  content: '\21b8';
  padding-right: 5px;
  vertical-align: bottom;
  color: #795548;
  transition: color 0.2s;
}

/* --- 現在地 --- */

.nav-breadcrumb > ol li:last-child {
  margin-left: 5px;
  padding: 1px 0;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-relation {
    padding-left: 15px;
    padding-right: 15px;
  }

}


/*
 * --- ページシーケンス ---
 */

.nav-sequence {
  text-align: right;
}

.status-menu-closed .nav-sequence {
  right: 40px;
}

.nav-sequence a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 48%;
  padding-top: 4px;
  padding-bottom: 1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #795548;
}

.nav-sequence a.available:hover {
  background-color: #B1380C;
}

.nav-sequence a.available:active {
  background-color: #990000;
}

.nav-sequence a:empty::after {
  content: '\00a0';
}

.nav-sequence a:first-child {
  padding-left: 30px;
  padding-right: 10px;
  border-radius: 20px 0 0 20px;
}

.nav-sequence a:last-child {
  margin-left: -2px;
  padding-left: 15px;
  padding-right: 25px;
  border-radius: 0 20px 20px 0;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::after {
  position: absolute;
  font-family: 'WebHostingHub-Glyphs';
  font-size: 11px;
  vertical-align: -1px;
}

.nav-sequence a:first-child::before {
  content: '\f489';
  left: 10px;
}

.nav-sequence a:last-child::after {
  content: '\f488';
  right: 10px;
}

.nav-sequence a.unavailable {
  background-color: #DFCEBD;
}

.nav-sequence span.prev-page-title {
  display: none;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  .nav-sequence {
    position: relative;
    top: auto;
    right: auto;
  }

  .nav-sequence,
  .status-menu-closed .nav-sequence {
    right: auto;
  }

}


/* ----------------------------------------

    フッター

   ---------------------------------------- */

/*
 * --- フッター ---
 */

#page-footer {
  width: 100%;
  padding-bottom: 20px;
}


/*
 * --- ページの先頭へ ---
 */

#page-footer .to-page-top {
}

#page-footer .to-page-top a {
  display: block;
  width: 60px;
  height: 60px;
  margin: -30px 360px 0 auto;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #795548;
  border-radius: 30px;
  transition: background-color 0.3s, margin-right 0.5s;
}

.status-menu-closed #page-footer .to-page-top a {
  margin-right: 50px;
}

#page-footer .to-page-top a::before {
  content: '\f48a';
  font-family: 'WebHostingHub-Glyphs';
  display: block;
  font-size: 16px;
  line-height: 1.2;
}

#page-footer .to-page-top a:hover {
  background-color: #B1380C;
}

#page-footer .to-page-top a:active {
  background-color: #990000;
}


/*
 * --- コピーライト ---
 */

#page-footer .copyright {
  margin: 5px 350px 10px 30px;
  transition: margin-right 0.5s;
}

#page-footer .copyright p {
  text-align: center;
  line-height: 1.3;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #795548;
}

.status-menu-closed #page-footer .copyright {
  margin-right: 40px;
}


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- 本文 ---
 */

#page-content {
  overflow: hidden;
  margin: 0 350px 0 30px;
  padding: 20px 40px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: margin-right 0.5s;
}

.status-menu-closed #page-content {
  margin-right: 40px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-content,
  .status-menu-closed #page-content {
    margin: 0 15px;
    padding: 20px 15px;
  }

}


/*
 * --- 見出し ---
 */

#page-content h2 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid #F0F0F0;
}



/* ========================================


    汎用コンポーネント


   ======================================== */

/* ----------------------------------------

    箇条書き

   ---------------------------------------- */

ol.option01 > li:before {
  background-color: #795548;
}

/* ----------------------------------------

    メニューリスト（子ページへのリンク）

   ---------------------------------------- */

.childpages-macro {
  padding-left: 15px;
  margin-top: 5px;
}

.childpages-macro li {
}

.childpages-macro li a {
  display: block;
  position: relative;
  padding: 8px 36px 6px 15px;
  color: #FFFFFF;
  background-color: #795548;
  border-radius: 15px;
  vertical-align: middle;
}
.childpages-macro li a:hover { background-color: #B1380C; }
.childpages-macro li a:active { background-color: #990000; }

.childpages-macro li a::after {
  content: '\f488';
  font-family: 'WebHostingHub-Glyphs';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font-size: 14px;
}


/* - eof. */
