
/* last update 2015.11.05 */

body{
    background-color:#fff;
}



/*=====================================================
    override for 2column
=======================================================*/

/* design for output */
.wiki-content .contentLayout2{
    margin:0 0px
}

/* column image */
.wiki-content .contentLayout2 .columnLayout .cell{
    padding: 0 20px 20px 20px;
    border-radius: 0;
}
.contentLayout2 .columnLayout{
    border-bottom:1px dotted #999;
    margin:0 0 30px 0;
}

/* contents */
.confluenceTh, .confluenceTd{
    border-color:#ccc;
}


/*=====================================================
    tone and manner
=======================================================*/


/*=====================================================
    device
=======================================================*/

/*
    TAB
*/
@media screen and (max-width: 991px) {

}


/*
    7 inch
*/
@media screen and (max-width: 615px) {
}

/* ricoh style*/

.ricohPanel {
    background-color: #FFF;
    border: 1px solid #00F;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari */
    border-radius: 3px; /* CSS3 (Opera?) */
    padding: 0px;
    margin: 0px 0px 5px 0px ;
    overflow: hidden;
}

.ricohPanelScreen {
    background-color: #DDF;
    border: 1px solid #00F;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari */
    border-radius: 3px; /* CSS3 (Opera?) */
    padding: 2px;
    margin: 2px 0px;
    overflow: hidden;
}

.ricohPanelContent {
    padding: 0 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ricohImportant {
    color: #F00;
}

.ricohKey {
    color: #594300;
    background-color: #FFD351;
    border-color: #FFD351;
    padding: 3px 5px 2px;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.ricohNonTrans {
    color: #005943;
    background-color: #A1FFD3;
    border-color: #A1FFD3;
    padding: 3px 5px 2px;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/* Heading 2 Sub */
h5.option01 {
    font-weight:bold;
    font-size:20px;
    line-height:1.5;
    margin:40px 0 0 0;
}

ol.option01 {
    counter-reset:li;
}
ol.option01 > li {
    list-style:none;
    position:relative;
    padding:0;
    margin-left:25px;
    *list-style-type: decimal;
}
ol.option01 > li:before {
    content:counter(li);
    counter-increment:li;

    position:absolute;
    left:-29px;
    color: #014;
    background-color: #FDA;
    border-color: #A1FFD3;
    padding: 1px 5px 1px;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin:1px;
}

ol.option02 {
    counter-reset:li;
}
ol.option02 > li {
    list-style:none;
    position:relative;
    padding:0;
    margin-left:20px;
    *list-style-type: decimal;
}
ol.option02 > li:before {
    content:counter(li) ". " ;
    counter-increment:li;

    position:absolute;
    left:-25px;
    text-align: center;
    text-decoration: none;
    margin:1px;
}
h5.option03 {
	text-align: center;
}
h6.option01 {
	text-align: center;
}
h6.option02 {
    text-align: center;
    font-size:14px;
    color: #333;
    font-weight: normal;
}
h6.option04 {
    text-align: right;
    font-size:14px;
    color: #333;
    font-weight: normal;
}