
/* last update 2015.10.30 */

/*==================================
    clear
==================================*/
/* clearfix */
.clearfix:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden;
}
.clearfix {
 display:inline-block;
}
/* hide mac ie \*/
* html .clearfix {
 height:1%;
}
.clearfix {
 display: block;
}
/* end */




/*==================================
    form
==================================*/
input.tf{
    margin:0 5px;
    border:1px solid #ccc;
    background:#fff;
    padding: 3px;
}
textarea{
    border:1px solid #ccc;
    background:#fff;
    padding: 5px;
    width:500px;
    height: 200px;
    margin:0 5px;
}
select{
    font-size: 90%;
    padding:2px;
}

/*==================================
    link
==================================*/
a.link{
    padding: 0 0 0 10px;
}

/*==================================
    label
==================================*/
.label{
    display:block;
    width:1px;
    height:1px;
    position:absolute;
    top:-9999px;
    line-height:0;
}

/*==================================
    button
==================================*/
.button{
    font-size: 110%;
    color:#fff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    background-color:#ff9900;
    display:inline-block;
    padding: 8px 40px;
    font-weight:bold;
    text-decoration: none;
    text-align:center;
    cursor:pointer;
    border:none;
}
.default{
    padding:4px 20px;
    background:#333;
    font-size:90%;
    color:#ccc;
}
 a.defaul{
    color:#ccc;
 }
 a.default:hover{
    color:#fff;
    background:#555;
}
 a.button{
    color:#fff;
}
.button:hover{
    background: #ff6600;
    color:#fff
}

a.button:active{
    filter: alpha(opacity=45);
    -moz-opacity:0.45;
    opacity:0.45;
}



/*====================================================================
    media query
====================================================================*/

/*
    TAB
*/
@media screen and (max-width: 991px) {

}
/*
    SP
*/
@media screen and (max-width:615px) {
    table{
        font-size:90%;
        line-height:140%;
    }
    table td,table th{
        padding: 4px !important;
    }

}

/*
    pc
*/
@media screen and (max-width: 1000px) {

}
