
/* last update 2015.10.30 */

/*==================================
    clear
==================================*/
@media print {
    body{
        background:#fff;
        color:#000;
        font-size:11px;
    }
    #header{
        display:none;
    }
    #nav{
        display:none;
    }
    #container{
        padding:0 !important;
    }
    div#mainContainer{
        margin:0;
        padding:0 ;
    }
    div#mainContainer div.inner{
        padding:0
    }
    #pager{
        display:none;
    }
}
