﻿select#pageName {
    width: 350px;
    float: right;
    margin-top: 13px;
}

.pagenavi {
    list-style-type: none;
    padding: 0;
    margin: 20px 0px 60px 0px;
}

.pagenavi li {
    padding: 0px 2px;
    margin: 0px 2px;
    color: #9e9d9d;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari*/
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    display: inline;
    font-size: 16px;
}

.pagenavi li.current {
    color: black;
    font-weight: bold;
    padding: 0;
}

.pagenavi li.sep {
    color: black;
}

.pagenavi li[onclick] {
    cursor: pointer;
    color: #0041ff;
    text-decoration: underline;
}

.pagenavi li[onclick]:hover {
    color: #ff9900;
    text-decoration: underline;
}

.seperatorLine {
    border: 1px solid #BDB4B4;
    margin-bottom: 10px;
}

.numberOfPageDiv {
    padding-left: 40px;
    display: none;
}

.numberOfPageDiv select {
    width: 60px !important;
}

#search input[type="text"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    max-width: inherit;
    border-radius: inherit;
}

.title-text-panel {
    padding: 10px 8px 5px 25px !important;
}

span.ftitle {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 3em;
}

span.fcount {
    font-weight: normal;
    font-size: 0.8em;
    margin-left: 1em;
    font-family: sans-serif;
}

div.message {
    background-color: #E5E5E5;
    padding: 15px 15px 10px 15px;
    width: 620px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#main-content {
    padding: 0px;
}

div.fpage {
    margin-bottom: 1.5em;
}

div.fpage h2 {
    font-size: 16;
}

div.fpage ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.fpage ul>li {
    list-style-type: none !important;
}

div.fpage ul>li:first-child {
    font-size: 0.7em;
    margin-top: 0.2em;
    color: #339966;
}