@charset "utf-8";

* {
	-webkit-text-size-adjust: 100%!important;
}
body {
	width: auto;
	overflow: auto; /* hidden */
	position: relative;
}
table {
	margin: 0!important;
	width: auto!important;
	/*table-layout: fixed!important;*/
}
table#target div {
	font-size: 100%!important;
}
.close {
	text-align: left;
	margin-top: 10px;
	margin-left: 10px;
}
button {
	margin: 0;
	border-radius: 100px;
	position: fixed;
	border: 0;
	top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
	border-radius: 100px;
	/*visibility: hidden;*/ /* NOTE: android+stdでボタンが隠れたままになってしまう */
	height: 0px;
	width: 0px;
	cursor: pointer;
}
button:hover {
	background-color: #eee;
}
div#header {
	background: #fff;
	position: fixed;
	width: 100%;
	top: 0;
	opacity: 0.8;
	box-shadow: 0 0 5px 3px #ccc;
}
div#footer {
	background: #fff;
	text-align: center;
	position: fixed;
	padding-top: 10px;
	bottom: 0;
	width: 100%;
	color: #777;
	opacity: 0.8;
}
div#content {
}
#zoomin {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%0D%0A%09%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20enable-background%3D%22new%200%200%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%09%3Cpath%20fill%3D%22%23777777%22%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.963%2C0.979-3.125c0-3.037-2.463-5.5-5.5-5.5c-3.037%2C0-5.5%2C2.463-5.5%2C5.5%0D%0A%09%09c0%2C3.038%2C2.463%2C5.5%2C5.5%2C5.5c1.152%2C0%2C2.223-0.355%2C3.104-0.963l3.684%2C3.684l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.141%0D%0A%09%09c-1.933%2C0-3.5-1.568-3.5-3.5c0-1.933%2C1.567-3.5%2C3.5-3.5s3.5%2C1.567%2C3.5%2C3.5C9.148%2C7.572%2C7.582%2C9.141%2C5.649%2C9.141z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22_x2B_%22%3E%0D%0A%09%3Cline%20fill%3D%22%23777777%22%20stroke%3D%22%23777777%22%20x1%3D%222.499%22%20y1%3D%225.64%22%20x2%3D%228.799%22%20y2%3D%225.64%22/%3E%0D%0A%09%3Cline%20fill%3D%22%23777777%22%20stroke%3D%22%23777777%22%20x1%3D%225.649%22%20y1%3D%222.49%22%20x2%3D%225.649%22%20y2%3D%228.791%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
}
#zoomout {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22_x30_%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20enable-background%3D%22new%200%200%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%20id%3D%22Layer_1%22%3E%0D%0A%09%3Cpath%20fill%3D%22%23777777%22%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.962%2C0.979-3.125c0-3.037-2.463-5.5-5.5-5.5c-3.037%2C0-5.5%2C2.463-5.5%2C5.5%0D%0A%09%09c0%2C3.039%2C2.463%2C5.5%2C5.5%2C5.5c1.152%2C0%2C2.223-0.354%2C3.104-0.963l3.684%2C3.684l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.141%0D%0A%09%09c-1.933%2C0-3.5-1.568-3.5-3.5c0-1.933%2C1.567-3.5%2C3.5-3.5s3.5%2C1.567%2C3.5%2C3.5C9.148%2C7.572%2C7.582%2C9.141%2C5.649%2C9.141z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22_x2B_%22%3E%0D%0A%09%3Cline%20fill%3D%22none%22%20stroke%3D%22%23777777%22%20x1%3D%222.499%22%20y1%3D%225.64%22%20x2%3D%228.799%22%20y2%3D%225.64%22/%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
}
#close {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22_x30_%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20enable-background%3D%22new%200%200%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20fill%3D%22%23777777%22%20points%3D%220.75%2C2.25%205.5%2C7%200.75%2C11.75%202.25%2C13.25%207%2C8.5%2011.75%2C13.25%2013.25%2C11.75%208.5%2C7%2013.25%2C2.25%2011.75%2C0.75%20%0D%0A%097%2C5.5%202.25%2C0.75%20%22/%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
	right: 0;
}
@media print {
	button, div#header, div#footer {
		display: none;
	}
}