@charset "utf-8";

ul#id_toc {
	border-bottom: solid 1px #fff;
	padding-bottom: 55px;
	font-size: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
ul#id_toc.mobile {
	border-bottom: 0;
	-webkit-overflow-scrolling: auto; /* NOTE: android4.0.4+gc18 「-webkit-overflow-scrolling: touch」があると高さ指定が無いのでスクロールできず */
}
#id_toc li {
	list-style-type: none;
	line-height: 130%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #eee;
	position: relative;
}
#id_toc li.level_1 {
	padding-left: 25px;
}
#id_toc.mobile li.level_1 {
	padding-left: 35px;
}
#id_toc li.level_2 {
	padding-left: 35px;
}
#id_toc.mobile li.level_2 {
	padding-left: 45px;
}
#id_toc li.level_3 {
	padding-left: 45px;
}
#id_toc.mobile li.level_3 {
	padding-left: 55px;
}
#id_toc li.level_4 {
	padding-left: 55px;
}
#id_toc.mobile li.level_4 {
	padding-left: 65px;
}
#id_toc li.level_5 {
	padding-left: 65px;
}
#id_toc.mobile li.level_5 {
	padding-left: 75px;
}
#id_toc li.level_6 {
	padding-left: 75px;
}
#id_toc.mobile li.level_6 {
	padding-left: 85px;
}
#id_toc.chapter li.level_2 {
	padding-left: 25px;
}
#id_toc.mobile.chapter li.level_2 {
	padding-left: 35px;
}
#id_toc.chapter li.level_3 {
	padding-left: 35px;
}
#id_toc.mobile.chapter li.level_3 {
	padding-left: 45px;
}
#id_toc.chapter li.level_4 {
	padding-left: 45px;
}
#id_toc.mobile.chapter li.level_4 {
	padding-left: 55px;
}
#id_toc.chapter li.level_5 {
	padding-left: 55px;
}
#id_toc.mobile.chapter li.level_5 {
	padding-left: 65px;
}
#id_toc.chapter li.level_6 {
	padding-left: 65px;
}
#id_toc.mobile.chapter li.level_6 {
	padding-left: 75px;
}
#id_toc li.current {
	background: #555;
}
#id_toc li a {
	color: #555;
	vertical-align: middle;
	line-height: 130%;
}
#id_toc li.current a {
	color: #ffa500;
}
#id_toc img {
	vertical-align: middle;
	margin: 5px;
	/*_margin: 8px;*/
	position: absolute;
	top: 5px;
	width: 15px;
	height: 15px;
	margin-left: -20px;
	border: 0;
}
#id_toc {
	display: none; 
}
#id_toc.mobile li {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 10pt;
}
#toc_mobile #id_toc.mobile img {
	width: 44px;
	height: 44px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
}
#id_toc img.chapter-sign-1 {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%20%5B%0D%0A%09%3C%21ENTITY%20ns_flows%20%22http%3A//ns.adobe.com/Flows/1.0/%22%3E%0D%0A%5D%3E%0D%0A%3Csvg%20version%3D%221.1%22%0D%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0D%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%22-3%20-3%2022%2022%22%20enable-background%3D%22new%20-3%20-3%2022%2022%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cdefs%3E%0D%0A%3C/defs%3E%0D%0A%3Ccircle%20fill%3D%22%23CF4E32%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22/%3E%0D%0A%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%2210.801%2C6.4%208%2C8.985%205.199%2C6.4%204%2C7.508%208%2C11.2%2012%2C7.508%20%22/%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 22px;
	width: 22px;
	height: 22px;
	border: 0;
	top: 1px;
	margin-left: -24px;
}
#id_toc.mobile img.chapter-sign-1 {
	top: 0;
	margin-left: -38px;
}
#id_toc img.chapter-sign-2 {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%20%5B%0D%0A%09%3C%21ENTITY%20ns_flows%20%22http%3A//ns.adobe.com/Flows/1.0/%22%3E%0D%0A%5D%3E%0D%0A%3Csvg%20version%3D%221.1%22%0D%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0D%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%22-3%20-3%2022%2022%22%20enable-background%3D%22new%20-3%20-3%2022%2022%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cdefs%3E%0D%0A%3C/defs%3E%0D%0A%3Ccircle%20fill%3D%22%23CF4E32%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%228%22/%3E%0D%0A%3Cpolygon%20fill%3D%22%23FFFFFF%22%20points%3D%226.4%2C5.199%208.985%2C8%206.4%2C10.801%207.508%2C12%2011.2%2C8%207.508%2C4%20%22/%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 22px;
	width: 22px;
	height: 22px;
	border: 0;
	top: 1px;
	margin-left: -24px;
}
#id_toc.mobile img.chapter-sign-2 {
	top: 0;
	margin-left: -38px;
}
#id_toc img.toc-sign-2 {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22_x30_%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20enable-background%3D%22new%200%200%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%221%22%20y%3D%221%22%20fill%3D%22%23D79E91%22%20width%3D%2212%22%20height%3D%2212%22/%3E%0D%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20x1%3D%227%22%20y1%3D%223%22%20x2%3D%227%22%20y2%3D%2211%22/%3E%0D%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20x1%3D%223%22%20y1%3D%227%22%20x2%3D%2211%22%20y2%3D%227%22/%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 14px;
	width: 14px;
	height: 14px;
	border: none;
}
#id_toc.mobile img.toc-sign-2 {
	top: 0;
	margin-left: -38px;
}
#id_toc img.toc-sign-1 {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22_x30_%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%22-1.5%20-1.5%2014%2014%22%20enable-background%3D%22new%20-1.5%20-1.5%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%22-0.5%22%20y%3D%22-0.5%22%20fill%3D%22%23D79E91%22%20width%3D%2212%22%20height%3D%2212%22/%3E%0D%0A%3Cline%20display%3D%22none%22%20fill%3D%22none%22%20stroke%3D%22%23E71F19%22%20stroke-width%3D%222%22%20x1%3D%227%22%20y1%3D%223.05%22%20x2%3D%227%22%20y2%3D%2210.95%22/%3E%0D%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20x1%3D%221.5%22%20y1%3D%225.5%22%20x2%3D%229.5%22%20y2%3D%225.5%22/%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 14px;
	width: 14px;
	height: 14px;
}
#id_toc.mobile img.toc-sign-1 {
	top: 0;
	margin-left: -38px;
}
#id_toc img.toc-sign-0 {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22_x30_%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20enable-background%3D%22new%200%200%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Crect%20x%3D%222.5%22%20y%3D%221.5%22%20fill%3D%22%23B4B4B4%22%20stroke%3D%22%23B4B4B4%22%20width%3D%229%22%20height%3D%2211%22/%3E%0D%0A%3Cline%20fill%3D%22%23FFFFFF%22%20stroke%3D%22%23FFFFFF%22%20x1%3D%224.05%22%20y1%3D%223.5%22%20x2%3D%229.95%22%20y2%3D%223.5%22/%3E%0D%0A%3Cline%20fill%3D%22%23FFFFFF%22%20stroke%3D%22%23FFFFFF%22%20x1%3D%224.05%22%20y1%3D%225.5%22%20x2%3D%229.95%22%20y2%3D%225.5%22/%3E%0D%0A%3Cline%20fill%3D%22%23FFFFFF%22%20stroke%3D%22%23FFFFFF%22%20x1%3D%224.05%22%20y1%3D%227.5%22%20x2%3D%229.95%22%20y2%3D%227.5%22/%3E%0D%0A%3Cline%20fill%3D%22%23FFFFFF%22%20stroke%3D%22%23FFFFFF%22%20x1%3D%224.05%22%20y1%3D%229.5%22%20x2%3D%229.95%22%20y2%3D%229.5%22/%3E%0D%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 14px;
	width: 14px;
	height: 14px;
	margin-left: -20px;
}
#id_toc.mobile img.toc-sign-0 {
	top: 0;
	margin-left: -38px;
}
#id_toc img.toc-sign-0-active {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%20%5B%0A%09%3C%21ENTITY%20ns_flows%20%22http%3A//ns.adobe.com/Flows/1.0/%22%3E%0A%5D%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%22-1%200%2014%2014%22%20enable-background%3D%22new%20-1%200%2014%2014%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cdefs%3E%0A%3C/defs%3E%0A%3Crect%20x%3D%221.5%22%20y%3D%221.5%22%20fill%3D%22%23555555%22%20stroke%3D%22%23FFA521%22%20width%3D%229%22%20height%3D%2211%22/%3E%0A%3Crect%20x%3D%220.5%22%20y%3D%220.5%22%20display%3D%22none%22%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20width%3D%2211%22%20height%3D%2213%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFA521%22%20x1%3D%223.05%22%20y1%3D%223.5%22%20x2%3D%228.95%22%20y2%3D%223.5%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFA521%22%20x1%3D%223.05%22%20y1%3D%225.5%22%20x2%3D%228.95%22%20y2%3D%225.5%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFA521%22%20x1%3D%223.05%22%20y1%3D%227.5%22%20x2%3D%228.95%22%20y2%3D%227.5%22/%3E%0A%3Cline%20fill%3D%22none%22%20stroke%3D%22%23FFA521%22%20x1%3D%223.05%22%20y1%3D%229.5%22%20x2%3D%228.95%22%20y2%3D%229.5%22/%3E%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 14px;
	width: 14px;
	height: 14px;
}
#id_toc.mobile img.toc-sign-0-active {
	top: 0;
	margin-left: -38px;
}
#id_toc img.chapter-sign-0 {
	background: transparent url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2014.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%2043363%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22ball%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2022%2022%22%20enable-background%3D%22new%200%200%2022%2022%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Ccircle%20fill%3D%22%23CF4E32%22%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22/%3E%0A%3C/svg%3E') no-repeat 50% 50%;
	background-size: 22px;
	width: 22px;
	height: 22px;
	border: 0;
	top: 1px;
	margin-left: -24px;
}
#id_toc.mobile img.chapter-sign-0 {
	top: 0;
	margin-left: -38px;
}