@charset "utf-8";
/* *******************************************************
 * anki Mobile CSS
******************************************************** */

#container {
	.safety {
		table {
			th,
			td {
				padding: 5px;
				border: 1px solid #555;
				background: transparent;
				width: auto;
			}
		}
	}
	
	div {
		&.anki_block {
			table {
				&.anki {
					max-width: none;
					min-width: inherit;
					table-layout: auto;
					border-collapse: separate;
					border-spacing: 0;
				}
				&.icon_description {
					th {
						img {
							height: 1.5rem;
						}
					}
					td {
						p {
							margin: auto;
						}
						img {
							height: 1.8rem;
						}
					}
				}
			}
			
			div {
				&.EV_ES {
					table {
						border: none 0px;
						border-spacing: 0;
						
						th,
						td {
							border: none 0px;
							border-spacing: 0;
							
							> * {
								margin: 0;
							}
						}
						td {
							&.EV_icon {
								vertical-align: top;
							}
						}
					}
					p {
						margin: 0;
					}
				}
			}
		}
	}
	
	footer {
		.View_Mobile_Site {
			color: #999;
		}
	}
	
	.machine_name_m {
		img {
			max-width: 100%;
		}
	}
}





