@charset "utf-8";
/* ****************************************************
* anki
*******************************************************/

p {
	&.solo{
		padding:0 0 0 10px;
		margin:3px;
	}
	&.address_title{
		font-weight: bold;
	}
}



.safety {
	div.anki_block {
		font-size: 11pt;
		font-family: Meiryo, "メイリオ", "MS UI Gothic" ,Verdana, Arial, Helvetica, sans-serif;
		padding-left: 30px;
		line-height: 1.3em;
	}
}




table {
	&.anki {
		tr {
			&.haba_setting{
				visibility: collapse;
			}

			td {
				&.td_left_l,
				&.td_center_l,
				&.td_right_l {
					width:60px;
					table-layout: fixed;
					border-right: none;
					position: relative;
					vertical-align: top;
					padding: 1px;
					margin: 0;
				}
				&.td_left_r,
				&.td_center_r,
				&.td_right_r {
					border-left: none;
					position: relative;
					vertical-align: top;
					margin: 0;
				}
			}
		}
	}
}




div {
	&.anki_block {
		tr {
			td {
				&.w_left_l,
				&.w_right_l {
					width: 60px;
					border-right: none;
					position: relative;
					vertical-align: top;
					table-layout: fixed;
					padding: 1px;
					margin: 0;
				}
				&.w_left_r,
				&.w_right_r{
					width: 250px;
					border-left: none;
					position: relative;
					vertical-align: top;
				}
			}

			&.haba_setting {
				td {
					border-left: none;
					border-top: none;
					border-right: none;
				}
			}
		}
		th {
			&.icon_left{
	/*			position: relative;
				width: 140px;
				font-weight: bold;
				vertical-align: bottom;
				padding: 5px 0 0 0;
				table-layout: fixed;*/
			}
			&.title_center {
				position: relative;
				padding: 0px 0 0px;
				table-layout: fixed;
				vertical-align: middle;

				div.center1 {
					position:relative;
					bottom:-5px;
					text-align:center;
					font-weight: bold;
					vertical-align:bottom;
				}
			}
		}
		td {
			padding: 5px 3px 5px 3px;

			&.anki_base {
				min-height: 2em;
			}
			&.anki_head {
				padding: 5px 0 0 0;
			}

			div {
				&.icon1,
				&.icon2 {
					position: relative;
					text-align: center;
				}
				&.anki_head_div {
	/*				position: relative;
					text-align: center;
					font-weight: bold;
					font-size: 24px;
					vertical-align: bottom;*/
				}
			}

		}
		table {
			&.anki {
				/*width: 565px;*/
				max-width: 565px;
				min-width: 525px;
				table-layout: fixed;
				border: solid 1px #000000;
				border-collapse: separate;
				border-spacing: 0px 0px;

				th {
					text-align: center;
				}
				td {
					border: solid 1px #000000;
					vertical-align: middle;
				}
			}

			&.icon_description {
				th{
					padding: 5px 3px 3px 3px;
				}
				td {
					vertical-align: top;

					p{
						margin: 0 0 0 52px;
					}
					img{
						float: left;
					}
				}
			}

			&.safety_description {
				th {
					&.icon_right,
					&.icon_left {

					}
					&.icon_right {
						width: 100px;
	/*					height: 3em;
						position: relative;
						padding: 5px 0 0 0;
						table-layout: fixed;*/
					}
					&.icon_left {
						width: 180px;
					}

					img {
						margin-top: 3px;
					}
					p {
						padding-top: 1px;

						&.dobleLine {
							margin-top: 10px;
							margin-bottom: 9px;
						}
					}
				}
				td {

				}
			}
		}

		ul {
			li {
				list-style: none;
			}
			
			&.menu_list {
				ul {
					padding: 0 0 0 50px;
				}
				li {
					/*---------Befor---------*/
/*					margin: 8px 0;
					background-image: url(../img/list_icon.png);
					background-repeat: no-repeat;
					background-position: -180px -50px;*/
					
					/*---------After---------*/
					margin: 8px 0;
					list-style: none;
					background:none;
					margin-left:-5px;
					
					p {
						padding-left: 15px;
						background: url(../img/articleStyle/list_1.png) no-repeat 0 3px;
					}
				}
			}
		}
		
		div {
			&.EV_ES {/*149対応完了*/
				table{
					border: none 0px;
					border-spacing: 0;
					
					th,
					td {
						border:none 0px;
						border-spacing: 0;
						
						> * {
							margin: 0;
						}
					}
					td {
						&.EV_icon{
							vertical-align: top;
						}
					}
				}
				p {
					margin: 0;
				}
			}
		}
	}
	
	&.address_block{
		padding-top: 0.2em;
		
		p {
			margin-top: 0.2em;
			margin-bottom: 0.2em;
		}
	}
}







