@charset "utf-8";
/******************************************************
	Font
*******************************************************/


$fontSize: (
	body: 0.875em
	,hedding: (
		h1: 1.60em
		,h2: 1.36em
		,h3: 1em
		,h4: 1em
		,h5: 1em
		,h6: 1em
	)
	,header: (
		meta: 1.1em
		,headerNavi: 0.9em
		,globalNav: 0.85em
	)
	,footer: (
		a: 1em
		,manualID: 0.9em
		,address: 0.9em
	)
	,categoryNavi: (
		categoryNavi: 0.9em
		,h2: 1.05em
	)
	,container: (
		h5: 1.2em
		,boxBlock: 0.9em
		,boxBlock_h4: 1.24em
		,flow_li: 1.58em
		,flow_li_: 0.633em
		,flow_li_stepItem_h4: 1.3em
		,table_td_: 0.9em
	)
	,sSearchKey: 1em
	,errMsg: (
		h3: 1em
		,p: 1em
	)
	,termSearch: (
		h3: 1em
		,p: 1em
	)
	,top: (
		h1: 1.3em
		,model: 1.38em
		,navRight_a: 1em
	)
	,search: (
		searchKey: 1.05em
		,item_h3: 1.1em
		,relatedWords: 1em
		,navigation: 1em
		,navigation_navi_span: 1em
		,label: 0.85em
	)
);


///////////////////////////////////////////////////////////////////////////
body {
	font-size: map-get( $fontSize, body );
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

@each $key, $val in map-get( $fontSize, hedding ) {
	#{$key} {
		font-size: $val;
	}
}


/* header ------------------------------------------------*/
#header {
	$size: map-get( $fontSize, header );
	
	#meta > * {
		font-size: map-get( $size, meta );
	}
	#headerNavi {
		font-size: map-get( $size, headerNavi );
	}
	#globalNav li {
		font-size: map-get( $size, globalNav );
	}
}

#searchKey {
	font-size: map-get( map-get( $fontSize, search ), searchKey );
}



/* footer ------------------------------------------*/
#footer {
	$size: map-get( $fontSize, footer );
	
	ul a {
		font-size: map-get( $size, a );
	}
	#manualID {
		font-size: map-get( $size, manualID );
	}
	address {
		font-size: map-get( $size, address );
	}
}



/* Navigation ------------------------------------------*/
#categoryNavi {
	$size: map-get( $fontSize, categoryNavi );
	
	font-size: map-get( $size, categoryNavi );
	
	#localMenu h2 {
		font-size: map-get( $size, h2 );
	}
}






/* container --------------------------------------------*/

.container {
	$size: map-get( $fontSize, container );
	
	h5 {
		font-size: map-get( $size, h5 );
	}
	.memo,
	.importance {
		font-size: map-get( $size, boxBlock );
		
		h4 {
			font-size: map-get( $size, boxBlock_h4 );
		}
	}
	.recommendation {
		> h4 {
			font-size: map-get( $size, boxBlock_h4 );
		}
	}
	.flow {
		> ol {
			> li {
				font-size: map-get( $size, flow_li );
				
				> * {
					font-size: map-get( $size, flow_li_ );
				}
				.stepItem { 
					> h4 {
						font-size: map-get( $size, flow_li_stepItem_h4 );
					}
				}
			}
		}
	}
	table {
		th, td {
			> * {
				font-size: map-get( $size, table_td_ );
			}
		}
	}
}



/* *********************
	Simple Search
********************* */
#simpleSearchForm #sSearchKey {
	font-size: map-get( $fontSize, sSearchKey );
}
#simpleSearch {
	#errMsg {
		$size: map-get( $fontSize, errMsg );
		
		h3 {
			font-size: map-get( $size, h3 );
		}
		p {
			font-size: map-get( $size, p );
		}
	}
	#termSearch {
		$size: map-get( $fontSize, termSearch );
		
		.item {
			h3 {
				font-size: map-get( $size, h3 );
			}
			p {
				font-size: map-get( $size, p );
			}
		}
	}
}





/* *********************
	TOP
********************* */
#top {
	$size: map-get( $fontSize, top );
	
	#header #meta h1 {
		font-size: map-get( $size, h1 );
	}
	#model {
		font-size: map-get( $size, model );
	}
	#mainNavi .navRight a {
		font-size: map-get( $size, navRight_a );
	}
}


/* *********************
	Search Result
********************* */
#searchResult {
	$size: map-get( $fontSize, search );
	
	.result .item h3 {
		font-size: map-get( $size, item_h3 );
	}
	#relatedWords {
		font-size: map-get( $size, relatedWords );
	}
	#navigation {
		font-size: map-get( $size, navigation );
		
		#navi span {
			font-size: map-get( $size, navigation_navi_span );
		}
	}
}

#searchOption > span.label {
	font-size: map-get( map-get( $fontSize, search ), label );
}















