@charset "utf-8";
/******************************************************
	Print
*******************************************************/




body {
	background: transparent none;
	font-size: 75% !important;
}

#body {
	position: static;
	min-width: 0 !important;
}


#header,
#footer,
#categoryNavi,
#nextPrev,
#toTop,
#menuShowHide {
	display: none !important;
}

#contents {
	margin: 0 !important;
	padding: 0;
	min-width: 0;
	
	#contentsInner {
		padding: 0;
		max-width: 100% !important;
		min-width: 0 !important;
		width: auto !important;
		
		#container,
		#page {
			margin: 0 !important;
			padding: 0 !important;
			border: 0 !important;
			background: transparent;
			width: auto !important;
			min-width: 0 !important;
			max-width: 100% !important;
			height: auto !important;
			float: none !important;
			position: static !important;
			top: 0 !important;
		}
		#page {
			overflow: visible !important;
			
			#pageInner {
				margin: 0 !important;
				padding: 0 !important;
				width: auto !important;
				height: auto !important;
			}
		}
		
	}
}


.outerCommon {
	display: block !important;
	position: relative !important;
}
.commonImage {
	position: absolute !important;
	display: block !important;
}





.container {
	h1 {
		margin: 0 0 15px;
		padding: 8px 10px;
		border: 3px double #000;
		font-size: 1.5em;
	}
	h2 {
		border: 1px solid #000;
		font-size: 1.3em;
	}
	
	.flow {
		> ol {
			padding-left: 55px;
		}
	}
	
	.tileLayoutA {
		margin: 0 !important;
	}
	
	.accordion .accordion-contents,
	.supplement > .supplementContents {
		display: block !important;
	}
}

#simpleSearch,
#printContainer.err,
#CT_err {
	.supplement {
		h5 {
			font-weight: bold !important;
			color: #000 !important;
			background-position: -210px -60px !important;
			border: 0px none !important;
		}
		.supplementContents {
			margin-left: 30px !important;
			border-width: 1px !important;
		}
	}
	p {
		font-size: 12px !important;
	}
	
}




/* Top page */
#top {
	#header,
	#footer {
		display: block !important;
	}
}



















