/*  */


/* --------------------- */


/* *******************************************************
 * anki Mobile CSS
******************************************************** */

#container .safety table th,
#container .safety table td {
    padding: 5px;
    border: 1px solid #555;
    background: transparent;
    width: auto;
}

#container div.anki_block table.anki,
#container table.macroTable {
    max-width: none;
    min-width: inherit;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
}

#container div.anki_block table.icon_description th img {
    height: 1.5rem;
}

#container div.anki_block table.icon_description td p {
    margin: auto;
}

#container div.anki_block table.icon_description td img {
    height: 1.8rem;
}

#container div.anki_block div.EV_ES table {
    border: none 0px;
    border-spacing: 0;
}

#container div.anki_block div.EV_ES table th,
#container div.anki_block div.EV_ES table td {
    border: none 0px;
    border-spacing: 0;
}

#container div.anki_block div.EV_ES table th>*,
#container div.anki_block div.EV_ES table td>* {
    margin: 0;
}

#container div.anki_block div.EV_ES table td.EV_icon {
    vertical-align: top;
}

#container div.anki_block div.EV_ES p {
    margin: 0;
}

#container footer .View_Mobile_Site {
    color: #999;
}

#container .machine_name_m img {
    max-width: 100%;
}


/*# sourceMappingURL=anki_m.css.map */