/*  */


/* --------------------- */

@charset "UTF-8";

/* ****************************************************
* anki
*******************************************************/

p.solo {
    padding: 0 0 0 10px;
    margin: 3px;
}

p.address_title {
    font-weight: bold;
}

.safety div.anki_block {
    font-size: 11pt;
    font-family: Meiryo, "メイリオ", "MS UI Gothic", Verdana, Arial, Helvetica, sans-serif;
    padding-left: 30px;
    line-height: 1.3em;
}

table.anki tr.haba_setting {
    visibility: collapse;
}

table.anki tr td.td_left_l,
table.anki tr td.td_center_l,
table.anki tr td.td_right_l {
    width: 60px;
    table-layout: fixed;
    border-right: none;
    position: relative;
    vertical-align: top;
    padding: 1px;
    margin: 0;
}

table.anki tr td.td_left_r,
table.anki tr td.td_center_r,
table.anki tr td.td_right_r {
    border-left: none;
    position: relative;
    vertical-align: top;
    margin: 0;
}

div.anki_block tr td.w_left_l,
div.anki_block tr td.w_right_l {
    width: 60px;
    border-right: none;
    position: relative;
    vertical-align: top;
    table-layout: fixed;
    padding: 1px;
    margin: 0;
}

div.anki_block tr td.w_left_r,
div.anki_block tr td.w_right_r {
    width: 250px;
    border-left: none;
    position: relative;
    vertical-align: top;
}

div.anki_block tr.haba_setting td {
    border-left: none;
    border-top: none;
    border-right: none;
}

div.anki_block th.icon_left {
    /*			position: relative;
				width: 140px;
				font-weight: bold;
				vertical-align: bottom;
				padding: 5px 0 0 0;
				table-layout: fixed;*/
}

div.anki_block th.title_center {
    position: relative;
    padding: 0px 0 0px;
    table-layout: fixed;
    vertical-align: middle;
}

div.anki_block th.title_center div.center1 {
    position: relative;
    bottom: -5px;
    text-align: center;
    font-weight: bold;
    vertical-align: bottom;
}

div.anki_block td {
    padding: 5px 3px 5px 3px;
}

div.anki_block td.anki_base {
    min-height: 2em;
}

div.anki_block td.anki_head {
    padding: 5px 0 0 0;
}

div.anki_block td div.icon1,
div.anki_block td div.icon2 {
    position: relative;
    text-align: center;
}

div.anki_block td div.anki_head_div {
    /*				position: relative;
					text-align: center;
					font-weight: bold;
					font-size: 24px;
					vertical-align: bottom;*/
}

div.anki_block table.anki,
#container table.macroTable {
    /*width: 565px;*/
    max-width: 565px;
    /* min-width: 525px; */
    table-layout: fixed;
    border: solid 1px #000000;
    border-collapse: separate;
    border-spacing: 0px 0px;
}

div.anki_block table.anki th {
    text-align: center;
}

div.anki_block table.anki td {
    border: solid 1px #000000;
    vertical-align: middle;
}

div.anki_block table.icon_description th {
    padding: 5px 3px 3px 3px;
}

div.anki_block table.icon_description td {
    vertical-align: top;
}

div.anki_block table.icon_description td p {
    margin: 0 0 0 52px;
}

div.anki_block table.icon_description td img {
    float: left;
}

div.anki_block table.safety_description th.icon_right {
    width: 100px;
    /*					height: 3em;
						position: relative;
						padding: 5px 0 0 0;
						table-layout: fixed;*/
}

div.anki_block table.safety_description th.icon_left {
    width: 180px;
}

div.anki_block table.safety_description th img {
    margin-top: 3px;
}

div.anki_block table.safety_description th p {
    padding-top: 1px;
}

div.anki_block table.safety_description th p.dobleLine {
    margin-top: 10px;
    margin-bottom: 9px;
}

div.anki_block ul li {
    list-style: none;
}

div.anki_block ul.menu_list ul {
    padding: 0 0 0 50px;
}

div.anki_block ul.menu_list li {
    /*---------Befor---------*/
    /*					margin: 8px 0;
						background-image: url(../img/list_icon.png);
						background-repeat: no-repeat;
						background-position: -180px -50px;*/
    /*---------After---------*/
    margin: 8px 0;
    list-style: none;
    background: none;
    margin-left: -5px;
}

div.anki_block ul.menu_list li p {
    padding-left: 15px;
    background: url(../img/articleStyle/list_1.png) no-repeat 0 3px;
}

div.anki_block div.EV_ES {
    /*149対応完了*/
}

div.anki_block div.EV_ES table {
    border: none 0px;
    border-spacing: 0;
}

div.anki_block div.EV_ES table th,
div.anki_block div.EV_ES table td {
    border: none 0px;
    border-spacing: 0;
}

div.anki_block div.EV_ES table th>*,
div.anki_block div.EV_ES table td>* {
    margin: 0;
}

div.anki_block div.EV_ES table td.EV_icon {
    vertical-align: top;
}

div.anki_block div.EV_ES p {
    margin: 0;
}

div.address_block {
    padding-top: 0.2em;
}

div.address_block p {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


/*# sourceMappingURL=anki.css.map */