/*  */
/* --------------------- */
/******************************************************
	Font
*******************************************************/

body {
	font-size: 0.875em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}


h1 {
	font-size: 1.6em;
}


h2 {
	font-size: 1.36em;
}


h3 {
	font-size: 1em;
}


h4 {
	font-size: 1em;
}


h5 {
	font-size: 1em;
}


h6 {
	font-size: 1em;
}


/* header ------------------------------------------------*/

#header #meta > * {
	font-size: 1.1em;
}

#header #headerNavi {
	font-size: 0.9em;
}

#header #globalNav li {
	font-size: 0.85em;
}


#searchKey {
	font-size: 1.05em;
}


/* footer ------------------------------------------*/

#footer ul a {
	font-size: 1em;
}

#footer #manualID {
	font-size: 0.9em;
}

#footer address {
	font-size: 0.9em;
}


/* Navigation ------------------------------------------*/

#categoryNavi {
	font-size: 0.9em;
}

#categoryNavi #localMenu h2 {
	font-size: 1.05em;
}


/* container --------------------------------------------*/

.container h5 {
	font-size: 1.2em;
}

.container .memo,
.container .importance {
	font-size: 0.9em;
}

.container .memo h4,
.container .importance h4 {
	font-size: 1.24em;
}

.container .recommendation > h4 {
	font-size: 1.24em;
}

.container .flow > ol > li {
	font-size: 1.58em;
}

.container .flow > ol > li > * {
	font-size: 0.633em;
}

.container .flow > ol > li .stepItem > h4 {
	font-size: 1.3em;
}

.container table th > *,
.container table td > * {
	font-size: 0.9em;
}


/* *********************
	Simple Search
********************* */

#simpleSearchForm #sSearchKey {
	font-size: 1em;
}


#simpleSearch #errMsg h3 {
	font-size: 1em;
}

#simpleSearch #errMsg p {
	font-size: 1em;
}

#simpleSearch #termSearch .item h3 {
	font-size: 1em;
}

#simpleSearch #termSearch .item p {
	font-size: 1em;
}


/* *********************
	TOP
********************* */

#top #header #meta h1 {
	font-size: 1.3em;
}

#top #model {
	font-size: 1.38em;
}

#top #mainNavi .navRight a {
	font-size: 1em;
}


/* *********************
	Search Result
********************* */

#searchResult .result .item h3 {
	font-size: 1.1em;
}

#searchResult #relatedWords {
	font-size: 1em;
}

#searchResult #navigation {
	font-size: 1em;
}

#searchResult #navigation #navi span {
	font-size: 1em;
}


#searchOption > span.label {
	font-size: 0.85em;
}

/*# sourceMappingURL=font.css.map */
