/*  */


/* --------------------- */


/* *******************************************************
 * Mobile CSS
******************************************************** */


/* -----------------------------------------------
 * Base
 */

html {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1em;
    font-family: sans-serif;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    text-shadow: none;
}

.ui-page-theme-a .ui-panel-wrapper {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    text-shadow: none;
}

a:link {
    color: #029;
}

a:visited {
    color: #7a1f9f;
}

.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
    font-weight: normal;
}

.ui-page-theme-a a:link,
html .ui-bar-a a:link,
html .ui-body-a a:link,
html body .ui-group-theme-a a:link {
    color: #029;
}

.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
    color: #7a1f9f;
}

#wrapper {
    padding: 10px 0 0;
    position: relative;
}

#wrapper #container {
    width: auto;
}

h1 {
    background: #ccc;
    font-size: 1.3rem;
    text-shadow: none;
    font-weight: bold;
}


/*--------------------------
	to top
---------------------------*/

#toTop {
    background-image: url("../img/to_top_m.png");
    background-repeat: no-repeat;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #e2e2e2;
    display: none;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 150;
    bottom: 51px;
    right: 0;
    cursor: pointer;
}

[lang='ja-jp'] {
    font-family: 'Hiragino Kaku Gothic Pro', Arial, Helvetica, sans-serif;
}


/* -----------------------------------------------
 * header
 */

header,
header.ui-header.ui-bar-inherit {
    margin: 0;
    padding: 0 6px;
    background: #fff;
    border-bottom: 5px solid #f00;
    height: 58px;
    position: relative;
}

header>div {
    margin: 0 0 10px;
}

header .logo {
    padding: 14px 6px 7px 6px;
    height: 43px;
    float: left;
}

header .logo img {
    height: 21px;
}

header .logo .usermanual {
    display: none;
}

header .uti {
    position: absolute;
    left: 100px;
    right: 0;
    top: 11px;
}

header #search {
    height: 30px;
    position: absolute;
    left: 0px;
    right: 50px;
    top: 0px;
}

header #search #searchKey {
    height: 30px;
    min-height: 30px;
    border-radius: 0;
    font-weight: normal;
}

header #search .ui-input-text,
header #search .ui-input-search {
    height: 30px;
    margin: 0;
    background: none;
    color: inherit;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    position: absolute;
    left: 0;
    right: 30px;
}

header #search .ui-input-search:after {
    display: none;
}

header #search .ui-input-search input {
    padding-left: 0.4em;
}

header #searchBtn {
    margin: 0;
    padding: 3px 6px 3px;
    border: 0;
    border-radius: 0;
    background: #000;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    box-shadow: none;
}

header #searchBtn img {
    width: 18px;
    display: inline-block;
}

header .uti #showMenu,
header .uti #toHome,
header .uti #toToc {
    margin: 0;
    padding: 0;
    border: 0 none;
    background: none;
    width: 30px;
    height: 30px;
    outline: 0;
    overflow: visible;
    box-shadow: inherit;
    position: absolute;
    right: 10px;
}

header .uti #showMenu .glyphicon:before {
    font-size: 1.8rem;
    color: #aaa;
}

header .uti .ui-icon-delete:after {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3c%3fxml%20version%3d%221%2e0%22%20encoding%3d%22iso%2d8859%2d1%22%3f%3e%3c%21DOCTYPE%20svg%20PUBLIC%20%22%2d%2f%2fW3C%2f%2fDTD%20SVG%201%2e1%2f%2fEN%22%20%22http%3a%2f%2fwww%2ew3%2eorg%2fGraphics%2fSVG%2f1%2e1%2fDTD%2fsvg11%2edtd%22%3e%3csvg%20version%3d%221%2e1%22%20id%3d%22Layer_1%22%20xmlns%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%22%20xmlns%3axlink%3d%22http%3a%2f%2fwww%2ew3%2eorg%2f1999%2fxlink%22%20x%3d%220px%22%20y%3d%220px%22%20%20width%3d%2214px%22%20height%3d%2214px%22%20viewBox%3d%220%200%2014%2014%22%20style%3d%22enable%2dbackground%3anew%200%200%2014%2014%3b%22%20xml%3aspace%3d%22preserve%22%3e%3cpolygon%20fill%3d%22%23FFF%22%20points%3d%2213%2c2%2012%2c1%207%2c6%202%2c1%201%2c2%206%2c7%201%2c12%202%2c13%207%2c8%2012%2c13%2013%2c12%208%2c7%20%22%2f%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3cg%3e%3c%2fg%3e%3c%2fsvg%3e");
}

header .ui-autocomplete {
    margin: 0 20px;
    padding: 0;
    background: #fff;
    outline: none;
    list-style: none;
    display: block;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 2000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    min-width: 200px;
    max-width: 500px;
    width: 90%;
}

header .ui-autocomplete .ui-menu-item {
    margin: -1px auto 0;
    padding: 7px 15px;
    background: #fff;
    border: 1px solid #ddd;
    min-height: 0;
    list-style: none;
    text-align: left;
    position: relative;
    cursor: pointer;
}

header .ui-autocomplete .ui-menu-item:hover,
header .ui-autocomplete .ui-menu-item.ui-state-focus {
    background: #f5ac7d;
}

header .ui-autocomplete.moreThan {
    padding: 0;
}

header .ui-autocomplete.moreThan:after {
    margin: 0px 0;
    padding: 7px 0;
    content: "\22ee";
    /*fe19*/
    text-align: center;
    border: solid #ddd;
    border-width: 0 1px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

#showMenu {
    display: none;
}

[lang="ja-jp"] #showMenu,
[lang^="ja-"] #showMenu {
    display: block;
}


/* -----------------------------------------------
 * footer
 */

footer,
footer.ui-footer.ui-bar-inherit {
    margin: 15px 10px;
    font-size: 0.7rem;
    text-align: center;
    background: #fff;
    border: 0 none;
    font-weight: normal;
}

footer #mobileLink {
    color: #999;
}

footer p {
    margin: 0;
    line-height: 1.7em;
}

footer p.copy {
    font-size: 0.6rem;
    white-space: nowrap;
}

#contentsNo {
    display: none;
}


/* -----------------------------------------------
 * menu modal (top right button)
 */

#menuModal {
    display: block;
    width: 100%;
    position: absolute;
    top: 58px;
    left: 0;
    z-index: 10001;
}

#menuModal.close {
    display: none;
}

#menuModal .modal-content {
    margin: 0 5px;
}

#menuModal .modal-body {
    padding: 0;
}

#menuModal .modal-body ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menuModal .modal-body ul li {
    border-bottom: 1px solid #999;
}

#menuModal .modal-body ul li:last-child {
    border-bottom: 0 none;
}

#menuModal .modal-body ul li a {
    padding: 10px 20px;
    display: block;
    color: #000;
    text-decoration: none;
}

#menuModal .modal-body ul li a .glyphicon {
    margin: 0 10px 0 3px;
}

.menuOverlay {
    background: #fff;
    opacity: 0.7;
    position: absolute;
    top: 58px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.menuOverlay.close {
    display: none;
}

body.showModal {
    overflow: hidden;
}

body.showMenuModal #searchKey,
body.showMenuModal .ui-input-clear,
body.showMenuModal #searchBtn {
    pointer-events: none;
}


/* -----------------------------------------------
 * TOC & searchResult Panels
 */

.panelBackDrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1250;
    background: #fff;
    opacity: 0.5;
}

.panelBackDrop.searchResultBackDrop {
    top: 58px;
    z-index: 1100;
}

body.tocOpen .ui-page-active.panelOpen,
.ui-page-active.panelOpen .SRFixed {
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}

.ui-panel-dismiss-open.dfix {
    height: 100%;
    position: fixed;
}

body.searchResultOpen .ui-page {
    padding-top: 58px;
}

body.searchResultOpen header {
    position: fixed !important;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100%;
}

body.tocOpen .ui-page,
body.searchResultOpen .ui-page,
html.tocOpen .ui-page,
html.searchResultOpen .ui-page {
    overflow: hidden;
    height: 100%;
}

#localToc .paneltitle,
#searchResult .paneltitle {
    display: none;
}

#localToc {
    background-color: #fff;
    border-right: 1px solid #ccc;
    box-shadow: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: none;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0px;
    width: 60%;
    z-index: 1301;
    -webkit-overflow-scrolling: touch;
}

#localToc.closed {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    visibility: hidden;
    -webkit-transform: translateX(-60vw);
    -moz-transform: translateX(-60vw);
    transform: translateX(-60vw);
    -webkit-transition: -webkit-transform 300ms ease, visibility 1ms ease 300ms;
    -moz-transition: -moz-transform 300ms ease, visibility 1ms ease 300ms;
    transition: transform 300ms ease, visibility 1ms ease 300ms;
}

#localToc.opened {
    overflow-x: hidden;
    overflow-y: auto;
    visibility: visible;
    max-height: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: none;
    transform: translateX(0);
    -webkit-transition: -webkit-transform 300ms ease;
    -moz-transition: -moz-transform 300ms ease;
    transition: transform 300ms ease;
}

#localToc a {
    text-shadow: none;
}

#localToc .ui-panel-inner {
    padding: 0;
}

#localToc .indexLink a {
    padding: 10px 10px 10px 50px;
    background: url(../img/home.png) no-repeat 10px 50%;
    display: block;
    color: #000;
    text-decoration: none;
}

#localToc .toc {
    padding: 0 0 30px;
}

#localToc h2 {
    margin: 0;
    padding: 12px 15px;
    background: #4d4d4d;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

#localToc h2 a {
    color: #fff;
}

#localToc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#localToc ul li>span {
    background: #fff;
}

#localToc ul li>span.childOpen {
    background: #ccc;
}

#localToc ul li ul li>span {
    background: #f0f0f0;
}

#localToc ul li ul li>span.childOpen {
    background: #ddd;
}

#localToc ul li ul li ul li>span {
    background: #f7f7f7;
}

#localToc ul li ul li ul li>span.childOpen {
    background: #eee;
}

#localToc li {
    margin: 0;
    padding: 0;
    border: solid #999;
    border-width: 2px 0 0;
    display: block;
}

#localToc li:last-child {
    border-width: 2px 0;
}

#localToc li a {
    display: block;
    padding: 10px 35px 10px 20px;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: normal;
    color: #000;
}

#localToc li a.selected {
    background: #f5ac7d;
}

#localToc li>span {
    display: block;
    position: relative;
}

#localToc li li {
    margin: 0;
    border-width: 1px 0 0;
}

#localToc li li:last-child {
    margin-bottom: -1px;
    border-width: 1px 0;
}

#localToc li li a {
    padding-left: 30px;
    font-size: 1.0rem;
}

#localToc li li li a {
    padding-left: 40px;
}

#localToc .doMenu {
    background-image: url(../img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: center right;
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    right: 0;
    top: 0px;
}

#localToc .doMenu.open {
    background-image: url(../img/arrow_right2.png);
}

#localToc .childMenu {
    display: none;
}

#localToc .childMenu.open {
    display: block;
}

#searchResult {
    margin: 0;
    display: none;
    width: 0;
    position: fixed;
    top: 58px;
    right: 0;
    bottom: 0;
    z-index: 1200;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#searchResult.enable {
    display: block;
    width: 25px;
}

#searchResult .slidePanel {
    width: 60%;
    position: absolute;
    right: -60%;
    top: 0;
    bottom: 0;
    z-index: 1201;
    transition: right 300ms ease;
}

#searchResult .btnArea {
    width: 25px;
    position: absolute;
    top: 0;
    left: -25px;
    bottom: 0;
    z-index: 1201;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#searchResult .btnArea .searchResultBtn {
    margin: 0;
    padding: 15px 0px;
    background: #57b0e3;
    width: 25px;
    height: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 1em;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    letter-spacing: 2px;
    line-height: 25px;
}

#searchResult .btnArea .searchResultBtn>.text {
    -webkit-writing-mode: vertical-rl;
}

#searchResult .btnArea .searchResultBtn .glyphicon {
    margin: 0 5px;
}

#searchResult .resultArea {
    padding: 0 0 30px;
    background-color: #fff;
    border-left: 1px solid #ccc;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1202;
    box-shadow: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#searchResult .resultArea #searchResultClose {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0 none;
    outline: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 7px;
    top: 3px;
}

#searchResult.closed {
    width: 25px;
    transition-delay: 400ms;
}

#searchResult.opened {
    width: 100%;
    /*.resultArea {
			right: 0;
			//width: 100%;
		}*/
}

#searchResult.opened .slidePanel {
    right: 0;
}

#searchResult .navigation {
    padding: 8px 10px 5px;
    border-bottom: 1px solid #909090;
    min-height: 36px;
}

#searchResult .navigation:after {
    content: "";
    clear: both;
    display: table;
}

#searchResult .navigation .count {
    float: left;
    font-weight: normal;
}

#searchResult .navigation .count span {
    margin-right: 3px;
    line-height: 16px;
    display: inline-block;
}

#searchResult .navigation .navi {
    float: right;
    display: none;
}

#searchResult .navigation .navi span {
    margin: 0 1px;
    padding: 2px;
    min-height: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#searchResult .navigation .navi .marg {
    margin: 0;
    padding: 2px 0;
    background: url(../img/btn_prevnext.png) no-repeat 0 50%;
}

#searchResult .navigation .navi .marg.first {
    background-position: 0 30%;
    width: 15px;
}

#searchResult .navigation .navi .marg.prev {
    background-position: -15px 30%;
    width: 11px;
}

#searchResult .navigation .navi .marg.next {
    background-position: -26px 30%;
    width: 11px;
}

#searchResult .navigation .navi .marg.last {
    background-position: -37px 30%;
    width: 15px;
}

#searchResult .navigation .navi .disable {
    opacity: 0.3;
    cursor: default;
}

#searchResult .navigation .navi .selected {
    background: #555;
    color: #fff;
    cursor: default;
}

#searchResult .navigation .navi .hide {
    display: none;
}

#searchResult .result h2 {
    margin: -1px 0 0;
}

#searchResult .result h2 a {
    margin: 0;
    padding: 12px 30px 12px 8px;
    background: #eee url(../img/arrow_right.png) no-repeat 100% 50%;
    background-size: auto 25px;
    border: solid #ccc;
    border-width: 1px 0;
    display: block;
    color: #000;
    font-size: 1rem;
    text-shadow: none;
    font-weight: normal;
    text-decoration: none;
}

#searchResult .result h2 a[aria-expanded="true"] {
    background-image: url(../img/arrow_bottom.png);
    background-size: auto 37px;
}

#searchResult .result .category:first-child {
    margin-top: 15px;
}

#searchResult .result .item {
    margin: 0pp;
    padding: 10px;
    word-break: break-all;
    border-bottom: 1px solid #eee;
    font-size: 0.8rem;
}

#searchResult .result .item h3 {
    margin: 0 0 5px;
    font-size: 1rem;
    text-shadow: none;
}

#searchResult .result .item p {
    margin: 0;
    /*line-height: 16px;*/
}

#searchResult .result mark {
    background: #fcf;
    padding: 0;
}

#searchResult .result .info {
    margin: 10px 5px;
    font-size: 1.2em;
}

#searchResult .termWord {
    margin: 15px 7px;
}

#searchResult .termWord p {
    margin: 5px 0;
}

#searchResult #relatedWords {
    margin: 15px 7px;
}

#searchResult #relatedWords .relatedKey+.relatedKey {
    margin-left: 10px;
}

#searchResult #relatedWords .relatedKey a {
    line-height: 16px;
}

#searchResult #option {
    padding: 0 10px;
    font-size: 0.8rem;
}

#searchResult #option .optionBtn {
    margin: 5px 0 0;
    padding: 6px 30px 6px 10px;
    border-color: #ccc;
    outline: none;
    background-color: #f5f5f5;
    background-image: url(../img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: auto 18px;
    font-size: 0.8rem;
    font-weight: normal;
}

#searchResult #option .optionBtn.open {
    background-image: url(../img/arrow_bottom.png);
    background-size: auto 28px;
}

#searchResult #option .optionItem {
    padding: 10px 0 0;
    display: none;
}

#searchResult #option label {
    margin-bottom: 0.7em;
    padding: 0;
    display: inline-block;
    font-size: 0.8rem;
    /*&.btn {
				padding: 5px 10px;
				&.btn-default:hover {
					background-color: #fff;
				}
				&.btn-default.active:hover {
					background-color: #e6e6e6;
				}
				&.disabled {
					pointer-events: none;
				}
			}*/
}

#searchResult #option label+label {
    margin-left: 1em;
}

#searchResult #option .disabled label {
    color: #ccc;
}

#searchResult #option input {
    margin: 0 3px 0 0;
    vertical-align: -2px;
}

body[lang="ja-jp"] #searchResult .btnArea .searchResultBtn>.text,
body[lang="zh-cn"] #searchResult .btnArea .searchResultBtn>.text,
body[lang="zh-tw"] #searchResult .btnArea .searchResultBtn>.text,
body[lang="ko-kr"] #searchResult .btnArea .searchResultBtn>.text {
    letter-spacing: 5px;
}

#wrapper {
    padding-right: 15px;
}

.top #container.searchResultEnabled {
    margin-right: 25px;
}


/* -----------------------------------------------
 * container
 */

#container {
    position: relative;
}

#container h1 {
    margin: 5px 0px 15px;
    padding: 5px;
}

#container h2,
#container h5.option01 {
    margin: 20px 0 13px;
    padding: 3px 5px;
    background: #c7d9f0;
    line-height: 1.2;
    min-height: 1em;
    font-size: 1.1rem;
    text-shadow: none;
}

#container mark {
    background: #fcf;
}

#container img {
    height: 1.1rem;
}

#container #pageInner img {
    max-width: 100%;
    height: auto;
}

.container h6.option01 {
    text-align: center;
}

#container .image.chapterLinkMap {
    /* to chaptor index image view hide ****/
    display: none;
}

#container .image img {
    max-width: 100%;
    height: auto;
}

#container ul {
    padding-left: 0px;
}

#container ul li,
#container .kodbox ul.option01>li {
    margin: 8px 0;
    padding-left: 15px;
    list-style: none;
    background: url(../img/articleStyle/list_1.png) no-repeat 0 0.35em;
}

#container .pagenavi {
    margin: 20px 0;
    padding: 0;
}

#container .pagenavi ul {
    border-left: 6px solid #882537;
}

#container .pagenavi ul li {
    margin: 3px 0;
    padding-left: 10px;
    background: none;
}

#container ul.option01>li {
    background-image: url(../img/articleStyle/list_2.png);
    background-size: auto 10px;
}

#container ul.subitems {
    padding-left: 0px;
}

#container ul.subitems li {
    padding-left: 20px;
    list-style: none;
    background-image: url(../img/articleStyle/list_3.png);
}

#container .relation {
    padding-left: 17px;
    background: url(../img/articleStyle/icon_link.png) no-repeat 0 3px;
    background-size: auto 13px;
}

#container div.table {
    /*margin: 10px -1px 30px;
	padding: 0;
	border: solid #000;
	border-width: 0 1px;*/
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

#container table {
    margin: 10px 0;
    background: #fff;
    border: 1px solid #666;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7rem;
}

#container table th,
#container table td {
    border: 1px solid #666;
    border-spacing: 0;
    vertical-align: top;
}

#container table th>*,
#container table td>* {
    margin: 5px;
}

#container table th {
    background: #acf;
    border: 1px solid #666;
    border-spacing: 0;
}

#container .layoutTable table {
    border: 0 none;
    font-size: 1rem;
}

#container .layoutTable table th,
#container .layoutTable table td {
    border: 0 none;
}

#container .flow {
    transform-origin: 50% 50%;
    box-shadow: none;
}

ol.option01>li {
    counter-increment: item;
    list-style-type: none;
    position: relative;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 5px;
}

ol.option01>li::before {
    color: #f5ac7d;
    font-weight: bold;
    top: -5px;
    font-size: 1.3rem;
    content: counter(item) ".";
    left: -35px;
    position: absolute;
    text-align: right;
    width: 30px;
}

#container ol.option01>li h4 {
    font-size: 1rem;
}

#container .memo,
#container .caution,
#container .attention,
#container .recommendation,
#container .setting {
    margin: 15px 0;
    padding: 0;
    font-size: 1rem;
}

#container .memo h4,
#container .caution h4,
#container .attention h4,
#container .recommendation h4,
#container .setting h4 {
    margin: 0 0 8px -2px;
    padding: 2px 0 0 25px;
    min-height: 20px;
    font-weight: bold;
}

#container .memo>ul,
#container .caution>ul,
#container .attention>ul,
#container .recommendation>ul,
#container .setting>ul {
    padding: 0 5px;
}

#container .memo,
#container .attention {
    padding: 7px 7px 7px 9px;
}

#container .memo {
    background-color: #eeffff;
    border: 1px solid #c8feff;
}

#container .memo>h4 {
    background: url(../img/articleStyle/icon_memo.png) no-repeat 0 0px;
    font-size: 1rem;
}

#container .memo>p:first-child>img:first-child {
    min-height: 20px;
}

#container .attention {
    background-color: #fff0ff;
    border: 1px solid #ffddff;
}

#container .attention>h4 {
    background: url(../img/articleStyle/icon_attention.png) no-repeat 0 0px;
}

#container .attention>p:first-child>img:first-child {
    min-height: 20px;
}

#container .caution>h4 {
    background: url(../img/articleStyle/icon_caution.png) no-repeat 0 0px;
}

#container .caution>p:first-child>img:first-child {
    min-height: 20px;
}

#container div[data-macro-name="mark-link"] table.macroTable {
    width: inherit !important;
    overflow: hidden;
}

#container div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td {
    border: none;
}

#container div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td>img {
    margin: 0 !important;
}

#container div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td a.ui-link {
    font-size: 1rem;
}

#container table div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td:first-child {
    width: 15px;
}

#container table div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td:first-child>img {
    width: 15px;
}

#container table div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td a.ui-link {
    font-size: 0.7rem;
}

#container .setting>h4 {
    background: url(../img/articleStyle/icon_recommendation.png) no-repeat 0 0px;
}

#container .setting .default {
    padding: 0 0 0 15px;
    background: url(../img/articleStyle/list_4.png) no-repeat 0 4px;
}

#container .recommendation>h4 {
    margin-top: 30px;
    background: url(../img/articleStyle/icon_setting.png) no-repeat 0 3px;
}

#container h5.option04 {
    margin-top: 30px;
    background: url(../img/articleStyle/icon_setting.png) no-repeat 0 3px;
    font-size: 18px;
    padding: 2px 0 0 25px;
    min-height: 20px;
    font-weight: bold;
}

#container .related {
    margin: 15px 0;
    padding: 5px 0 0;
    background: url(../img/articleStyle/icon_related.png) no-repeat 0px 0px;
    font-size: 1rem;
}

#container .related h4 {
    margin: 0 0 7px 30px;
    border-bottom: 2px solid #f6d55e;
    color: #d8aa09;
    font-size: 1rem;
}

#container .supplement {
    margin: 15px 0px;
    padding: 0;
}

#container .supplement>h5 {
    margin: 0;
    padding: 2px 0 2px 30px;
    background: url(../img/accordion_icon.png) no-repeat -240px -30px;
    border-bottom: 1px solid #c99;
    font-weight: normal;
    font-size: 1rem;
    color: #a33;
    min-height: 16px;
    cursor: pointer;
}

#container .supplement>h5.open {
    background-position: -210px -60px;
}

#container .supplement>.supplementContents {
    margin: 0;
    padding: 10px;
    border: solid #c99;
    border-width: 0 1px 1px;
    display: none;
}

#container .supplement.non_child>h5 a {
    color: #a33;
    text-decoration: none;
}

#container #errMsg .supplement>h5:hover {
    text-decoration: underline;
}

#container .steplist li {
    margin-left: 30px;
    color: #FFCC99;
    font-weight: bold;
}

#container .steplist span {
    color: #000;
    font-weight: normal;
}

#container ol.substep {
    padding-left: 28px;
    counter-reset: substepList;
}

#container ol.substep li {
    list-style: none;
    counter-increment: substepList;
    position: relative;
}

#container ol.substep li:before {
    content: "(" counter(substepList) ")";
    color: #3af;
    font-weight: bold;
    font-size: 0.85rem;
    position: absolute;
    left: -35px;
}

#container ol.annotation {
    padding: 5px 0 10px;
    list-style: none;
}

#container ol.annotation>li {
    padding-left: 33px;
    margin: 3px 0;
    position: relative;
}

#container ol.annotation>li>p {
    margin-bottom: 2px;
}

#container ol.annotation>li:before {
    position: absolute;
    left: 3px;
}

#container ol.annotation>li.n1:before {
    content: "*1";
}

#container ol.annotation>li.n2:before {
    content: "*2";
}

#container ol.annotation>li.n3:before {
    content: "*3";
}

#container ol.annotation>li.n4:before {
    content: "*4";
}

#container ol.annotation>li.n5:before {
    content: "*5";
}

#container ol.annotation>li.n6:before {
    content: "*6";
}

#container ol.annotation>li.n7:before {
    content: "*7";
}

#container ol.annotation>li.n8:before {
    content: "*8";
}

#container ol.annotation>li.n9:before {
    content: "*9";
}

#container ol.annotation>li.n10:before {
    content: "*10";
}

#container ol.annotation>li.n11:before {
    content: "*11";
}

#container ol.annotation>li.n12:before {
    content: "*12";
}

#container ol.annotation>li.n13:before {
    content: "*13";
}

#container ol.annotation>li.n14:before {
    content: "*14";
}

#container ol.annotation>li.n15:before {
    content: "*15";
}

#container ol.annotation>li.n16:before {
    content: "*16";
}

#container ol.annotation>li.n17:before {
    content: "*17";
}

#container ol.annotation>li.n18:before {
    content: "*18";
}

#container ol.annotation>li.n19:before {
    content: "*19";
}

#container ol.annotation>li.n20:before {
    content: "*20";
}

#container ol.annotation>li.n21:before {
    content: "*21";
}

#container ol.annotation>li.n22:before {
    content: "*22";
}

#container ol.annotation>li.n23:before {
    content: "*23";
}

#container ol.annotation>li.n24:before {
    content: "*24";
}

#container ol.annotation>li.n25:before {
    content: "*25";
}

#container ol.annotation>li.n26:before {
    content: "*26";
}

#container ol.annotation>li.n27:before {
    content: "*27";
}

#container ol.annotation>li.n28:before {
    content: "*28";
}

#container ol.annotation>li.n29:before {
    content: "*29";
}

#container ol.annotation>li.n30:before {
    content: "*30";
}

#container ol.annotation>li+li {
    margin-top: 8px;
}

#container .tileLayoutA .block {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#container .tileLayoutA .block:last-child {
    border-bottom: 0 none;
}

#container .tileLayoutA .block .link {
    padding: 0 0 15px;
    cursor: pointer;
}

.top h1 {
    font-size: 1.2rem;
    background: #fff;
}

.top h1 span {
    display: block;
}

.top #wrapper {
    padding: 10px 0 0;
}

.top #container nav ul {
    margin: 0 0 -2px;
    padding: 0;
    list-style: none;
}

.top #container nav ul li {
    margin: -2px 0 0;
    padding: 0;
    background-image: none;
    border: solid #999;
    border-width: 2px 0 2px 0;
    display: block;
}

.top #container nav ul li.hasChild>a {
    padding-left: 37px;
}

.top #container nav ul li a {
    padding: 10px 35px 10px 20px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    font-size: 1.0rem;
    font-weight: normal;
    color: #000;
}

.top #container nav ul li a[href^="#item"] {
    background-image: url(../img/arrow_right.png);
    background-repeat: no-repeat;
    background-position: center right;
}

.top #container nav ul li a[target="_blank"] {
    background-image: none;
    background-color: #f0f0f0;
    font-weight: 400;
}

.top #container nav ul li a[target="_blank"] .glyphicon {
    margin: 0 7px 0 -25px;
    font-size: 1em;
    color: #5e5e5e;
}

.top #container nav ul li img.bullet,
.top #container nav ul li img.mainFunc {
    height: 25px;
}

.top #container nav>ul {
    margin: 0;
}

.top #container nav>ul>li>a[aria-expanded="true"] {
    background-image: url(../img/arrow_bottom.png);
    background-color: #ccc;
}

.top #container nav>ul>li li {
    border-width: 1px;
}

.top #container nav>ul>li li a {
    padding-left: 60px;
    background-color: #f0f0f0;
    font-weight: 400;
}

.top #container nav>ul>li li a[aria-expanded="true"] {
    background-image: url(../img/arrow_bottom.png);
    background-color: #ddd;
}

.top #container nav>ul>li li img {
    margin: 3px 0 0 -27px;
    display: inline-block;
    position: absolute;
}

.top #container nav>ul>li li li a {
    padding-left: 70px;
    background-color: #f7f7f7;
}

/*bullet number*/
.list-index00 {
     counter-reset:item 0 !important;
}

.list-index01 {
     counter-reset:item 1 !important;
}

.list-index02 {
     counter-reset:item 2 !important;
}

.list-index03 {
     counter-reset:item 3 !important;
}

.list-index04 {
     counter-reset:item 4 !important;
}

.list-index05 {
     counter-reset:item 5 !important;
}

.list-index06 {
     counter-reset:item 6 !important;
}

.list-index07 {
     counter-reset:item 7 !important;
}

.list-index08 {
     counter-reset:item 8 !important;
}

.list-index09 {
     counter-reset:item 9 !important;
}

.list-index10 {
     counter-reset:item 10 !important;
}

.list-index11 {
     counter-reset:item 11 !important;
}

.list-index12 {
     counter-reset:item 12 !important;
}

.list-index13 {
     counter-reset:item 13 !important;
}

.list-index14 {
     counter-reset:item 14 !important;
}

.list-index15 {
     counter-reset:item 15 !important;
}

.list-index16 {
     counter-reset:item 16 !important;
}

.list-index17 {
     counter-reset:item 17 !important;
}

.list-index18 {
     counter-reset:item 18 !important;
}

.list-index19 {
     counter-reset:item 19 !important;
}

.list-index20 {
     counter-reset:item 20 !important;
}

.list-index21 {
     counter-reset:item 21 !important;
}

.list-index22 {
     counter-reset:item 22 !important;
}

.list-index23 {
     counter-reset:item 23 !important;
}

.list-index24 {
     counter-reset:item 24 !important;
}

.list-index25 {
     counter-reset:item 25 !important;
}

.list-index26 {
     counter-reset:item 26 !important;
}

.list-index27 {
     counter-reset:item 27 !important;
}

.list-index28 {
     counter-reset:item 28 !important;
}

.list-index29 {
     counter-reset:item 29 !important;
}

.list-index30 {
     counter-reset:item 30 !important;
}

.list-index31 {
     counter-reset:item 31 !important;
}

.list-index32 {
     counter-reset:item 32 !important;
}

.list-index33 {
     counter-reset:item 33 !important;
}

.list-index34 {
     counter-reset:item 34 !important;
}

.list-index35 {
     counter-reset:item 35 !important;
}

.list-index36 {
     counter-reset:item 36 !important;
}

.list-index37 {
     counter-reset:item 37 !important;
}

.list-index38 {
     counter-reset:item 38 !important;
}

.list-index39 {
     counter-reset:item 39 !important;
}

.list-index40 {
     counter-reset:item 40 !important;
}

.list-index41 {
     counter-reset:item 41 !important;
}

.list-index42 {
     counter-reset:item 42 !important;
}

.list-index43 {
     counter-reset:item 43 !important;
}

.list-index44 {
     counter-reset:item 44 !important;
}

.list-index45 {
     counter-reset:item 45 !important;
}

.list-index46 {
     counter-reset:item 46 !important;
}

.list-index47 {
     counter-reset:item 47 !important;
}

.list-index48 {
     counter-reset:item 48 !important;
}

.list-index49 {
     counter-reset:item 49 !important;
}

.list-index50 {
     counter-reset:item 50 !important;
}

.list-index51 {
     counter-reset:item 51 !important;
}

.list-index52 {
     counter-reset:item 52 !important;
}

.list-index53 {
     counter-reset:item 53 !important;
}

.list-index54 {
     counter-reset:item 54 !important;
}

.list-index55 {
     counter-reset:item 55 !important;
}

.list-index56 {
     counter-reset:item 56 !important;
}

.list-index57 {
     counter-reset:item 57 !important;
}

.list-index58 {
     counter-reset:item 58 !important;
}

.list-index59 {
     counter-reset:item 59 !important;
}

.list-index60 {
     counter-reset:item 60 !important;
}

.list-index61 {
     counter-reset:item 61 !important;
}

.list-index62 {
     counter-reset:item 62 !important;
}

.list-index63 {
     counter-reset:item 63 !important;
}

.list-index64 {
     counter-reset:item 64 !important;
}

.list-index65 {
     counter-reset:item 65 !important;
}

.list-index66 {
     counter-reset:item 66 !important;
}

.list-index67 {
     counter-reset:item 67 !important;
}

.list-index68 {
     counter-reset:item 68 !important;
}

.list-index69 {
     counter-reset:item 69 !important;
}

.list-index70 {
     counter-reset:item 70 !important;
}

.list-index71 {
     counter-reset:item 71 !important;
}

.list-index72 {
     counter-reset:item 72 !important;
}

.list-index73 {
     counter-reset:item 73 !important;
}

.list-index74 {
     counter-reset:item 74 !important;
}

.list-index75 {
     counter-reset:item 75 !important;
}

.list-index76 {
     counter-reset:item 76 !important;
}

.list-index77 {
     counter-reset:item 77 !important;
}

.list-index78 {
     counter-reset:item 78 !important;
}

.list-index79 {
     counter-reset:item 79 !important;
}

.list-index80 {
     counter-reset:item 80 !important;
}

.list-index81 {
     counter-reset:item 81 !important;
}

.list-index82 {
     counter-reset:item 82 !important;
}

.list-index83 {
     counter-reset:item 83 !important;
}

.list-index84 {
     counter-reset:item 84 !important;
}

.list-index85 {
     counter-reset:item 85 !important;
}

.list-index86 {
     counter-reset:item 86 !important;
}

.list-index87 {
     counter-reset:item 87 !important;
}

.list-index88 {
     counter-reset:item 88 !important;
}

.list-index89 {
     counter-reset:item 89 !important;
}

.list-index90 {
     counter-reset:item 90 !important;
}

.list-index91 {
     counter-reset:item 91 !important;
}

.list-index92 {
     counter-reset:item 92 !important;
}

.list-index93 {
     counter-reset:item 93 !important;
}

.list-index94 {
     counter-reset:item 94 !important;
}

.list-index95 {
     counter-reset:item 95 !important;
}

.list-index96 {
     counter-reset:item 96 !important;
}

.list-index97 {
     counter-reset:item 97 !important;
}

.list-index98 {
     counter-reset:item 98 !important;
}

.list-index99 {
     counter-reset:item 99 !important;
}

/* -----------------------------------------------
 * Local
 */


/*# sourceMappingURL=mobile.css.map */