/*  */


/* --------------------- */


/* *******************************************************
 * PC CSS
******************************************************** */

* {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

html {
    overflow-y: scroll;
}

body {
    color: #000;
    font-style: normal;
    font-weight: normal;
    background: #fff;
}

div[data-role="page"],
#localToc,
#searchResult {
    display: none;
}

p {
    margin-bottom: 1em;
}

strong,
b {
    font-weight: bold;
}

img {
    border: 0px none;
    vertical-align: middle;
}

hr {
    display: none;
}

em,
i,
address {
    font-style: normal;
}

ul li {
    list-style: none;
}

a:link {
    color: #029;
}

a:visited {
    color: #7a1f9f;
}

a:link,
a:visited {
    text-decoration: none;
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
    text-decoration: underline;
    color: #f00;
}


/*--------------------------
	JQuery customize
---------------------------*/

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br {
    border-radius: 0;
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.ui-widget-header {
    background: none;
    border: 0px none;
    color: inherit;
    font-weight: inherit;
}

.ui-widget-content {
    background: none;
    color: inherit;
}

.ui-tabs {
    padding: 0;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
}


/*--------------------------
	layout
---------------------------*/

#body {
    min-width: 882px;
}

#body>div>* {
    margin: 0 auto;
    width: 882px;
}

#contentsInner {
    padding: 20px 0 0;
}

#categoryNavi {
    float: left;
    position: relative;
}

#container {
    float: right;
    position: relative;
}

#c1 #container {
    float: none;
    width: 100%;
    position: static;
}

#header:after,
#header>div:after,
#footer:after,
#footer>*:after,
#globalNav:after,
#contentsInner:after {
    content: "";
    clear: both;
    display: table;
}


/*--------------------------
	modal
---------------------------*/

.modalWin {
    background: #e5e5e5;
}

.modalWin .ui-dialog-titlebar {
    padding: 0.1em 0.6em;
    background-color: #efccd5;
    background-image: url(../css/images/highlight-soft_75_e5ccd5.png);
    border: none;
    min-height: 18px;
}

.modalWin .ui-dialog-titlebar span.ui-dialog-title {
    margin: 0;
}

.modalWin .ui-dialog-content {
    margin: 0;
    padding: 10px 15px 15px;
    border: 1px solid #aaa;
    background: #fff;
    line-height: 1.6;
    /**/
}

.modalWin .ui-state-focus {
    background: #d3d3d3 url(../css/images/glass_75_e6e6e6.png) repeat-x 50% 50%;
    border-color: #d3d3d3;
}

.modalWin .btn {
    margin: 20px 0 0;
    text-align: center;
}

.modalWin div.ope {
    padding: 2px 3px 2px 6px;
    background: #cececc;
    border: 1px solid #aaa;
    text-align: left;
}

.modalWin div.ope button {
    margin: 0 5px 0 0;
}

.modalWin div.ope .ui-button-text {
    padding: 2px 6px;
    width: 60px;
}

.modalWin .description {
    margin: 0;
    padding: 5px 0 0;
    display: block;
    color: #555;
    clear: both;
}

.modalWin .list {
    padding: 10px 0;
    overflow: auto;
}

.modalWin .list li {
    margin: 5px 0 5px 20px;
    line-height: 20px;
    position: relative;
}

.modalWin .list li input {
    margin: 3px 0 0 -15px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

.modalWin .list label {
    margin: 0 5px;
    display: inline-block;
    vertical-align: middle;
}


/* IE7 */

* html .modalWin div.ope .ui-button-text,
*:first-child+html .modalWin div.ope .ui-button-text {
    padding: 2px 5px 0;
}


/*--------------------------
	toTop
--------------------------*/

#toTop {
    margin: 0;
    width: inherit;
    display: none;
    position: absolute;
}

#toTop span {
    margin: 0 0 0 860px;
    background: url(../img/to_top.png) no-repeat 0 0;
    display: block;
    width: 22px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    z-index: 15;
    cursor: pointer;
}

#top #toTop span {
    margin-left: 884px;
}

@media screen and (max-width: 898px) {
    #toTop span {
        margin: 0;
        position: absolute;
        right: 0;
    }
}


/*--------------------------
	header
---------------------------*/

#header {
    padding: 15px 0 0;
    border-bottom: 3px solid #e00001;
    height: 55px;
    color: #727171;
    /*--------
	copyright
	-----------*/
    /*--------
	 globalNav
	-----------*/
}

#header #meta {
    float: left;
}

#header #meta * {
    vertical-align: top;
    line-height: 1;
}

#header #meta h1,
#header #meta span {
    margin-left: 35px;
    font-weight: bold;
}

#header #dm {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    position: fixed;
    top: -10px;
}

#header #copyright {
    font-size: 0.6em;
    text-align: right;
}

#header #copyright address {
    margin-top: -2px;
    float: right;
}

#header #globalNav {
    margin: 0 0 0 110px;
    min-width: 300px;
    float: left;
}

#header #globalNav li {
    margin: 0 -1px 0 0;
    padding: 0 5px;
    border: solid #000;
    border-width: 0 1px;
    display: block;
    font-weight: bold;
    float: left;
}

#header #globalNav li.naviTop,
#header #globalNav li.naviPrintout {
    border-width: 0;
}

#header #globalNav li span {
    line-height: 20px;
}


/*--------------------------
	footer
---------------------------*/

#body #footer {
    padding: 20px 0;
    color: #4d4d4d;
}

#body #footer>* {
    margin-top: -1px;
    border: 1px solid #999;
}

#body #footer .exlink {
    background: #727171;
}

#body #footer .exlink li {
    float: left;
}

#body #footer .exlink li a {
    margin-left: -1px;
    padding: 0 15px 0 10px;
    border-left: 1px solid #999;
    width: 195px;
    display: inline-block;
    line-height: 32px;
    color: #fff;
}

#body #footer .exlink li a:hover {
    background: #336ea6;
    text-decoration: none;
}

#body #footer .link li {
    float: left;
}

#body #footer .link li a {
    margin: 0 30px 0 10px;
    padding: 0 0 0 12px;
    background: url(../img/mark_ancher.png) no-repeat 0 9px;
    display: inline-block;
    line-height: 32px;
}

#body #footer #manualID,
#body #footer address {
    margin: 0 4px;
    line-height: 32px;
}

#body #footer #manualID {
    float: left;
}

#body #footer address {
    float: right;
}

#contentsNo {
    display: none;
}


/*--------------------------
	categoryNavi
---------------------------*/

#categoryNavi {
    margin: 0;
    /* menuShowHide */
}

#categoryNavi.hide {
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    overflow: hidden;
}

#categoryNavi #menuShowHide {
    position: absolute;
    right: 0;
    z-index: 1;
}

#categoryNavi #menuShowHide.hide span {
    background-position: -22px 0;
}

#categoryNavi #menuShowHide span {
    width: 22px;
    height: 22px;
    display: block;
    background: url(../img/btn_menu_slider.png) no-repeat 0 0;
    cursor: pointer;
}

#Navi {
    border: 0px none;
    width: 255px;
}

#Navi>ul {
    background: #fff;
}

#Navi>ul li {
    padding: 0;
    border: 0px none;
}

#Navi>ul li.tab2.ui-state-active a {
    margin-bottom: -1px;
    height: 23px;
}

#Navi>ul a {
    padding: 0;
    outline: 0px;
    height: 22px;
}

#Navi>ul a span {
    display: none;
}

#Navi>div {
    min-height: 100%;
}


/* #localMenu */

#localMenu {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

#localMenu .ope a {
    width: 50%;
    line-height: 1.8;
    display: inline-block;
    text-align: center;
    color: #029;
    cursor: pointer;
}

#localMenu .ope a:hover {
    color: #f00;
    background: #f9f9f9;
}

#localMenu .ope a.disabled {
    color: #000;
    cursor: default;
}

#localMenu .ope a.disabled:hover {
    color: #000;
    background: transparent;
}

#localMenu .list h2 {
    padding: 5px;
    background: #4d4d4d;
    color: #fff;
    text-align: center;
}

#localMenu .list h2 a {
    color: #fff;
}

#localMenu .list h2 a:hover {
    color: #f00;
    text-decoration: underline;
}

#localMenu .list>ul {
    background: #b2b2b2;
}

#localMenu .list>ul ul {
    background: #ddd;
}

#localMenu .list>ul ul ul {
    background: #efefef;
}

#localMenu .list>ul li {
    margin: 0 0 -1px;
    border: solid #fff;
    border-width: 1px 0;
    line-height: 22px;
    clear: left;
}

#localMenu .list>ul li .hitarea {
    margin: 4px 3px 0 5px;
    background: url(../img/menu_openclose.png) no-repeat;
    width: 13px;
    height: 13px;
    float: left;
    cursor: pointer;
}

#localMenu .list>ul li .hitarea.blank-hitarea {
    background-image: none;
}

#localMenu .list>ul li .hitarea.collapsable-hitarea {
    background-position: -13px 0;
}

#localMenu .list>ul li span {
    padding: 3px 5px 3px 20px;
    display: block;
}

#localMenu .list>ul li span.selected {
    background: #f5ac7d;
}

#localMenu .list>ul li span a {
    line-height: 16px;
    color: #000;
    text-decoration: none;
}

#localMenu .list>ul li span a:hover {
    color: #f00;
    text-decoration: underline;
}

#localMenu .list>ul li li .hitarea {
    margin-left: 20px;
}

#localMenu .list>ul li li span {
    padding-left: 35px;
}

#localMenu .list>ul li li li .hitarea {
    margin-left: 35px;
}

#localMenu .list>ul li li li span {
    padding-left: 50px;
}

#localMenu .list>ul .collapsable>span a,
#localMenu .list>ul .expandable>span a {
    cursor: pointer;
}

#localMenu .list>ul .expandable ul {
    display: none;
}


/*--------------------------
	NextPrev
---------------------------*/

#nextPrev {
    /*width: 587px;*/
}

#nextPrev>span {
    position: absolute;
    top: 0;
}

#nextPrev a {
    display: block;
    width: 45px;
    height: 22px;
    background: url(../img/prev_next.png) no-repeat;
}

#nextPrev a.disabled {
    opacity: 0.3;
    filter/***/
    : Alpha(opacity=30) \9;
}

#nextPrev .prev {
    left: 0;
}

#nextPrev .prev a {
    background-position: 0 0;
}

#nextPrev .next {
    right: 0;
}

#nextPrev .next a {
    background-position: -50px 0;
}


/*--------------------------
	search
---------------------------*/

#c1 #search {
    visibility: hidden;
}

#search {
    margin: 0px 0 0 20px;
    width: 330px;
    float: right;
}

#search label {
    display: none;
}

#search #searchKey {
    padding: 0 3px;
    border: 1px solid #000;
    width: 275px;
    height: 24px;
    line-height: 24px;
    color: #9fa0a0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#search #searchKey.keyIn {
    color: #4d4d4d;
}

#search #searchSubmit {
    display: none;
}

#search #searchBtn {
    margin: 0;
    display: inline-block;
    width: 55px;
    height: 24px;
    vertical-align: top;
    cursor: pointer;
}

#search #searchBtn span {
    display: none;
}


/* IE7 */

* html #header>div,
*:first-child+html #header>div {
    position: relative;
}

* html #header>div>*,
*:first-child+html #header>div>* {
    float: none;
}

* html #search,
*:first-child+html #search {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
}

* html #search #searchKey,
*:first-child+html #search #searchKey {
    width: 265px;
}

* html #search #searchBtn,
*:first-child+html #search #searchBtn {
    vertical-align: 0px;
}

#searchOption {
    position: relative;
    color: #000;
}

#searchOption>span.label {
    margin: 4px 0 0;
    display: inline-block;
}

#searchOption #option {
    padding: 5px 10px;
    background: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: none;
}

#searchOption #option>div {
    margin: 5px 0;
}

#searchOption #option>div .formItem {
    display: inline-block;
}

#searchOption #option .header:after {
    clear: both;
    content: '';
    display: table;
}

#searchOption #option .header>h5 {
    float: left;
}

#searchOption #option .header>span.close {
    float: right;
    color: #029;
    cursor: pointer;
}

#searchOption #option .header>span.close:hover {
    color: #f00;
    text-decoration: underline;
}

#searchOption label {
    padding: 0 10px 0 4px;
    display: inline-block;
}

#searchOption .disabled label {
    color: #ccc;
}

#searchOption input {
    vertical-align: -2px;
}


/*--------------------------
	ui-autocomplete
---------------------------*/

.ui-autocomplete {
    background: #fff;
}

.ui-autocomplete.moreThan {
    padding-bottom: 0px;
}

.ui-autocomplete.moreThan:after {
    margin: 3px 0;
    content: "\22ee";
    /*fe19*/
    text-align: center;
    display: block;
    width: 35%;
    font-size: 16px;
    font-weight: bold;
}

.ui-autocomplete.ui-menu .ui-menu-item {
    padding: 3px;
    list-style: none;
    font-size: 12px;
}

.ui-autocomplete.ui-menu .ui-menu-item.ui-state-focus {
    margin: 0;
    padding: 3px;
    background: #ffe4b0;
    border: none;
    font-weight: normal;
    color: #000;
}


/*--------------------------
	searchResult
--------------------------*/

#searchResult {
    padding: 0 5px;
    background: #fff;
    border: 1px solid #b5b5b5;
}

#searchResult .navigation {
    padding: 8px 2px 5px;
    border-bottom: 1px solid #909090;
}

#searchResult .navigation:after {
    content: "";
    clear: both;
    display: table;
}

#searchResult .navigation .count {
    float: left;
    font-weight: bold;
}

#searchResult .navigation .count span {
    margin-right: 3px;
    line-height: 16px;
    display: inline-block;
}

#searchResult .navigation .navi {
    float: right;
}

#searchResult .navigation .navi span {
    margin: 0 1px;
    padding: 2px;
    min-height: 14px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#searchResult .navigation .navi .marg {
    margin: 0;
    padding: 2px 0;
    background: url(../img/btn_prevnext.png) no-repeat 0 50%;
}

#searchResult .navigation .navi .marg.first {
    background-position: 0 30%;
    width: 15px;
}

#searchResult .navigation .navi .marg.prev {
    background-position: -15px 30%;
    width: 11px;
}

#searchResult .navigation .navi .marg.next {
    background-position: -26px 30%;
    width: 11px;
}

#searchResult .navigation .navi .marg.last {
    background-position: -37px 30%;
    width: 15px;
}

#searchResult .navigation .navi .disable {
    opacity: 0.3;
    filter: Alpha(opacity=30) \9;
    cursor: default;
}

#searchResult .navigation .navi .selected {
    background: #555;
    color: #fff;
    cursor: default;
}

#searchResult .navigation .navi .hide {
    display: none;
}

#searchResult .result h2 {
    margin: 0;
    padding: 3px 8px;
    background: #ddd;
    font-size: 1em;
}

#searchResult .result h2:first-child {
    margin-top: 15px;
}

#searchResult .result .item {
    margin: 15px 7px;
    word-break: break-all;
}

#searchResult .result .item h3 {
    margin: 0 0 5px;
}

#searchResult .result .item p {
    margin: 0;
    line-height: 16px;
}

#searchResult .result mark {
    background: #fcf;
}

#searchResult .result .info {
    margin: 10px 5px;
    font-size: 1.2em;
}

#searchResult .termWord {
    margin: 15px 7px;
}

#searchResult .termWord p {
    margin: 5px 0;
}

#searchResult #relatedWords {
    margin: 15px 7px;
}

#searchResult #relatedWords .relatedKey {
    margin-right: 10px;
}

#searchResult #relatedWords .relatedKey:last-child {
    margin-right: 0;
}

#searchResult #relatedWords .relatedKey a {
    line-height: 16px;
}


/* *****************************************************
	Contents
****************************************************** */


/*--------------------------
	container
---------------------------*/

#container {
    width: 587px;
    min-height: 100%;
    line-height: 1.3;
    position: relative;
}

#container #page {
    padding: 0 22px 0 0;
    background: #fff;
}

#container #page #pageInner {
    margin: 0;
    padding: 20px 0 50px;
}


/*
======================================================
*/

.container {
    /* tileLayoutA */
}

.container img {
    border: 0 none;
    vertical-align: middle;
    height: 1.1em;
}

.container .image img,
.container .safety img {
    height: auto;
}

.container sup {
    vertical-align: top;
    font-size: 0.8em;
    margin-top: -3px;
}

.container sub {
    vertical-align: bottom;
    font-size: 0.8em;
    margin-bottom: -3px;
}

.container strong {
    font-weight: bold;
}

.container var {
    padding: 0px 3px;
    background-color: #ffecec;
    color: #999;
    font-style: normal;
}

.container code {
    padding: 0px 4px;
    background-color: #fafafa;
    border: 1px dotted #ccc;
    border-radius: 2px;
    color: inherit;
    white-space: normal;
    font-size: inherit;
    font-family: inherit;
}

.container .wbr {
    display: none;
}

.container mark {
    background: #fcf;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    font-weight: bold;
    font-family: inherit;
}


/* edit */

#container #pageInner img {
    max-width: 100%;
    height: auto;
}

.container h6.option01 {
    text-align: center;
}

.container h1 {
    padding: 0 62px;
    min-height: 19px;
    width: auto;
}


/* .container h2 {
    margin: 30px 0 13px;
    padding: 4px 13px 2px;
    background: #c7d9f0;
    line-height: 1.2;
    min-height: 1em;
} */

#container h2,
#container h5.option01 {
    margin: 20px 0 13px;
    padding: 3px 5px;
    background: #C7D9F0;
    line-height: 1.2;
    min-height: 1em;
    font-size: 1.1rem;
    text-shadow: none;
}

.container ul,
.container ol {
    margin: 0;
    padding: 0;
}

.container ul li,
#container .kodbox ul.option01>li {
    margin: 8px 0;
    padding-left: 15px;
    list-style: none;
    background: url(../img/articleStyle/list_1.png) no-repeat 0 3px;
}

#container ul.option01>li {
    background-image: url(../img/articleStyle/list_2.png);
    background-size: auto 10px;
}

.container li>*:last-child,
.container dt>*:last-child,
.container dd>*:last-child {
    margin-bottom: 0;
}

.container p {
    margin: 0 0 8px;
}

.container .boxPara {
    border: 1px solid #000;
}

.container table .boxPara {
    text-align: center;
}

.container .image {
    padding: 10px 0;
}

.container .referenceMaker {
    padding: 10px 5px;
    background: #ccc;
    display: inline-block;
}

.container .referenceMaker:before {
    font-family: 'Glyphicons Halflings';
    content: "\e146";
}

.container .summary {
    margin: 10px 0;
}

.container .summary li {
    padding-left: 18px;
    background: url(../img/articleStyle/list_9.png) no-repeat 0 2px;
}

.container div.pagenavi {
    margin: 20px 0;
    padding: 0px 5px;
}

.container div.pagenavi ul {
    border-left: 6px solid #882537;
}

.container div.pagenavi ul li {
    margin: 6px 0;
    padding: 2px 0 1px 12px;
    background: none;
}

.container div.pagenavi ul li p {
    margin: 0;
}

.container .relation {
    padding-left: 17px;
    background: url(../img/articleStyle/icon_link.png) no-repeat 0 3px;
}

.container div.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container div.list {
    margin: 10px 0;
}

.container ul.items li {
    background: url(../img/articleStyle/list_2.png) no-repeat 0 3px;
}

.container ul.subitems li {
    background: url(../img/articleStyle/list_3.png) no-repeat 0 3px;
}

.container ul.conditional li {
    background: url(../img/articleStyle/list_1.png) no-repeat 0 0px;
}

.container .flow .stepItem ul.conditional li {
    background: url(../img/articleStyle/list_1.png) no-repeat 0 4px;
}

.container table {
    margin: 10px 0;
    border: 1px solid #666;
    background: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.container table th,
.container table td {
    border: 1px solid #666;
    border-spacing: 0;
    vertical-align: top;
}

.container table th>*,
.container table td>* {
    margin: 5px;
}

.container table th {
    background: #acf;
    border: 1px solid #666;
    border-spacing: 0;
}

.container .layoutTable table {
    margin: 0;
    border: 0px none;
    border-spacing: 0;
    width: 100%;
}

.container .layoutTable table th,
.container .layoutTable table td {
    border: 0px none;
}

.container .memo {
    margin: 15px 0;
    padding: 7px 7px 7px 9px;
    background-color: #eeffff;
    border: 1px solid #c8feff;
}

.container .memo h4 {
    margin: 0 0 8px -2px;
    padding: 2px 0 0 25px;
    min-height: 20px;
}

.container .memo>ul {
    padding: 0 5px;
}

.container .memo>h4 {
    background: url(../img/articleStyle/icon_memo.png) no-repeat 0 0px;
}


/* edit */

.container .memo>p>img {
    min-height: 20px;
}

.container .caution {
    margin: 15px 0;
    padding: 0 0 0 20px;
}

.container .caution h4 {
    margin: 0 0 8px -2px;
    padding: 2px 0 0 25px;
    min-height: 20px;
}

.container .caution>ul {
    padding: 0 5px;
}

.container .caution>h4 {
    background: url(../img/articleStyle/icon_caution.png) no-repeat 0 0px;
}

.container .attention {
    margin: 15px 0;
    padding: 7px 7px 7px 9px;
    background-color: #fff0ff;
    border: 1px solid #ffddff;
}

.container .attention h4 {
    margin: 0 0 8px -2px;
    padding: 2px 0 0 25px;
    min-height: 20px;
}

.container .attention>ul {
    padding: 0 5px;
}

.container .attention>h4 {
    background: url(../img/articleStyle/icon_attention.png) no-repeat 0 0px;
}

.container .recommendation {
    margin: 15px 0;
    padding: 0 0 0 20px;
}

.container .recommendation h4 {
    margin: 0 0 8px -2px;
    padding: 2px 0 0 25px;
    min-height: 20px;
}

.container .recommendation>ul {
    padding: 0 5px;
}

.container .recommendation>h4 {
    margin-top: 30px;
    background: url(../img/articleStyle/icon_setting.png) no-repeat 0 0px;
    background-position: 0 6px;
}

.container .setting {
    margin: 15px 0;
    padding: 0 0 0 20px;
}

.container .setting h4 {
    margin: 0 0 8px -2px;
    padding: 2px 0 0 25px;
    min-height: 20px;
}

.container .setting>ul {
    padding: 0 5px;
}

.container .setting>h4 {
    background: url(../img/articleStyle/icon_recommendation.png) no-repeat 0 0px;
}

.container .setting .default {
    padding: 0 0 0 15px;
    background: url(../img/articleStyle/list_4.png) no-repeat 0 4px;
}

.container .related {
    margin: 15px 0;
    padding: 5px 0 0;
    background: url(../img/articleStyle/icon_related.png) no-repeat 0px 0px;
}

.container .related h4 {
    margin: 0 0 7px 30px;
    border-bottom: 2px solid #f6d55e;
    color: #d8aa09;
}

.container dl.subproperty {
    margin: 10px 0;
}

.container dl.subproperty dt {
    margin: 8px 0;
    padding: 0 0 0 15px;
    background: url(../img/articleStyle/list_5.png) no-repeat 0 3px;
}

.container dl.subproperty dd {
    margin: 8px 0 8px 15px;
    padding: 0 0 0 15px;
    background: url(../img/articleStyle/list_4.png) no-repeat 0 4px;
}

.container .safety {
    padding: 20px 0 10px;
}

.container .safety:before {
    float: right;
    content: '.';
    visibility: hidden;
    clear: both;
}

.container .safety::after {
    clear: both;
    content: '';
    display: table;
}

.container .safety .anki_block {
    font-size: inherit;
    font-family: inherit;
    padding-left: 0;
}

.container .safety table {
    border: 1px solid #555;
}

.container .safety table th,
.container .safety table td {
    padding: 5px;
    border: 1px solid #555;
    background: transparent;
}

.container .safety table th>*,
.container .safety table td>* {
    margin: auto;
}


/* edit */

#pageInner>ol.option01 {
    padding-left: 40px;
    list-style: none;
}

ol.option01>li {
    counter-increment: item;
    position: relative;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 5px;
}

ol.option01>li::before {
    color: #f5ac7d;
    font-weight: bold;
    top: -5px;
    font-size: 1.3rem;
    content: counter(item) ".";
    left: -40px;
    position: absolute;
    text-align: right;
    width: 40px;
}


/* edit */

#container ol.option01>li h4 {
    font-size: 1rem;
}


/* edit */

ol.option01>li>p {
    margin-top: 0;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
}

.container .flow {
    margin: 20px 0;
}

.container .flow>ol {
    padding-left: 40px;
}

.container .flow>ol>li {
    color: #f5ac7d;
    font-weight: bold;
    margin-top: 15px;
}

.container .flow>ol>li>.stepItem {
    margin-top: 0;
    color: #000;
    font-weight: normal;
}

.container .flow>ol>li>.stepItem>h4 {
    margin: 0 0 5px;
    font-weight: normal;
    line-height: 1.5;
}

.container .flow .presequence {
    padding: 0 0 0 15px;
    background: url(../img/articleStyle/list_6.png) no-repeat 0 2px;
}

.container .flow .reference {
    padding: 0 0 0 18px;
    background: url(../img/articleStyle/list_7.png) no-repeat 0 0px;
}

.container .supplement {
    margin: 15px 0;
    padding: 0;
}

.container .supplement>h5 {
    margin: 0;
    padding: 2px 0 2px 30px;
    background: url(../img/accordion_icon.png) no-repeat -240px -30px;
    border-bottom: 1px solid #c99;
    font-weight: normal;
    color: #a33;
    min-height: 16px;
    cursor: pointer;
}

.container .supplement>h5.open {
    background-position: -210px -60px;
}

.container .supplement>.supplementContents {
    margin: 0;
    padding: 10px;
    border: solid #c99;
    border-width: 0 1px 1px;
    display: none;
}

.container .supplement.non_child>h5 a {
    color: #a33;
    text-decoration: none;
}

.container #errMsg .supplement>h5:hover {
    text-decoration: underline;
}

.container ol.substep {
    margin: 0 0 0 -8px;
    padding: 0;
}

.container ol.substep>li {
    margin: 8px 0;
    padding: 0.2em 0 0 45px;
    background: url(../img/articleStyle/list_number.gif) no-repeat;
    font-weight: normal;
    color: #000;
    list-style: none;
    min-height: 13px;
    line-height: 16px;
}

.container ol.substep>li.n1,
.container ol.substep>li:nth-child(1) {
    background-position: -1960px 0px;
}

.container ol.substep>li.n2,
.container ol.substep>li:nth-child(2) {
    background-position: -1920px -30px;
}

.container ol.substep>li.n3,
.container ol.substep>li:nth-child(3) {
    background-position: -1880px -60px;
}

.container ol.substep>li.n4,
.container ol.substep>li:nth-child(4) {
    background-position: -1840px -90px;
}

.container ol.substep>li.n5,
.container ol.substep>li:nth-child(5) {
    background-position: -1800px -120px;
}

.container ol.substep>li.n6,
.container ol.substep>li:nth-child(6) {
    background-position: -1760px -150px;
}

.container ol.substep>li.n7,
.container ol.substep>li:nth-child(7) {
    background-position: -1720px -180px;
}

.container ol.substep>li.n8,
.container ol.substep>li:nth-child(8) {
    background-position: -1680px -210px;
}

.container ol.substep>li.n9,
.container ol.substep>li:nth-child(9) {
    background-position: -1640px -240px;
}

.container ol.substep>li.n10,
.container ol.substep>li:nth-child(10) {
    background-position: -1600px -270px;
}

.container ol.substep>li.n11,
.container ol.substep>li:nth-child(11) {
    background-position: -1560px -300px;
}

.container ol.substep>li.n12,
.container ol.substep>li:nth-child(12) {
    background-position: -1520px -330px;
}

.container ol.substep>li.n13,
.container ol.substep>li:nth-child(13) {
    background-position: -1480px -360px;
}

.container ol.substep>li.n14,
.container ol.substep>li:nth-child(14) {
    background-position: -1440px -390px;
}

.container ol.substep>li.n15,
.container ol.substep>li:nth-child(15) {
    background-position: -1400px -420px;
}

.container ol.substep>li.n16,
.container ol.substep>li:nth-child(16) {
    background-position: -1360px -450px;
}

.container ol.substep>li.n17,
.container ol.substep>li:nth-child(17) {
    background-position: -1320px -480px;
}

.container ol.substep>li.n18,
.container ol.substep>li:nth-child(18) {
    background-position: -1280px -510px;
}

.container ol.substep>li.n19,
.container ol.substep>li:nth-child(19) {
    background-position: -1240px -540px;
}

.container ol.substep>li.n20,
.container ol.substep>li:nth-child(20) {
    background-position: -1200px -570px;
}

.container ol.substep>li.n21,
.container ol.substep>li:nth-child(21) {
    background-position: -1160px -600px;
}

.container ol.substep>li.n22,
.container ol.substep>li:nth-child(22) {
    background-position: -1120px -630px;
}

.container ol.substep>li.n23,
.container ol.substep>li:nth-child(23) {
    background-position: -1080px -660px;
}

.container ol.substep>li.n24,
.container ol.substep>li:nth-child(24) {
    background-position: -1040px -690px;
}

.container ol.substep>li.n25,
.container ol.substep>li:nth-child(25) {
    background-position: -1000px -720px;
}

.container ol.substep>li.n26,
.container ol.substep>li:nth-child(26) {
    background-position: -960px -750px;
}

.container ol.substep>li.n27,
.container ol.substep>li:nth-child(27) {
    background-position: -920px -780px;
}

.container ol.substep>li.n28,
.container ol.substep>li:nth-child(28) {
    background-position: -880px -810px;
}

.container ol.substep>li.n29,
.container ol.substep>li:nth-child(29) {
    background-position: -840px -840px;
}

.container ol.substep>li.n30,
.container ol.substep>li:nth-child(30) {
    background-position: -800px -870px;
}

.container ol.substep>li.n31,
.container ol.substep>li:nth-child(31) {
    background-position: -760px -900px;
}

.container ol.substep>li.n32,
.container ol.substep>li:nth-child(32) {
    background-position: -720px -930px;
}

.container ol.substep>li.n33,
.container ol.substep>li:nth-child(33) {
    background-position: -680px -960px;
}

.container ol.substep>li.n34,
.container ol.substep>li:nth-child(34) {
    background-position: -640px -990px;
}

.container ol.substep>li.n35,
.container ol.substep>li:nth-child(35) {
    background-position: -600px -1020px;
}

.container ol.substep>li.n36,
.container ol.substep>li:nth-child(36) {
    background-position: -560px -1050px;
}

.container ol.substep>li.n37,
.container ol.substep>li:nth-child(37) {
    background-position: -520px -1080px;
}

.container ol.substep>li.n38,
.container ol.substep>li:nth-child(38) {
    background-position: -480px -1110px;
}

.container ol.substep>li.n39,
.container ol.substep>li:nth-child(39) {
    background-position: -440px -1140px;
}

.container ol.substep>li.n40,
.container ol.substep>li:nth-child(40) {
    background-position: -400px -1170px;
}

.container ol.substep>li.n41,
.container ol.substep>li:nth-child(41) {
    background-position: -360px -1200px;
}

.container ol.substep>li.n42,
.container ol.substep>li:nth-child(42) {
    background-position: -320px -1230px;
}

.container ol.substep>li.n43,
.container ol.substep>li:nth-child(43) {
    background-position: -280px -1260px;
}

.container ol.substep>li.n44,
.container ol.substep>li:nth-child(44) {
    background-position: -240px -1290px;
}

.container ol.substep>li.n45,
.container ol.substep>li:nth-child(45) {
    background-position: -200px -1320px;
}

.container ol.substep>li.n46,
.container ol.substep>li:nth-child(46) {
    background-position: -160px -1350px;
}

.container ol.substep>li.n47,
.container ol.substep>li:nth-child(47) {
    background-position: -120px -1380px;
}

.container ol.substep>li.n48,
.container ol.substep>li:nth-child(48) {
    background-position: -80px -1410px;
}

.container ol.substep>li.n49,
.container ol.substep>li:nth-child(49) {
    background-position: -40px -1440px;
}

.container ol.substep>li.n50,
.container ol.substep>li:nth-child(50) {
    background-position: 0px -1470px;
}

.container ol.annotation {
    padding: 5px 0 10px;
    list-style: none;
}

.container ol.annotation>li {
    padding-left: 33px;
    margin: 3px 0;
    position: relative;
}

.container ol.annotation>li>p {
    margin-bottom: 2px;
}

.container ol.annotation>li:before {
    position: absolute;
    left: 3px;
}

.container ol.annotation>li.n1:before {
    content: "*1";
}

.container ol.annotation>li.n2:before {
    content: "*2";
}

.container ol.annotation>li.n3:before {
    content: "*3";
}

.container ol.annotation>li.n4:before {
    content: "*4";
}

.container ol.annotation>li.n5:before {
    content: "*5";
}

.container ol.annotation>li.n6:before {
    content: "*6";
}

.container ol.annotation>li.n7:before {
    content: "*7";
}

.container ol.annotation>li.n8:before {
    content: "*8";
}

.container ol.annotation>li.n9:before {
    content: "*9";
}

.container ol.annotation>li.n10:before {
    content: "*10";
}

.container ol.annotation>li.n11:before {
    content: "*11";
}

.container ol.annotation>li.n12:before {
    content: "*12";
}

.container ol.annotation>li.n13:before {
    content: "*13";
}

.container ol.annotation>li.n14:before {
    content: "*14";
}

.container ol.annotation>li.n15:before {
    content: "*15";
}

.container ol.annotation>li.n16:before {
    content: "*16";
}

.container ol.annotation>li.n17:before {
    content: "*17";
}

.container ol.annotation>li.n18:before {
    content: "*18";
}

.container ol.annotation>li.n19:before {
    content: "*19";
}

.container ol.annotation>li.n20:before {
    content: "*20";
}

.container ol.annotation>li.n21:before {
    content: "*21";
}

.container ol.annotation>li.n22:before {
    content: "*22";
}

.container ol.annotation>li.n23:before {
    content: "*23";
}

.container ol.annotation>li.n24:before {
    content: "*24";
}

.container ol.annotation>li.n25:before {
    content: "*25";
}

.container ol.annotation>li.n26:before {
    content: "*26";
}

.container ol.annotation>li.n27:before {
    content: "*27";
}

.container ol.annotation>li.n28:before {
    content: "*28";
}

.container ol.annotation>li.n29:before {
    content: "*29";
}

.container ol.annotation>li.n30:before {
    content: "*30";
}

.container ol.annotation>li+li {
    margin-top: 8px;
}

.container dl.define dt {
    float: left;
}

.container dl.define dd {
    margin-left: 130px;
}

.container dl.define dd p:before {
    content: ':';
}

.container .tileLayoutA {
    margin: -10px;
}

.container .tileLayoutA:after {
    content: "";
    clear: both;
    display: table;
}

.container .tileLayoutA .block {
    margin: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #000;
    width: 260px;
    float: left;
}

.container .tileLayoutA .block .link {
    padding: 5px;
    cursor: pointer;
}

.container .tileLayoutA .block .link:hover,
.container .tileLayoutA .block .link:focus {
    background: #f8c27b;
}

.container .tileLayoutA .block h4 {
    margin: 0 0 10px;
    padding: 0;
    background: transparent;
    line-height: 1.5;
}

.container .tileLayoutA .block h4 a {
    text-decoration: none;
}

.container .tileLayoutA .block .image {
    margin: 0 -5px;
    text-align: center;
}

.container .tileLayoutA .block>p {
    margin: 5px 10px 0 3px;
    padding: 0px 0 0 17px;
}

#c1 .container h1 {
    padding: 0;
    min-height: auto;
    width: auto;
}

#sitemap .pagelink:after {
    content: '';
    display: table;
    clear: both;
}

#sitemap .pagelink li {
    margin: 0;
    padding: 0 5px 5px;
    background: none;
    float: left;
    list-style: none;
    width: 30%;
}

#sitemap .pagelink li a {
    margin: 0;
    padding: 3px 7px;
    background: #fee;
    border: 1px solid #dcc;
    display: block;
}

#sitemap h2 {
    margin: 30px 0 5px;
    clear: both;
}

#sitemap ul li {
    background: url(../img/list_icon.png) no-repeat -180px -50px;
}

#container h5.option04 {
    margin-top: 30px;
    background: url(../img/articleStyle/icon_setting.png) no-repeat 0 3px;
    font-size: 18px;
    padding: 2px 0 0 25px;
    min-height: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

#container div[data-macro-name="mark-link"] table.macroTable {
    width: inherit !important;
    overflow: hidden;
    background: transparent;
}

#container div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td {
    border: none;
}

#container div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td>img {
    margin: 0 !important;
}

#container div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td a {
    font-size: 1rem;
}

#container table div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td:first-child {
    width: 15px;
}

#container table div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td:first-child>img {
    width: 15px;
}

#container table div[data-macro-name="mark-link"] table.macroTable>tbody>tr>td a {
    font-size: 0.7rem;
}

.table-wrap:not([data-macro-name]) {
    /* white-space: pre-line; */
    overflow-x: auto;
}

/*bullet number*/
.list-index00 {
     counter-reset:item 0 !important;
}

.list-index01 {
     counter-reset:item 1 !important;
}

.list-index02 {
     counter-reset:item 2 !important;
}

.list-index03 {
     counter-reset:item 3 !important;
}

.list-index04 {
     counter-reset:item 4 !important;
}

.list-index05 {
     counter-reset:item 5 !important;
}

.list-index06 {
     counter-reset:item 6 !important;
}

.list-index07 {
     counter-reset:item 7 !important;
}

.list-index08 {
     counter-reset:item 8 !important;
}

.list-index09 {
     counter-reset:item 9 !important;
}

.list-index10 {
     counter-reset:item 10 !important;
}

.list-index11 {
     counter-reset:item 11 !important;
}

.list-index12 {
     counter-reset:item 12 !important;
}

.list-index13 {
     counter-reset:item 13 !important;
}

.list-index14 {
     counter-reset:item 14 !important;
}

.list-index15 {
     counter-reset:item 15 !important;
}

.list-index16 {
     counter-reset:item 16 !important;
}

.list-index17 {
     counter-reset:item 17 !important;
}

.list-index18 {
     counter-reset:item 18 !important;
}

.list-index19 {
     counter-reset:item 19 !important;
}

.list-index20 {
     counter-reset:item 20 !important;
}

.list-index21 {
     counter-reset:item 21 !important;
}

.list-index22 {
     counter-reset:item 22 !important;
}

.list-index23 {
     counter-reset:item 23 !important;
}

.list-index24 {
     counter-reset:item 24 !important;
}

.list-index25 {
     counter-reset:item 25 !important;
}

.list-index26 {
     counter-reset:item 26 !important;
}

.list-index27 {
     counter-reset:item 27 !important;
}

.list-index28 {
     counter-reset:item 28 !important;
}

.list-index29 {
     counter-reset:item 29 !important;
}

.list-index30 {
     counter-reset:item 30 !important;
}

.list-index31 {
     counter-reset:item 31 !important;
}

.list-index32 {
     counter-reset:item 32 !important;
}

.list-index33 {
     counter-reset:item 33 !important;
}

.list-index34 {
     counter-reset:item 34 !important;
}

.list-index35 {
     counter-reset:item 35 !important;
}

.list-index36 {
     counter-reset:item 36 !important;
}

.list-index37 {
     counter-reset:item 37 !important;
}

.list-index38 {
     counter-reset:item 38 !important;
}

.list-index39 {
     counter-reset:item 39 !important;
}

.list-index40 {
     counter-reset:item 40 !important;
}

.list-index41 {
     counter-reset:item 41 !important;
}

.list-index42 {
     counter-reset:item 42 !important;
}

.list-index43 {
     counter-reset:item 43 !important;
}

.list-index44 {
     counter-reset:item 44 !important;
}

.list-index45 {
     counter-reset:item 45 !important;
}

.list-index46 {
     counter-reset:item 46 !important;
}

.list-index47 {
     counter-reset:item 47 !important;
}

.list-index48 {
     counter-reset:item 48 !important;
}

.list-index49 {
     counter-reset:item 49 !important;
}

.list-index50 {
     counter-reset:item 50 !important;
}

.list-index51 {
     counter-reset:item 51 !important;
}

.list-index52 {
     counter-reset:item 52 !important;
}

.list-index53 {
     counter-reset:item 53 !important;
}

.list-index54 {
     counter-reset:item 54 !important;
}

.list-index55 {
     counter-reset:item 55 !important;
}

.list-index56 {
     counter-reset:item 56 !important;
}

.list-index57 {
     counter-reset:item 57 !important;
}

.list-index58 {
     counter-reset:item 58 !important;
}

.list-index59 {
     counter-reset:item 59 !important;
}

.list-index60 {
     counter-reset:item 60 !important;
}

.list-index61 {
     counter-reset:item 61 !important;
}

.list-index62 {
     counter-reset:item 62 !important;
}

.list-index63 {
     counter-reset:item 63 !important;
}

.list-index64 {
     counter-reset:item 64 !important;
}

.list-index65 {
     counter-reset:item 65 !important;
}

.list-index66 {
     counter-reset:item 66 !important;
}

.list-index67 {
     counter-reset:item 67 !important;
}

.list-index68 {
     counter-reset:item 68 !important;
}

.list-index69 {
     counter-reset:item 69 !important;
}

.list-index70 {
     counter-reset:item 70 !important;
}

.list-index71 {
     counter-reset:item 71 !important;
}

.list-index72 {
     counter-reset:item 72 !important;
}

.list-index73 {
     counter-reset:item 73 !important;
}

.list-index74 {
     counter-reset:item 74 !important;
}

.list-index75 {
     counter-reset:item 75 !important;
}

.list-index76 {
     counter-reset:item 76 !important;
}

.list-index77 {
     counter-reset:item 77 !important;
}

.list-index78 {
     counter-reset:item 78 !important;
}

.list-index79 {
     counter-reset:item 79 !important;
}

.list-index80 {
     counter-reset:item 80 !important;
}

.list-index81 {
     counter-reset:item 81 !important;
}

.list-index82 {
     counter-reset:item 82 !important;
}

.list-index83 {
     counter-reset:item 83 !important;
}

.list-index84 {
     counter-reset:item 84 !important;
}

.list-index85 {
     counter-reset:item 85 !important;
}

.list-index86 {
     counter-reset:item 86 !important;
}

.list-index87 {
     counter-reset:item 87 !important;
}

.list-index88 {
     counter-reset:item 88 !important;
}

.list-index89 {
     counter-reset:item 89 !important;
}

.list-index90 {
     counter-reset:item 90 !important;
}

.list-index91 {
     counter-reset:item 91 !important;
}

.list-index92 {
     counter-reset:item 92 !important;
}

.list-index93 {
     counter-reset:item 93 !important;
}

.list-index94 {
     counter-reset:item 94 !important;
}

.list-index95 {
     counter-reset:item 95 !important;
}

.list-index96 {
     counter-reset:item 96 !important;
}

.list-index97 {
     counter-reset:item 97 !important;
}

.list-index98 {
     counter-reset:item 98 !important;
}

.list-index99 {
     counter-reset:item 99 !important;
}

/*# sourceMappingURL=pc.css.map */