/*  */
/* --------------------- */
/******************************************************
	TOP PAGE
*******************************************************/

* {
	margin: 0;
	padding: 0;
	line-height: 1.3;
}


html {
	overflow-y: scroll;
}


body {
	color: #000;
	font-style: normal;
	font-weight: normal;
	background: #fff;
}


div[data-role="page"],
#localToc,
#searchResult {
	display: none;
}


p {
	margin-bottom: 1em;
}


strong,
b {
	font-weight: bold;
}


img {
	border: 0px none;
	vertical-align: middle;
}


hr {
	display: none;
}


em,
i,
address {
	font-style: normal;
}


ul li {
	list-style: none;
}


a:link {
	color: #029;
}

a:visited {
	color: #7a1f9f;
}

a:link,
a:visited {
	text-decoration: none;
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
	text-decoration: underline;
	color: #f00;
}


/*--------------------------
	JQuery customize
---------------------------*/

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-tl,
.ui-corner-tr,
.ui-corner-bl,
.ui-corner-br {
	border-radius: 0;
}

.ui-widget {
	font-family: inherit;
	font-size: inherit;
}

.ui-widget-header {
	background: none;
	border: 0px none;
	color: inherit;
	font-weight: inherit;
}

.ui-widget-content {
	background: none;
	color: inherit;
}

.ui-tabs {
	padding: 0;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
}


/*--------------------------
	layout
---------------------------*/

#body {
	min-width: 882px;
}

#body > div > * {
	margin: 0 auto;
	width: 882px;
}


#contentsInner {
	padding: 20px 0 0;
}


#categoryNavi {
	float: left;
	position: relative;
}


#container {
	float: right;
	position: relative;
}


#c1 #container {
	float: none;
	width: 100%;
	position: static;
}


#header:after,
#header > div:after,
#footer:after,
#footer > *:after,
#globalNav:after,
#contentsInner:after {
	content: "";
	clear: both;
	display: table;
}


/*--------------------------
	modal
---------------------------*/

.modalWin {
	background: #e5e5e5;
}

.modalWin .ui-dialog-titlebar {
	padding: 0.1em 0.6em;
	background-color: #efccd5;
	background-image: url(../css/images/highlight-soft_75_e5ccd5.png);
	border: none;
	min-height: 18px;
}

.modalWin .ui-dialog-titlebar span.ui-dialog-title {
	margin: 0;
}

.modalWin .ui-dialog-content {
	margin: 0;
	padding: 10px 15px 15px;
	border: 1px solid #aaa;
	background: #fff;
	line-height: 1.6;
	/**/
}

.modalWin .ui-state-focus {
	background: #d3d3d3 url(../css/images/glass_75_e6e6e6.png) repeat-x 50% 50%;
	border-color: #d3d3d3;
}

.modalWin .btn {
	margin: 20px 0 0;
	text-align: center;
}

.modalWin div.ope {
	padding: 2px 3px 2px 6px;
	background: #cececc;
	border: 1px solid #aaa;
	text-align: left;
}

.modalWin div.ope button {
	margin: 0 5px 0 0;
}

.modalWin div.ope .ui-button-text {
	padding: 2px 6px;
	width: 60px;
}

.modalWin .description {
	margin: 0;
	padding: 5px 0 0;
	display: block;
	color: #555;
	clear: both;
}

.modalWin .list {
	padding: 10px 0;
	overflow: auto;
}

.modalWin .list li {
	margin: 5px 0 5px 20px;
	line-height: 20px;
	position: relative;
}

.modalWin .list li input {
	margin: 3px 0 0 -15px;
	display: inline-block;
	vertical-align: top;
	position: absolute;
}

.modalWin .list label {
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
}


/* IE7 */

* html .modalWin div.ope .ui-button-text,
*:first-child + html .modalWin div.ope .ui-button-text {
	padding: 2px 5px 0;
}


/*--------------------------
	toTop
--------------------------*/

#toTop {
	margin: 0;
	width: inherit;
	display: none;
	position: absolute;
}

#toTop span {
	margin: 0 0 0 860px;
	background: url(../img/to_top.png) no-repeat 0 0;
	display: block;
	width: 22px;
	height: 45px;
	position: fixed;
	bottom: 30px;
	z-index: 15;
	cursor: pointer;
}


#top #toTop span {
	margin-left: 884px;
}


@media screen and (max-width: 898px) {
#toTop span {
	margin: 0;
	position: absolute;
	right: 0;
}
}

/*--------------------------
	header
---------------------------*/

#header {
	padding: 15px 0 0;
	border-bottom: 3px solid #e00001;
	height: 55px;
	color: #727171;
	/*--------
	copyright
	-----------*/
	/*--------
	 globalNav
	-----------*/
}

#header #meta {
	float: left;
}

#header #meta * {
	vertical-align: top;
	line-height: 1;
}

#header #meta h1,
#header #meta span {
	margin-left: 35px;
	font-weight: bold;
}

#header #dm {
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;
	position: fixed;
	top: -10px;
}

#header #copyright {
	font-size: 0.6em;
	text-align: right;
}

#header #copyright address {
	margin-top: -2px;
	float: right;
}

#header #globalNav {
	margin: 0 0 0 110px;
	min-width: 300px;
	float: left;
}

#header #globalNav li {
	margin: 0 -1px 0 0;
	padding: 0 5px;
	border: solid #000;
	border-width: 0 1px;
	display: block;
	font-weight: bold;
	float: left;
}

#header #globalNav li.naviTop,
#header #globalNav li.naviPrintout {
	border-width: 0;
}

#header #globalNav li span {
	line-height: 20px;
}


/*--------------------------
	footer
---------------------------*/

#body #footer {
	padding: 20px 0;
	color: #4d4d4d;
}

#body #footer > * {
	margin-top: -1px;
	border: 1px solid #999;
}

#body #footer .exlink {
	background: #727171;
}

#body #footer .exlink li {
	float: left;
}

#body #footer .exlink li a {
	margin-left: -1px;
	padding: 0 15px 0 10px;
	border-left: 1px solid #999;
	width: 195px;
	display: inline-block;
	line-height: 32px;
	color: #fff;
}

#body #footer .exlink li a:hover {
	background: #336ea6;
	text-decoration: none;
}

#body #footer .link li {
	float: left;
}

#body #footer .link li a {
	margin: 0 30px 0 10px;
	padding: 0 0 0 12px;
	background: url(../img/mark_ancher.png) no-repeat 0 9px;
	display: inline-block;
	line-height: 32px;
}

#body #footer #manualID,
#body #footer address {
	margin: 0 4px;
	line-height: 32px;
}

#body #footer #manualID {
	float: left;
}

#body #footer address {
	float: right;
}


#contentsNo {
	display: none;
}


/*--------------------------
	search
---------------------------*/

#c1 #search {
	visibility: hidden;
}


#search {
	margin: 0px 0 0 20px;
	width: 330px;
	float: right;
}

#search label {
	display: none;
}

#search #searchKey {
	padding: 0 3px;
	border: 1px solid #000;
	width: 275px;
	height: 24px;
	line-height: 24px;
	color: #9fa0a0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#search #searchKey.keyIn {
	color: #4d4d4d;
}

#search #searchSubmit {
	display: none;
}

#search #searchBtn {
	margin: 0;
	display: inline-block;
	width: 55px;
	height: 24px;
	vertical-align: top;
	cursor: pointer;
}

#search #searchBtn span {
	display: none;
}


/* IE7 */

* html #header > div,
*:first-child + html #header > div {
	position: relative;
}

* html #header > div > *,
*:first-child + html #header > div > * {
	float: none;
}

* html #search,
*:first-child + html #search {
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}

* html #search #searchKey,
*:first-child + html #search #searchKey {
	width: 265px;
}

* html #search #searchBtn,
*:first-child + html #search #searchBtn {
	vertical-align: 0px;
}


#searchOption {
	position: relative;
	color: #000;
}

#searchOption > span.label {
	margin: 4px 0 0;
	display: inline-block;
}

#searchOption #option {
	padding: 5px 10px;
	background: #fff;
	border: 1px solid #ccc;
	position: absolute;
	top: 4px;
	left: 0;
	z-index: 5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: none;
}

#searchOption #option > div {
	margin: 5px 0;
}

#searchOption #option > div .formItem {
	display: inline-block;
}

#searchOption #option .header:after {
	clear: both;
	content: '';
	display: table;
}

#searchOption #option .header > h5 {
	float: left;
}

#searchOption #option .header > span.close {
	float: right;
	color: #029;
	cursor: pointer;
}

#searchOption #option .header > span.close:hover {
	color: #f00;
	text-decoration: underline;
}

#searchOption label {
	padding: 0 10px 0 4px;
	display: inline-block;
}

#searchOption .disabled label {
	color: #ccc;
}

#searchOption input {
	vertical-align: -2px;
}


/*--------------------------
	ui-autocomplete
---------------------------*/

.ui-autocomplete {
	background: #fff;
}

.ui-autocomplete.moreThan {
	padding-bottom: 0px;
}

.ui-autocomplete.moreThan:after {
	margin: 3px 0;
	content: "\22ee";
	/*fe19*/
	text-align: center;
	display: block;
	width: 35%;
	font-size: 16px;
	font-weight: bold;
}

.ui-autocomplete.ui-menu .ui-menu-item {
	padding: 3px;
	list-style: none;
	font-size: 12px;
}

.ui-autocomplete.ui-menu .ui-menu-item.ui-state-focus {
	margin: 0;
	padding: 3px;
	background: #ffe4b0;
	border: none;
	font-weight: normal;
	color: #000;
}


/*--------------------------
	searchResult
--------------------------*/

#searchResult {
	padding: 0 5px;
	background: #fff;
	border: 1px solid #b5b5b5;
}

#searchResult .navigation {
	padding: 8px 2px 5px;
	border-bottom: 1px solid #909090;
}

#searchResult .navigation:after {
	content: "";
	clear: both;
	display: table;
}

#searchResult .navigation .count {
	float: left;
	font-weight: bold;
}

#searchResult .navigation .count span {
	margin-right: 3px;
	line-height: 16px;
	display: inline-block;
}

#searchResult .navigation .navi {
	float: right;
}

#searchResult .navigation .navi span {
	margin: 0 1px;
	padding: 2px;
	min-height: 14px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#searchResult .navigation .navi .marg {
	margin: 0;
	padding: 2px 0;
	background: url(../img/btn_prevnext.png) no-repeat 0 50%;
}

#searchResult .navigation .navi .marg.first {
	background-position: 0 30%;
	width: 15px;
}

#searchResult .navigation .navi .marg.prev {
	background-position: -15px 30%;
	width: 11px;
}

#searchResult .navigation .navi .marg.next {
	background-position: -26px 30%;
	width: 11px;
}

#searchResult .navigation .navi .marg.last {
	background-position: -37px 30%;
	width: 15px;
}

#searchResult .navigation .navi .disable {
	opacity: 0.3;
	filter: Alpha(opacity=30) \9;
	cursor: default;
}

#searchResult .navigation .navi .selected {
	background: #555;
	color: #fff;
	cursor: default;
}

#searchResult .navigation .navi .hide {
	display: none;
}

#searchResult .result h2 {
	margin: 0;
	padding: 3px 8px;
	background: #ddd;
	font-size: 1em;
}

#searchResult .result h2:first-child {
	margin-top: 15px;
}

#searchResult .result .item {
	margin: 15px 7px;
	word-break: break-all;
}

#searchResult .result .item h3 {
	margin: 0 0 5px;
}

#searchResult .result .item p {
	margin: 0;
	line-height: 16px;
}

#searchResult .result mark {
	background: #fcf;
}

#searchResult .result .info {
	margin: 10px 5px;
	font-size: 1.2em;
}

#searchResult .termWord {
	margin: 15px 7px;
}

#searchResult .termWord p {
	margin: 5px 0;
}

#searchResult #relatedWords {
	margin: 15px 7px;
}

#searchResult #relatedWords .relatedKey {
	margin-right: 10px;
}

#searchResult #relatedWords .relatedKey:last-child {
	margin-right: 0;
}

#searchResult #relatedWords .relatedKey a {
	line-height: 16px;
}


#top #header {
	border-bottom: 3px solid #e00001;
}

#top #header #headerNavi {
	float: right;
}

#top #header #headerNavi * {
	line-height: 1;
}

#top #header #headerNavi a:link {
	padding-left: 15px;
	background: url(../img/mark_ancher.png) no-repeat 0 3px;
}

#top h1 {
	display: inline;
}

#top #upper {
	background: #c7d9f0;
	width: auto;
}

#top #upper > div {
	margin: 0 auto;
	padding: 15px 0 7px;
	width: 882px;
}

#top #upper .upHead {
	height: 50px;
}

#top #upper #model {
	width: 512px;
	float: left;
	font-weight: bold;
}

#top #upper #search {
	margin-top: 0;
}

#top #upper #search #searchKey {
	border: 0px none;
	height: 24px;
	line-height: 24px;
}

#top #recommend {
	padding: 0;
	background: none;
	border: 0px none;
	color: inherit;
}

#top #recommend ul {
	padding: 0;
	background: none;
	border: 0px none;
	color: inherit;
}

#top #recommend ul li {
	margin: 0;
	padding: 0;
	background: none;
	border: 0px none;
}

#top #recommend ul li a {
	padding: 0;
	background-repeat: no-repeat;
	height: 33px;
	outline: 0px none;
}

#top #recommend > div {
	padding: 14px 10px 6px 15px;
	background: #fff;
	display: none;
}

#top #recommend > div#tab1 {
	display: block;
}

#top #recommend > div > span {
	margin: 0;
	display: inline-block;
}

#top #recommend > div > span + span {
	margin-left: 9px;
}

#top #moreRec {
	margin: 0;
	padding: 8px 0 0;
	background: url(../img/recommend_bottom_bg.png) no-repeat 0 0;
	text-align: right;
	height: 30px;
}

#top #moreRec a {
	width: 195px;
	height: 30px;
	display: inline-block;
}

#top #moreRec a span {
	display: none;
}

#top #mainNavi {
	padding: 20px 0 0;
	display: table;
}

#top #mainNavi > div {
	display: table-row;
}

#top #mainNavi > div#toTop {
	display: none;
}

#top #mainNavi > div > div {
	vertical-align: top;
	display: table-cell;
}

#top #mainNavi .navLeft {
	width: 295px;
}

#top #mainNavi .navLeft a {
	margin: 0 0 2px;
	background-repeat: no-repeat;
	width: 295px;
	height: 52px;
	display: block;
}

#top #mainNavi .navLeft a.copy {
	background-position: 0px 0px;
}

#top #mainNavi .navLeft a.copy:hover {
	background-position: -295px 0px;
}

#top #mainNavi .navLeft a.print {
	background-position: 0px -60px;
}

#top #mainNavi .navLeft a.print:hover {
	background-position: -295px -60px;
}

#top #mainNavi .navLeft a.scan {
	background-position: 0px -120px;
}

#top #mainNavi .navLeft a.scan:hover {
	background-position: -295px -120px;
}

#top #mainNavi .navLeft a.fax {
	background-position: 0px -180px;
}

#top #mainNavi .navLeft a.fax:hover {
	background-position: -295px -180px;
}

#top #mainNavi .navLeft a span {
	display: none;
}

#top #mainNavi .navCenter {
	width: 308px;
	vertical-align: middle;
}

#top #mainNavi .navCenter li {
	margin: 7px 0;
}

#top #mainNavi .navCenter li a {
	margin: 0 auto;
	background-repeat: no-repeat;
	width: 259px;
	height: 55px;
	display: block;
}

#top #mainNavi .navCenter li a.maint {
	background-position: 0px 0px;
}

#top #mainNavi .navCenter li a.maint:hover {
	background-position: -300px 0px;
}

#top #mainNavi .navCenter li a.trouble {
	background-position: 0px -60px;
}

#top #mainNavi .navCenter li a.trouble:hover {
	background-position: -300px -60px;
}

#top #mainNavi .navCenter li a span {
	display: none;
}

#top #mainNavi .navRight {
	width: 275px;
}

#top #mainNavi .navRight > ul > li > a {
	background: url(../img/navi_right_bg.png) no-repeat;
	background-position: 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#top #mainNavi .navRight > ul > li > a span {
	display: inline;
}

#top #mainNavi .navRight > ul > li.open > a,
#top #mainNavi .navRight > ul > li > a:hover {
	background-position: -280px 0;
	text-decoration: none;
}

#top #mainNavi .navRight > ul li a {
	margin: 0 0 2px;
	padding: 0px 10px 0 30px;
	width: 235px;
	height: 29px;
	display: block;
	line-height: 29px;
	font-weight: bold;
	color: #4d4d4d;
}

#top #mainNavi .navRight > ul li a:focus {
	text-decoration: none;
}

#top #mainNavi .navRight > ul li ul {
	margin: 0 0 0 45px;
	background: #c9caca;
	display: none;
	width: 210px;
	position: absolute;
}

#top #mainNavi .navRight > ul li ul li + li {
	margin-top: -1px;
}

#top #mainNavi .navRight > ul li ul li a {
	margin: 0;
	padding: 5px 8px;
	border: 1px solid #fff;
	background: none;
	width: auto;
	height: auto;
	line-height: 1;
	font-weight: normal;
}

#top #mainNavi .navRight > ul li ul li a:hover {
	background: #a7946a;
	color: #fff;
}

#top #mainNavi .navRight > ul li.open ul {
	display: block;
}

#top #mobileLink {
	margin: -10px 0 0;
	padding: 0 0 20px;
	font-size: 0.9em;
	color: #999;
}

#top #mobileLink p {
	text-align: right;
}

#top #upper .upHead:after,
#top #mainNavi:after {
	content: "";
	clear: both;
	display: table;
}

#top.sfp #upper {
	background-color: #c3e1b9;
}

#top.sfp #mainNavi {
	width: auto;
}

#top.sfp #mainNavi .navLeft,
#top.sfp #mainNavi .navRight {
	padding: 0 50px;
	width: auto;
}

#top.sfp #mainNavi .navLeft a.print {
	background-position: 0px -310px;
}

#top.sfp #mainNavi .navLeft a.print:hover {
	background-position: -295px -310px;
}

#top.sfp #mainNavi .navLeft #navCenterItems {
	margin-top: 14px;
}

#top.sfp #mainNavi .navLeft #navCenterItems li {
	margin: 5px 0;
}

#top.sfp #mainNavi .navLeft #navCenterItems a {
	height: 55px;
}

#top.sfp #mainNavi .navLeft #navCenterItems a.maint {
	background-position: 0px -150px;
}

#top.sfp #mainNavi .navLeft #navCenterItems a.maint:hover {
	background-position: -300px -150px;
}

#top.sfp #mainNavi .navLeft #navCenterItems a.trouble {
	background-position: 0px -210px;
}

#top.sfp #mainNavi .navLeft #navCenterItems a.trouble:hover {
	background-position: -300px -210px;
}

#top.sfp #mainNavi .navRight > ul > li > a {
	background-position: 0 -30px;
}

#top.sfp #mainNavi .navRight > ul > li > a:hover {
	background-position: -280px -30px;
}

#top.sfp #footer .exlink li a:hover {
	background-color: #2A7E55;
}

#top.sfp2 #upper {
	background-color: #c3e1b9;
}

#top.sfp2 #mainNavi {
	width: 882px;
}

#top.sfp2 #mainNavi .navLeft,
#top.sfp2 #mainNavi .navRight {
	padding: 0;
	width: 275px;
}

#top.sfp2 #mainNavi .navLeft {
	padding: 1px 0;
}

#top.sfp2 #mainNavi .navLeft > ul > li a {
	margin: 0 0 4px;
	padding: 0px 10px 0 30px;
	background: #f8f8f8 url(../img/mark_ancher.png) no-repeat 11px 6px;
	border: 2px solid #c8e4c0;
	border-radius: 15px;
	display: block;
	width: 275px;
	height: 27px;
	line-height: 25px;
	font-weight: bold;
	color: #4d4d4d;
	box-sizing: border-box;
    overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#top.sfp2 #mainNavi .navLeft > ul > li a:hover {
	background-color: #c9c9ca;
	text-decoration: none;
}

#top.sfp2 #mainNavi .navLeft > ul > li a span {
	display: inline;
}

#top.sfp2 #mainNavi .navCenter {
	width: 332px;
}

#top.sfp2 #mainNavi .navCenter ul li a.maint {
	background-position: 0px -300px;
}

#top.sfp2 #mainNavi .navCenter ul li a.maint:hover {
	background-position: -300px -300px;
}

#top.sfp2 #mainNavi .navCenter ul li a.trouble {
	background-position: 0px -360px;
}

#top.sfp2 #mainNavi .navCenter ul li a.trouble:hover {
	background-position: -300px -360px;
}

#top.sfp2 #mainNavi .navRight > ul > li > a {
	background-position: 0 -30px;
}

#top.sfp2 #mainNavi .navRight > ul > li > a:hover {
	background-position: -280px -30px;
}

#top.sfp2:not([lang='ja-jp']) #mainNavi .navCenter ul li a.maint {
	background-position-y: 0px;
}

#top.sfp2:not([lang='ja-jp']) #mainNavi .navCenter ul li a.maint:hover {
	background-position-y: 0px;
}

#top.sfp2:not([lang='ja-jp']) #mainNavi .navCenter ul li a.trouble {
	background-position-y: -60px;
}

#top.sfp2:not([lang='ja-jp']) #mainNavi .navCenter ul li a.trouble:hover {
	background-position-y: -60px;
}

#top.sfp2 #footer .exlink li a:hover {
	background-color: #2A7E55;
}


/* end top */

#axAlert {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 101;
}

#axAlert .ui-dialog {
	margin: 10px auto 0;
	width: 910px;
	position: relative;
}

#axAlert h3 {
	margin: 5px 0 15px;
	text-align: center;
	font-size: 18px;
}

#axAlert ol {
	margin-left: 40px;
}

#axAlert .btn .chk {
	margin: 0 0 0 18px;
	float: left;
	position: absolute;
}

#axAlert .btn .chk input {
	margin: 0 5px 0 0;
	vertical-align: -2px;
}

/*# sourceMappingURL=pc_top.css.map */
