/*  */
/* --------------------- */
/******************************************************
	Print
*******************************************************/

body {
	background: transparent none;
	font-size: 75% !important;
}


#body {
	position: static;
	min-width: 0 !important;
}


#header,
#footer,
#categoryNavi,
#nextPrev,
#toTop,
#menuShowHide {
	display: none !important;
}


#contents {
	margin: 0 !important;
	padding: 0;
	min-width: 0;
}

#contents #contentsInner {
	padding: 0;
	max-width: 100% !important;
	min-width: 0 !important;
	width: auto !important;
}

#contents #contentsInner #container,
#contents #contentsInner #page {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	background: transparent;
	width: auto !important;
	min-width: 0 !important;
	max-width: 100% !important;
	height: auto !important;
	float: none !important;
	position: static !important;
	top: 0 !important;
}

#contents #contentsInner #page {
	overflow: visible !important;
}

#contents #contentsInner #page #pageInner {
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
	height: auto !important;
}


.outerCommon {
	display: block !important;
	position: relative !important;
}


.commonImage {
	position: absolute !important;
	display: block !important;
}


.container h1 {
	margin: 0 0 15px;
	padding: 8px 10px;
	border: 3px double #000;
	font-size: 1.5em;
}

.container h2 {
	border: 1px solid #000;
	font-size: 1.3em;
}

.container .flow > ol {
	padding-left: 55px;
}

.container .tileLayoutA {
	margin: 0 !important;
}

.container .accordion .accordion-contents,
.container .supplement > .supplementContents {
	display: block !important;
}


#simpleSearch .supplement h5,
#printContainer.err .supplement h5,
#CT_err .supplement h5 {
	font-weight: bold !important;
	color: #000 !important;
	background-position: -210px -60px !important;
	border: 0px none !important;
}

#simpleSearch .supplement .supplementContents,
#printContainer.err .supplement .supplementContents,
#CT_err .supplement .supplementContents {
	margin-left: 30px !important;
	border-width: 1px !important;
}

#simpleSearch p,
#printContainer.err p,
#CT_err p {
	font-size: 12px !important;
}


/* Top page */

#top #header,
#top #footer {
	display: block !important;
}

/*# sourceMappingURL=print.css.map */
