@charset "utf-8";

/*
 *
 * ===== テーマCSS [Stone] =====
 *
 */


/* ========================================


    ページレイアウト


   ======================================== */

/* ----------------------------------------

    全体

   ---------------------------------------- */


/* ----------------------------------------

    ヘッダー

   ---------------------------------------- */

/*
 * --- ヘッダー ---
 */

#page-header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  background-color: #536878;
  z-index: 20;
  transition: top 0.5s;
}

.status-pinch-out #page-header {
  display: none !important;
}


/*
 * --- ヘッダー画像 ---
 */

#header-image {
  padding: 20px 0;
  text-align: center;
}

#header-image img {
  max-height: 40px;
}


/*
 * --- ヘッダータイトル ---
 */

#header-title {
  padding: 15px;
  cursor: default;
}

#header-title p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
}


/*
 * --- ヘッダー スクロール時 ---
 */

.status-scroll-down #page-header  {
  top: -60px;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {
  #page-header {
    height: 50px;
  }

  #header-title {
    padding-top: 12px;
  }
  #header-title p {
    font-size: 16px;
  }
  .status-scroll-down #page-header  {
    top: -50px;
  }
}




/* ----------------------------------------

    検索

   ---------------------------------------- */

/*
 * --- 検索エリア ---
 */

#page-search {
  position: fixed;
  width: 100%;
  top: 60px;
  padding-top: 30px;
  font-size: 18px;
  background-color: #778996;
  z-index: 10;
  transition: top 0.5s, padding-top 0.5s;
}

#page-search input,
#page-search button {
  height: 40px;
  transition: height 0.5s, font-size 0.5s, background-color 0.2s;
}


/*
 * --- 検索ボックス ---
 */

#page-search form {
  position: relative;
  width: 550px;
  max-width: 100%;
  margin: 0 auto 30px auto;
  transition: margin-bottom 0.5s;
}

#page-search form::before {
  content: '\e003';
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 10px;
  top: 3px;
  font-size: 24px;
  color: #536878;
  transition: font-size 0.5s;
}

#page-search input {
  width: 80%;
  padding: 0 15px 0 45px;
  border: none;
  border-radius: 20px 0 0 20px;
}

#page-search input:focus {
  background-color: #FFFFF0;
}

/* --- プレースフォルダー（[,]で連結すると適用されません） --- */
#page-search input:-ms-input-placeholder { color: #B0B0B0; }
#page-search input::-webkit-input-placeholder { color: #B0B0B0; }
#page-search input::-moz-placeholder { color: #B0B0B0; }



/*
 * --- 検索ボタン ---
 */

#page-search button {
  width: 20%;
  margin-left: -10px;
  color: #FFFFFF;
  background-color: #FBC02D;
  border: none;
  border-radius: 0 20px 20px 0;
}

#page-search button:hover {
  background-color: #FCD02D;
}


/*
 * --- 検索エリア スクロール時 ---
 */

.status-scroll-down #page-search {
  top: 0px;
  padding-top: 10px;
}

.status-scroll-down #page-search input,
.status-scroll-down #page-search button {
  height: 28px;
}

.status-scroll-down #page-search input {
  padding-left: 35px;
}

.status-scroll-down #page-search form::before {
  font-size: 16px;
}

.status-scroll-down #page-search form {
  margin-bottom: 10px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-search {
    top: 50px;
    padding-top: 10px;
  }

  #page-search input,
  #page-search button {
    height: 28px;
  }

  #page-search input {
    padding-left: 35px;
  }

  #page-search button {
    position: relative;
    top: -2px;
    font-size: 12px;
  }

  #page-search form::before {
    font-size: 16px;
  }

  #page-search form {
    margin-bottom: 10px;
  }
}





/* ----------------------------------------

    メニュー

   ---------------------------------------- */

#page-menu {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
}

/*
 * --- メニュー ---
 */

#page-menu nav {
  display: none;
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
  background-color: #778996;
}

#page-menu nav h3 {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
}

#page-menu .nav-menu-container {
  margin: 0 30px;
  padding: 10px 10px 10px 0;
  background-color: #E6ECF0;
  border-radius: 10px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu .nav-menu-container {
    margin-left: 10px;
    margin-right: 10px;
  }

}


/*
 * --- メニューコンテンツ ---
 */

#page-menu .nav-menu-content {
  overflow-y: auto;
  padding: 10px 0;
}

/* --- メニューリスト --- */

#page-menu .nav-menu-list {
  overflow: hidden;
  margin-left: 20px;
  padding: 0;
}

#page-menu .nav-menu-list li {
  list-style: none;
  font-size: 14px;
}

#page-menu .nav-menu-list > li {
  font-size: 16px;
}

#page-menu .nav-menu-list li a {
  display: inline-block;
  position: relative;
  padding: 0 15px 0 20px;
  border-radius: 20px;
}

#page-menu .nav-menu-list li a::before {
  content: '\e250';
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 8px;
  top: 25%;
  font-size: 50%;
}

#page-menu .nav-menu-list li a:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

#page-menu .nav-menu-list li.active a {
  color: #FFFFFF;
  background-color: #01579B;
}

#page-menu .nav-menu-list li.active a::before {
  content: '\e013';
}


/* --- メニューリスト 2段組用 --- */

#page-menu .nav-menu-list > li {
  margin-left: 50%;
}

#page-menu .nav-menu-list > li.first-column {
  width: 50%;
  margin-left: 0;
  float: left;
  clear: left;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu .nav-menu-list > li {
    margin-left: 0;
  }

  #page-menu .nav-menu-list > li.first-column {
    width: 100%;
    float: none;
  }

}



/*
 * --- 閉じるボタン ---
 */

#page-menu .btn-close {
  margin-top: 5px;
  margin-right: 40px;
  font-size: 11px;
  color: #FFFFFF;
}

#page-menu .btn-close::before {
  content: '\e113';
  font-family: 'Glyphicons Halflings';
  margin-right: 3px;
}

#page-menu .btn-close:hover {
  color: #FFFFC0;
}


/*
 * --- メニューボタン ---
 */

#page-menu-btn {
  position: absolute;
  right: 40px;
  margin-top: -1px;
}

#page-menu-btn a {
  display: inline-block;
  min-width: 150px;
  padding: 5px 20px;
  vertical-align: top;
  text-align: center;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #778996;
  border-radius: 0 0 5px 5px;
  transition: color 0.2s, padding 0.2s, background-color 0.2s;
}

#page-menu-btn a i {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 18px;
  vertical-align: middle;
  transition: font-size 0.2s, padding 0.2s;
}

#page-menu-btn a.behind {
  background-color: #B6C4CF;
}

#page-menu-btn a:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFC0;
  background-color: #778996;
}

#page-menu-btn a:hover i {
  padding-left: 0;
  padding-right: 0;
  font-size: 24px;
}

/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-menu-btn {
    right: 0;
    left: 0;
    width: 250px;
    margin: 0 auto;
  }

  #page-menu-btn a {
    font-size: 12px;
    min-width: 120px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #page-menu-btn a:hover {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}


/* ----------------------------------------

    ページの移動ナビゲーション

   ---------------------------------------- */

#page-relation {
  padding-top: 160px;
  padding-left: 40px;
  background-color: #F0F0F0;
}

/*
 * --- パンくずリスト ---
 */

.nav-breadcrumb {
  padding-top: 15px;
  padding-bottom: 10px;
}

.nav-breadcrumb > ol {
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.nav-breadcrumb > ol li {
  float: left;
  font-size: 12px;
}

.nav-breadcrumb > ol li a {
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
}

.nav-breadcrumb > ol li a:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.nav-breadcrumb > ol li a:active {
  background-color: #03A9F4;
}

/* --- やじるし --- */

.nav-breadcrumb > ol li::after,
.nav-breadcrumb > ol li:first-child a::before {
  font-family: 'Glyphicons Halflings';
}

.nav-breadcrumb > ol li::after {
  content: '\e258';
  font-size: 9px;
  color: #C0C0C0;
}

.nav-breadcrumb > ol li:last-child::after {
  display: none;
}


/* --- ホーム --- */

.nav-breadcrumb > ol li:first-child a::before {
  content: '\e021';
  padding-right: 5px;
  vertical-align: bottom;
}

/* --- 現在地 --- */

.nav-breadcrumb > ol li:last-child {
  margin-left: 10px;
  padding: 1px 0;
}


/*
 * --- ページシーケンス ---
 */

.nav-sequence {
  padding-bottom: 20px;
}

.nav-sequence a {
  position: relative;
  padding-top: 4px;
  padding-bottom: 1px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #01579B;
}

.nav-sequence a.available:hover {
  background-color: #2196F3;
}

.nav-sequence a.available:active {
  background-color: #03A9F4;
}

.nav-sequence a:first-child {
  padding-left: 25px;
  padding-right: 15px;
  border-radius: 20px 0 0 20px;
}

.nav-sequence a:last-child {
  margin-left: -2px;
  padding-left: 15px;
  padding-right: 25px;
  border-radius: 0 20px 20px 0;
}

.nav-sequence a:first-child::before,
.nav-sequence a:last-child::before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  font-size: 80%;
  top: 20%;
}

.nav-sequence a:first-child::before {
  content: '\e251';
  left: 8px;
}

.nav-sequence a:last-child::before {
  content: '\e250';
  right: 8px;
}

.nav-sequence a.unavailable {
    display: none;
}


/* --- XSサイズ --- */
@media screen and (min-width: 1px) and (max-width: 767px) {

  #page-relation {
    padding-top: 115px;
    padding-left: 10px;
  }

  .nav-sequence {
    padding-bottom: 10px;
  }

  .nav-sequence a {
    display: inline-block;
    width: 49%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

}



/* ----------------------------------------

    フッター

   ---------------------------------------- */

/*
 * --- フッター ---
 */

#page-footer {
  width: 100%;
  min-height: 30px;
  margin-top: 60px;
  background-color: #F0F0F0;
}


/*
 * --- ページの先頭へ ---
 */

#page-footer .to-page-top {
  position: relative;
}

#page-footer .to-page-top a {
  display: inline-block;
  position: absolute;
  height: 24px;
  top: -24px;
  right: 20px;
  padding: 5px 15px;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #01579B;
  border-radius: 8px 8px 0 0;
}

#page-footer .to-page-top a::before {
  content: '\e113';
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
  font-size: 9px;
}

#page-footer .to-page-top a:hover {
  background-color: #2196F3;
}

#page-footer .to-page-top a:active {
  background-color: #03A9F4;
}


/*
 * --- コピーライト ---
 */

#page-footer .copyright {
  padding: 10px 0;
}

#page-footer .copyright p {
  text-align: center;
  line-height: 1.3;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #909090;
}


/* ----------------------------------------

    メインコンテンツ（.wiki-contentを囲む#page-content）

   ---------------------------------------- */

/*
 * --- 本文 ---
 */

#page-content {
  padding-top: 40px;
}


/*
 * --- 見出し ---
 */

#page-content h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

#page-content h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}



/* ========================================


    汎用コンポーネント


   ======================================== */

/* ----------------------------------------

    箇条書き

   ---------------------------------------- */

ol.option01 > li:before {
  background-color: #536878;
  border-radius: 2px;
}

/* ----------------------------------------

    メニューリスト（子ページへのリンク）

   ---------------------------------------- */

.childpages-macro {
  padding-left: 15px;
  margin-top: 5px;
}

.childpages-macro li {
}

.childpages-macro li a {
  display: block;
  position: relative;
  padding: 5px 35px 5px 15px;
  color: #FFFFFF;
  background-color: #01579B;
  border-radius: 15px;
  vertical-align: middle;
}
.childpages-macro li a:hover { background-color: #2196F3; }
.childpages-macro li a:active { background-color: #03A9F4; }

.childpages-macro li a::after {
  content: '\e250';
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  font-size: 12px;
}


/* - eof. */
